[2019-09-05 17:21] LincolnZeng opened #880 "how can I restrict the command execution only to localhost other than from remote IP?"

[2019-09-05 17:30] AudriusButkevicius commented on #880
This question makes no sense in the context of this library. It's down to your own implementation details.

[2019-09-05 17:30] #880 closed

[2019-09-07 01:20] asahasrabuddhe commented on #870
I have started to work on this but I am still getting an error in the test cases

[code]

@saschagrunert would really appreciate your help here

[2019-09-07 09:22] saschagrunert commented on #870
Hm, it might be related to the indirect [blackfriday dependency](https://github.com/russross/blackfriday) of go-md2man. Can you try to remove `$GOPATH/pkg/mod` folder completely and re-test it again? Does it still occur?

[2019-09-07 11:28] asahasrabuddhe commented on #877
I see there is a big discrepancy here.

I checked the tree of the 1.21.0 release. There is no UseShortOptionHandling option defined although the README.md encourages us to do so.

Please check:

https://github.com/urfave/cli/blob/e6cf83ec39f6e1158ced1927d4ed14578fda8edb/README.md#combining-short-bool-options

and

https://github.com/urfave/cli/blob/e6cf83ec39f6e1158ced1927d4ed14578fda8edb/app.go

[2019-09-07 11:33] asahasrabuddhe commented on #870
The issue here was inconsistent use of Go Module system. I dropped in an environment variable GO111MODULE=on which made a lot of difference. Earlier it would run the tests using a different version of dependencies for different Go versions. Now that has been fixed.

I, however, have a new problem related to short flags now

[2019-09-08 02:26] lynncyrin commented on #877
Ah, my comment may not have been clear enough! `1.21.0` does not contain `UseShortOptionHandling` because `UseShortOptionHandling` was merged after `1.21.0` was released. I'll gladly lift my hold on the `1.22.0` release so that we can release `UseShortOptionHandling`, since this is becoming confusing for >= 2 people.

[2019-09-08 02:27] lynncyrin commented on #867
Per https://github.com/urfave/cli/issues/877#issuecomment-529163264, I'm going to draft up a `1.22.0` release now to fix the confusion around `UseShortOptionHandling`.

[2019-09-08 02:31] lynncyrin commented on #877
In the future we can implement a policy of only updating the readme as a part of new version releases, or something similar. This problem will continue coming up unless something changes about the way versions are released 🙁

[2019-09-08 03:05] lynncyrin commented on #869
👀 noticed another one! [aws/aws-lambda-go](https://github.com/aws/aws-lambda-go/blob/f7dba3f79cca0ce775c07c38db419e0da8d7ca64/go.mod)

[2019-09-09 02:41] asahasrabuddhe opened #884 "Mismanaged Branches"
I just wanted to share something that I have experienced working with this codebase. Currently, the master branch is not aligned with the latest stable release. This is not correct. As per convention, the master branch must always contain production-ready code which in our case is tagged at v1.21.0

We could have another branch say develop where we could first merge PRs and then eventually carve o

[2019-09-09 04:01] lynncyrin commented on #884
I'm 👍! I think we would just need a some instructions in `CONTRIBUTING.md` describing how this works.

[2019-09-09 04:19] lynncyrin commented on #884
It would also be nice to have an example of a repo that does branches correctly 🙏

[2019-09-09 05:07] asahasrabuddhe commented on #884
@lynncyrin Unfortunately I do not have a repo that perfectly follows the model that I have in mind. However, I can share this: https://nvie.com/posts/a-successful-git-branching-model/

This blog post is the source of inspiration behind my idea. I have already implemented this in couple of repos at work which I am not able to share. I would very much like to have this flow in place here in our proj

[2019-09-09 16:53] AudriusButkevicius commented on #884
I somewhat disagree. Master is for development, tags are for versioning. Sure, people without go mod might have some pain, but various different options for addressing this in go have existed for years. Go mod is our vendoring system and people should use it.

I'd like to see an example (a go repo) where this is done differently. Even go itself follows the same model.

[2019-09-09 17:00] asahasrabuddhe commented on #884
If not this then I suppose we should at least have dedicated release branches to avoid the mess that I am seeing at the moment.

[2019-09-09 17:03] AudriusButkevicius commented on #884
Why do we need a release branch? We have tags.

[2019-09-09 17:06] asahasrabuddhe commented on #884
We need this because, anyone wanting to contribute is forking the project from master which can have unfinished or unstable features. We could either stabilise the contents in that branch or otherwise request people to fork from elsewhere.

[2019-09-09 18:33] AudriusButkevicius commented on #884
I don't think we should merge unfinished/unstable (unbuildable?) stuff to master.

[2019-09-09 23:26] rliebz commented on #877
There is actually support for `UseShortOptionHandling` in `1.21.0`, but it's only supported at the `Command` level, rather than at the `App` level. The feature introduced in #735 extends that support to the top-level `App`, which I figured was probably the more common use case, so the current docs were re-written at that time to emphasize the `App` config over the `Command` config.

The README for

[2019-09-09 23:41] rliebz commented on #877
I agree that this is important, and probably the real core of the issue here.

I'm not a huge fan of avoiding updating the README until release because it means that the people with the best understanding of the feature (i.e., the feature authors) would no longer be the people responsible for the documentation. Between that, and the fact that all the docs would have to be written at all once, pote

[2019-09-10 00:54] #867 closed

[2019-09-10 02:28] lynncyrin commented on #884
Having sat on this for a day or so - I need to see how another popular repo handles this. Primarily because, as mentioned above, I believe the way we're doing it is the same as how most people are doing it.

[2019-09-10 02:54] lynncyrin commented on #877
^ this is the solution I would prefer!

[2019-09-10 03:19] lynncyrin commented on #878
Thanks @errashe! That repro makes sense, I'm marking this as `help wanted` since it's a pretty obvious bug.

[2019-09-10 03:24] lynncyrin commented on #877
I propose: we close this issue, and create another issue about setting up a "versioned documentation" system (described above)

[2019-09-10 06:08] lynncyrin commented on #810
Unassigning since it's been a few weeks! This issue is up for grabs again ^^

[2019-09-10 06:11] lynncyrin commented on #855
Dropping this into the `status: in review` bucket, @urfave/cli please add a 👍 or 👎 to the top post if you're in favor or against this feature being added!

[2019-09-10 06:12] lynncyrin commented on #853
Dropping this into the `status: in review` bucket, @urfave/cli please add a 👍 or 👎 to the top post if you're in favor or against this feature being added!

_(I'm counting the existing PR by `@anberns` as an exception here)_

[2019-09-10 06:18] lynncyrin commented on #786
It looks like we've got 2 👍's (me + `@asahasrabuddhe) and 1 👎 (`@AudriusButkevicius) from the maintainers here. There's no clear pattern for resolving the discussion here, so I'd like to propose one:

@johnwyles / @michaeljs1990 please post here with any more information you have about this feature / why you want it. I'll leave this open for a few weeks, and close it if it doesn't look like there'

[2019-09-10 06:23] lynncyrin commented on #757
This feature is now `in review`, @urfave/cli please add a 👍 or 👎 to the top post if you're in favor or against this feature being added!

[2019-09-10 06:26] lynncyrin commented on #734
This feature is now `in review`, @urfave/cli please add a 👍 or 👎 to the top post if you're in favor or against this feature being added!

[2019-09-10 06:26] lynncyrin commented on #733
This feature is now `in review`, @urfave/cli please add a 👍 or 👎 to the top post if you're in favor or against this feature being added!

[2019-09-10 06:29] lynncyrin commented on #722
I believe this is what the `UseShortOptionHandling` option does? Please correct me if that's wrong!

[2019-09-10 06:31] lynncyrin commented on #692
This what it sounds like 👍  this sounds like a nice feature, but given the age of this issue i'd like to close it until someone requests it again.

[2019-09-10 06:37] lynncyrin commented on #287
This feature is now `in review` - @urfave/cli please add a 👍 or 👎 to the top post if you're in favor or against this feature being added!

[2019-09-10 06:38] lynncyrin commented on #259
This feature is now `in review` - @urfave/cli please add a 👍 or 👎 to the top post if you're in favor or against this feature being added!

[2019-09-10 06:42] lynncyrin commented on #869
I'm gonna close this as a housekeeping thing, feel free to keep commenting on it though 🙏

[2019-09-10 06:42] #869 closed

[2019-09-10 06:43] lynncyrin commented on #827
I'm gonna close this as a housekeeping thing, feel free to keep commenting on it though 🙏

[2019-09-10 07:09] AudriusButkevicius commented on #692
I don't think this should be a problem of this library. Users can implement their own persistence.

[2019-09-10 07:09] #692 closed

[2019-09-10 10:46] Zaazik opened #888 "Dependency bug in v1.22.0"
When i delete vendor, Gopkg.lock.
Im use "dep ensure -v"
Dep update cli to v1.22.0
And get new dependency
[code]

After when i start my service  i has some errors
[code]

[2019-09-10 10:48] Zaazik commented on #888
To fix that i find in https://github.com/spf13/cobra/issues/917#issuecomment-518857368
Add in toml
[[override]]
  name = "github.com/russross/blackfriday"
  version = "1.5.2"

[2019-09-10 12:46] Narendra-Kamath commented on #888
If anyone is failing to get **aws-lambda-go**, refer to https://github.com/aws/aws-lambda-go/issues/231#issuecomment-529913053

Issue: https://github.com/aws/aws-lambda-go/issues/231

[2019-09-11 04:59] #877 closed

[2019-09-11 05:24] asahasrabuddhe commented on #826
I think merging master with v2 is going to be fun. Aside from bringing over features and bugfixes to v2, I think the two things we should consider for v2 are:

1 Getting rid of altsrc and merging the functionality into the main package
2 Restructuring the codebase to reduce the large number of files in the repo root. I thoroughly agree with @AudriusButkevicius about the need of having to clean the

[2019-09-11 05:57] lynncyrin commented on #826
Since V2 has been around for quite some time, I would slightly prefer if we made those additional breaking changes in V3? I'm fine adding them to V2 if enough people want that though!

[2019-09-11 06:01] asahasrabuddhe commented on #826
What we can do in v2 is do the necessary refactors and still keep the existing public API using referencing our new internal API.

For v3, we can clean that up and have a brand new API

I think the more we push this back, the longer and more difficult the transition is going to be. I think we should have a date in mind and then only add new features to v2 and backport necessary features based on a

[2019-09-11 06:08] lynncyrin commented on #826
Yea I want to get V2 into master ASAP, and ideally on backport bug fixes.

[2019-09-11 06:10] asahasrabuddhe commented on #826
Let me get this underway from coming Monday

[2019-09-11 21:13] johnwyles commented on #786
I still throw in my vote for this feature obviously. I think validation would be a great trick up `urface/cli.v2` sleeves that `spf13/viper` I do not think has and which would take this package to the next level for others.

[2019-09-11 23:49] #878 closed

[2019-09-12 00:09] asahasrabuddhe commented on #888
This should be fixed now. Use v1.22.1

[2019-09-12 00:21] Raggaer commented on #888
@asahasrabuddhe What should I do to get v1.22.1? Using `go get ...` gives the same problems with `md2man.go`

[2019-09-12 00:24] Raggaer commented on #888
@asahasrabuddhe My bad, something was cached on my end (or not) but now it builds correctly. Sorry

[2019-09-12 00:25] asahasrabuddhe commented on #888
Should I close this?

[2019-09-12 00:26] lynncyrin commented on #786
I'm in favor of this feature conceptually.

That said, as a practical matter I think adding it to the package now would produce a ton of maintainer burden. I think we (eg. the maintainers) are very behind the curve as far as maintainence is concerned, so anything that adds maintainer burden should come attached with us getting more maintainers 🙂

I would be willing to reconsider this opinion if th

[2019-09-12 00:26] #888 closed

[2019-09-12 00:27] asahasrabuddhe commented on #870
This is done and released as a part of v1.22.2

[2019-09-12 00:27] #870 closed

[2019-09-12 06:38] lynncyrin commented on #842
✨ I believe this is finished! ✨

[2019-09-12 06:41] lynncyrin commented on #826
@asahasrabuddhe can I assign you to working _only on merging V2 into master_ and (temporarily) un-assign you from the other tasks?

If you put up a draft PR for that work and only work inside of that PR, I can start getting a good idea of where we'll get merge conflicts and start moving all the other existing feature proposals over to V2.

In other words: I would like to help "clear the field" so

[2019-09-12 07:01] asahasrabuddhe commented on #826
@lynncyrin yes please. I'd like that very much

[2019-09-13 14:49] saschagrunert opened #895 ""Did you mean" hint on wrong command or flag"
We could tell the user what the closest command or argument match is by calculating the [levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) between them.

What to do you think?

[2019-09-13 15:45] AudriusButkevicius commented on #895
Should be optional tho

[2019-09-14 09:47] saschagrunert commented on #714
Does this issue still exist? I cannot reproduce it any more with the latest version... 👀

[2019-09-14 10:08] asahasrabuddhe commented on #895
Good idea for a new feature. I always loved how `git` suggests this to us in case of a typo. I also agree that this needs to be optional where a user can enable this probably by a boolean flag if they feel they need it for their CLI.

[2019-09-16 02:03] asahasrabuddhe commented on #826
Most of the changes done to `v2` can be found in the `CHANGELOG.md`. However, for the sake of this conversation, let's take one significant change that I feel is better over the way things are done in v1.

v2 deprecates all the Global* methods of accessing global flags. Instead, it introduces the concept of the parent context. The flags now traverse through the `Lineage` and try to find out the fl

[2019-09-16 02:49] lynncyrin commented on #826
I would like to propose a slightly more aggressive version of this plan, with some more detail!

As soon as https://github.com/urfave/cli/pull/892 is ready to land into master, we take the current master version and release it as `1.23.0`. We'll also take the current documentation and changelog and maintain `v1` and `v2` versions. From that point on, **we no longer release features for v1, but we

[2019-09-16 03:05] lynncyrin commented on #826
There's portions of the above suggestion that I feel pretty good about, since I imagine they won't be controversial 🙂  I'm going to stand up PRs for them now.

[2019-09-16 03:06] lynncyrin commented on #895
I'd love this!!!

[2019-09-16 03:08] lynncyrin commented on #895
Related to the conversation in https://github.com/urfave/cli/issues/826, I'd like to propose we only consider this feature for `v2` 🙏

[2019-09-16 03:15] lynncyrin commented on #855
FYI I'm working on a new policy where new feature suggestions need two 👍's before someone starts working on it, so don't stand up a PR for this now @zx8!

I have also proposed via https://github.com/urfave/cli/issues/826 that we not add any new features into `v1`. Given that nobody but me has chimed in on this issue yet, I'm comfortable moving it to the `v2` considerations. After `v2` is merged in

[2019-09-16 16:03] gchaincl opened #897 "ApplyInputSourceValues and subcommands"
Is it possible to ApplyInputSourceValues to every subcommand?
Meaning that each sub-command will ApplyInputSourceValues for it's own key on the file.

What I need to do is to be able to parse flags on each sub-commands using the same config file.

[2019-09-18 07:23] lynncyrin commented on #897
I don't know offhand, and `altsrc` in general is poorly supported. I've created an issue describing a V3 release where we consider removing it => https://github.com/urfave/cli/issues/833

In the meantime, @gchaincl is there any workaround you can do to achieve the same behavior that you describe here?

[2019-09-18 10:25] gchaincl commented on #897
@lynncyrin not really, but thanks for the response :+1:

[2019-09-18 10:25] #897 closed

[2019-09-18 13:20] mullerch opened #899 "Having arguments on a command with subcommands"
As I understand how the framework works, if the argument matches a subcommand, it's executed as a subcommand. If not, the action is used and the argument is passed as an argument.

Is there a way to use have an argument on a command and using the second (or number n) argument as subcommand ?

This would allow to have such kind of syntax:

`directory person arnold address`

Where:
- directory: app

[2019-09-19 01:20] cacheflux commented on #795
I was stuck with the same problem and got the solution from @erikh:

You can query the global flags in `app.Flags` from a subcommand with `c.GlobalBool`, so instead of `c.Bool("xts")` it's `c.GlobalBool("xts")`.

You also need to specify the global flags before the subcommand, so this should work:
[code]

[2019-09-19 08:13] AudriusButkevicius commented on #899
https://github.com/urfave/cli/pull/112

Not sure if its still available, but shout if you can't work it out.

[2019-09-19 08:13] #899 closed

[2019-09-19 08:18] AudriusButkevicius commented on #826
Sorry, have not red comments in full, but I vote for "once we merge v2, v1 is dead, and we only merge bug fix PR's (yet do not promise to fix stuff, people experiencing the bug can do that (unless its something tragic)).

[2019-09-24 05:05] lvbin2012 opened #901 "Dependency package download failed"
The package "https://github.com/cpuguy83/go-md2man/v2/md2man" used in docs.go could not been download any more. It needs to be fixed please.

[2019-09-25 13:05] zzell commented on #901
Downgrading to v1.21.0 worked for me.

[2019-10-02 02:50] lynncyrin commented on #901
@lvbin2012 @zzell @vulcan-lin @lbarman can any of you show me a CI build that reproduces this?

[2019-10-02 07:35] saschagrunert commented on #901
@lvbin2012 did you run this with enabled go modules? How does the output of `go env` look like?

[2019-10-03 10:45] eccles opened #904 "Breaks go get -u"
I am trying to execute go get -u ./... on my repo and get the following error:

go: gopkg.in/urfave/cli.v1@v1.22.1: go.mod has non-....v1 module path "github.com/urfave/cli" at revision v1.22.1

The urfave/cli package is an indirect dependency so I cannot fix this myself.

go env:
GOARCH="amd64"
GOBIN="/home/xxxx/go/bin"
GOCACHE="/homexxxxl/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
G

[2019-10-04 00:51] masonj88 commented on #863
I'm new here, but I'd love to help with this.  I can add a note for zsh too if that's still supported.

[2019-10-04 06:54] lynncyrin commented on #863
@masonj88 go for it!

[2019-10-06 15:43] johnnylei commented on #901
i met this problem also; "urfave/cli/docs.go:11:2: cannot find package "github.com/cpuguy83/go-md2man/v2/md2man"";
$ go env
[code]

[2019-10-06 19:53] lynncyrin commented on #901
Still waiting for someone to give me a full reproduction in CI 🙂

[2019-10-07 20:42] marwan-at-work commented on #884
The master branch, in my experience, is usually the dev branch. You can look at the Go language itself where the master branch is the development branch. The way it works is that the maintainers decide what number of bugs/features go into the master before tagging the next release.

That said, having a release branch is usually very helpful when you want to back-port patch fixes into a release. Fo

[2019-10-07 20:45] marwan-at-work commented on #842
@lynncyrin is this done for `v2`? I still see the python script :)

Not sure if this will work, but maybe merging v2 into master will automatically take care of things? I haven't looked into how the python script works but just hoping this is true.

[2019-10-08 01:53] lynncyrin commented on #842
V2 is currently actively WIP => https://github.com/urfave/cli/pull/892, and yeah merging it into master will close this.

Similarly to other V2 specific feature PRs, this issue should be rolled up into https://github.com/urfave/cli/issues/826, so I'm gonna close this.

[2019-10-08 01:53] #842 closed

[2019-10-08 01:56] lynncyrin commented on #904
@eccles I need two things:

- a reproduction of this issue in CI
- to know which upstream project is causing this problem

Can you get me that please?

[2019-10-08 02:00] lynncyrin commented on #853
Closing this pending more buy in from maintainers

[2019-10-08 02:00] #853 closed

[2019-10-08 02:03] lynncyrin commented on #901
Hey FYI for everyone following this, I still don't have enough information to debug this! Please help me out with a CI build I can look at, so I can have the full context of the failure

[2019-10-08 02:39] johnnylei commented on #901
Excuse me, What's "CI" means?

[2019-10-08 06:27] saschagrunert commented on #901
Can you provide us a reproducible environment, like a container and some commands? :)

[2019-10-08 07:15] johnnylei commented on #901
go version:go version go1.7.1 linux/amd64
os: ubuntu 14.04
kernel:3.13.0-83-generic
command: $ go build main.go
[code]
message
[code]

[2019-10-08 07:22] lynncyrin commented on #901
@johnnylei that's better, but I need a bit more 🔍 if it's in a public repo, can you link me to the repo? Otherwise can you give me:

- your go.mod / go.sum file
- the command you are running when you get the error above

[2019-10-08 07:29] johnnylei commented on #901
https://github.com/johnnylei/my_docker

[2019-10-08 07:31] AudriusButkevicius commented on #904
Also, what go version. I suspect you need to move to go 1.13, given the module support has teething issues in 1.12

[2019-10-08 07:33] AudriusButkevicius commented on #901
We use go modules, this requires go 1.12 or even 1.13. your go binary does not support go modules and fetches random versions of our dependencies.

[2019-10-08 08:00] johnnylei commented on #901
thanks, i fixed this problem using `git checkout v1.17.0`;

[2019-10-08 08:27] lynncyrin commented on #901
Pre-emptively: please keep this issue open, I'm not confident that johnnylei's issue is the same as everyone else's.

[2019-10-08 08:34] eccles commented on #904
Apparently go-ethereum pulls gopkg.in/urfave/cli.v1 in.

**$ go mod why gopkg.in/urfave/cli.v1**
# gopkg.in/urfave/cli.v1
github.com/ethereum/go-ethereum/ethclient
github.com/ethereum/go-ethereum/ethclient.test
github.com/ethereum/go-ethereum/node
github.com/ethereum/go-ethereum/internal/debug
gopkg.in/urfave/cli.v1

AND

**$ go mod why github.com/urfave/cli**
go: finding github.com/urfave/cli v1.

[2019-10-08 08:36] eccles commented on #904
Moving to 1.13 is not possible at the moment although it is planned

[2019-10-08 08:39] saschagrunert commented on #904
Are you using go 1.12? It usually should work with it, but if not can you try `export GOPROXY=https://proxy.golang.org` and check again if it works as intended?

[2019-10-08 09:27] eccles commented on #904
With GOPROXY set the error changes:

2019-10-08T09:20:34.6515969Z go get: upgrading gopkg.in/urfave/cli.v1@v1.20.0: unexpected status (https://proxy.golang.org/gopkg.in/urfave/cli.v1/@v/v1.22.1.info): 410 Gone

[2019-10-08 09:31] eccles commented on #904
Intersetingly with GOPROXY set I also get the 410 Gone for github.com/go-interpreter/wagon@v0.0.0

[2019-10-08 10:12] lbarman commented on #901
Hi @lynncyrin , sorry for being unresponsive. The problem does *not* happen when I download everything on a fresh computer; I must have some package stuck somewhere, however `go get -u ./...` is currently not solving the issue. But I can confirm that if you start from 0 (no Go packages on a VM), I don't get the issue.

[2019-10-08 15:58] lynncyrin commented on #904
Change `gopkg.in` to `github.com`, we only know how to publish to GitHub at the moment

[2019-10-09 03:56] lynncyrin commented on #901
@lbarman does that mean this issue https://github.com/dedis/prifi/issues/213 is resolved also?

[2019-10-09 03:57] lynncyrin commented on #901
👋 @lvbin2012 one last ping on this 🙏 can you go through some of the same debugging instructions that are described above? If not, I can close this ♻️

[2019-10-09 07:50] tharvik commented on #901
@lynncyrin [dedis/prifi#213](https://github.com/dedis/prifi/issues/213) is resolved (or rather, not reproducable), looks like a transient issue.

[2019-10-09 08:41] eccles commented on #904
Unfortunately I cant do that as it is not a direct dependency.

[2019-10-09 09:13] eccles commented on #904
Adding:

    // fix https://github.com/urfave/cli/issues/904
    replace gopkg.in/urfave/cli.v1 => github.com/urfave/cli v1.22.1

to go.mod fixed the problem. This is a bit of a hack but might useful for others.

Does anyone think that this is a bug in go-ethereum? Should I report it there as well?

[2019-10-09 22:52] dontlaugh opened #908 "String flag that takes a value does not handle empty string"
I have a program that is called from CI like this

[code]

I was hoping to be able to rely on both `--f1` and `--f2` being set to empty string `""`, but not use `Required: true`, which results in a non-zero exit code.

But in the above case, `--f1` takes the string `--f2` as a value if the `$FLAG1` env var is not set.

Here is a small reproduction

[code]

Run with something like `./repro --f1 $NO

[2019-10-11 13:35] oleorhagen opened #910 "StringSlice question"
Hi

This is more of a question than an issue, but I was curious.

So if you have a `StringSlice` flag, say `f1`, then the expected behaviour from my side would be:

`-f a b c` -> `[]string{"a", "b", "c"}`

However, the result is:
`-f a b c` -> `[]string{"a"}`
and `b` and `c` is simply ignored.

It does work if you quote the strings though:
`-f "a b c` -> `[]string{"a", "b", "c"}`

Is this expected

[2019-10-12 07:00] lynncyrin commented on #910
@oleorhagen can you test this in `1.22.1`? I want to try and avoid spending time debugging behavior that may not exist anymore.

[2019-10-12 07:07] lynncyrin commented on #908
@dontlaugh from the point of view of the CLI, what you're inputting here is the following literal text =>

[code]

When those are both string flags, it's _extremely unclear_ what the desired behavior would be.

So when running the CLI, you would need the eventual CLI input to be something like this =>

[code]

and **not** =>

[code]

☝️ because I can't guarantee that the above input will produce r

[2019-10-12 07:07] #908 closed

[2019-10-12 07:17] lynncyrin commented on #901
As far as I can tell, nobody is still experiencing an issue here that we can solve on our end - so I'm closing this.

Please feel free to comment again if you have a similar issue, ideally with debugging information included. Thanks everyone! ✨

[2019-10-12 07:17] #901 closed

[2019-10-12 07:24] lynncyrin commented on #904
@eccles it looks like `go-ethereum` is using vendoring, and doesn't have a `go.mod`. My appraisal is that the issue here is one with golang itself, it's very hard / very confusing to mix modules and vendoring. You probably want to make an issue with `go-ethereum` asking them to move to go modules, it looks like nobody's reported a Github issue about that yet https://github.com/ethereum/go-ethereum

[2019-10-14 06:49] olepor commented on #910
I am getting the same results:

[code]

Using:

[code]

[2019-10-14 06:51] oleorhagen commented on #910
Sry, private account. Anywho. This is using latest

[2019-10-15 18:50] tboerger commented on #910
It should be used like: --test a --test b --test c

[2019-10-15 19:06] tboerger commented on #727
You should provide the flag for every value, but once for a list of values.

[2019-10-16 07:21] oleorhagen commented on #910
Alright, I understand not an issue. Slightly unexpected though.

Still, closing.

Thx everyone.

[2019-10-16 07:21] #910 closed

[2019-10-16 07:28] tboerger commented on #910
If @lynncyrin thinks this is a real issue feel free to keep it open, I'm not a maintainer of this lib. I just built multiple apps and gathered that knowledge though that :)

[2019-10-17 04:54] lynncyrin commented on #910
I prefer to close issues in general ^_^ thanks for helping out @tboerger!

[2019-10-17 05:35] johnwyles commented on #785
@lynncyrin I had not yet dove through to doing an implementation of this but I think it wouldn't be hard if someone would take a good look at: https://github.com/urfave/cli/blob/v2/command.go#L167

and possibly somewhere here:
https://github.com/urfave/cli/blob/v2/app.go#L130-L145

I could be wrong as I am just now glancing back at this after months of working with this.

[2019-10-17 05:41] johnwyles commented on #786
@lynncyrin on your 👎 I would like to hear why such a simple PR couldn't be tossed together - again when I have time which always seems to be fleeting - it does seem to me this is a logical addition to this great library would should be incorporated. Would love to hear your opinion since a rejiggering of https://github.com/urfave/cli/blob/v2/flag.go or such (maybe `altsrc`?) could be a nice little

[2019-10-18 02:17] lynncyrin commented on #904
@eccles I truly apologize for forcing the hack upon you 🙏 but it sounds like you've got stuff working now yeah?

[2019-10-18 05:05] jitsuineccles commented on #904
Its ok. I raised an issue with go ethereum and they are moving to go modules once they can get go 1.13 in their launchpad build system.
This does not help me as I am pinned to a particular version of go ethereum unfortunately. I have disabled the go get -u in our canary pipeline for now.

[2019-10-20 22:11] #904 closed

[2019-10-20 22:11] lynncyrin commented on #904
Closing pending more feedback about us needing to do work here!

[2019-10-20 22:35] lynncyrin commented on #722
This has been sitting idle for a while, so I'll circle back and close it soon - unless someone wants to keep it open!

[2019-10-20 22:37] lynncyrin commented on #786
you answered your own question 🙂

and my focus is https://github.com/urfave/cli/pull/892/ right now.

After that is done, I'll remove my 👎

[2019-10-20 22:38] lynncyrin commented on #795
I'm actually going to remove the `help wanted` here, because I think https://github.com/urfave/cli/pull/892/ will fix this issue. I'll keep this issue open until someone can confirm, though

[2019-10-20 22:57] lynncyrin commented on #826
Looking at the current state of the V2 PR https://github.com/urfave/cli/pull/892/, here's my summary of the changes:

- all flags are global now
- flag getnames to changed names
- flgs can now return errors
- many attributes changed to pointers for performance reasons
- new flags added (floag 64 slice flag, path flag)
- bool t flag removed
- envvar `string` changed to envvars `string[]`
- ??? misc

[2019-10-20 23:07] lynncyrin commented on #826
☝️  I'll get some more clarity on this before we merge

[2019-10-20 23:22] lynncyrin commented on #833
I'm gonna drop off of guidance for this one - I've got a few other things I can focus on

[2019-10-20 23:23] lynncyrin commented on #884
My impression is that there's _something_ to do here, but it's not clear what that is. Can someone one creating a guidance document here?

[2019-10-22 07:14] #850 closed

[2019-10-22 08:53] boyvinall commented on #722
Sorry for going quiet. Yeah, I hadn't noticed `UseShortOptionHandling`, that looks like the thing, thanks.

[2019-10-22 08:53] #722 closed

[2019-10-22 23:27] arashout commented on #852
I can try working on this, but what kind of error exactly would be more explicit than this?

Something like:
"The flag 'v' was passed but you did not define an associated flag in the configuration for 'v'" ?

I'm not sure that is any better? Do you have any suggestions @lynncyrin ?

[2019-10-24 18:09] saschagrunert opened #914 "Flags from structures"
*I’m quite not sure if this is nicely doable with golang, because we have nothing like a [procedural macro](https://doc.rust-lang.org/reference/procedural-macros.html) for it. It could be done with reflection and tags…*

Anyways, here comes the idea: I saw in the upcoming release of [clap](https://github.com/clap-rs/clap) (a command line parser for Rust) that it is capable of deriving the flags fr

[2019-10-24 21:00] rhugga opened #915 "How do you get the current context?"
My main challenge right now is the inability to create or obtain a context. I can create a fake app, call app.Run with a slice of arguments but I need the context to be able to actually write my tests. So far I have been unable to create one from scratch or figure out a way to get the context outside of it's methods.

---

_(this issue has been edited by a maintainer)_

[2019-10-25 02:24] lynncyrin commented on #915
@rhugga I edited your issue so that it starts with stating the problem you would like to solve.

[2019-10-25 13:14] rhugga commented on #915
So you hacked up my issue instead of just answering it? Really? Using spf13/cobra now. Moved to it yesterday, was done integrating and writing tests for it in less than 2 hours.

[2019-10-25 13:14] #915 closed

[2019-10-25 17:01] lynncyrin commented on #915
For the sake of anyone dropping into this issue, the text I removed was:

It's my professional opinion that this ☝ text made the issue harder to read, and that removing it made the question more likely to be answered.

Maintaining open source projects is volunteer work, and I did my best to help this question get an answer. I didn't answer it directly because I _dont know the answer_, and I have o

[2019-11-04 12:59] torkelrogstad commented on #833
Commenting here, as it seems like you guys want everything related to `altsrc` in this issue. Thanks for all the work you've put in on a great package!

I've got two questions about usage of `altsrc` to read flags from a config file:

1) It seems like `altsrc.InitInputSourceWithContext` returns an error if there are some flags in the config file which aren't defined, even though said flags aren't

[2019-11-06 08:43] mouuff opened #917 "Bad import"
Hello
In docs.go I think the import `github.com/cpuguy83/go-md2man/v2/md2man` is invalid and need to be changed.

[2019-11-06 08:52] mouuff commented on #917
https://github.com/urfave/cli/pull/918

[2019-11-06 10:37] #917 closed

[2019-11-06 11:57] millken opened #919 "go mod error for v2"
[code]
got error
[code]

[2019-11-06 11:57] millken opened #920 "go mod error for v2"
[code]
got error
[code]

[2019-11-06 12:27] #919 closed

[2019-11-06 13:51] asahasrabuddhe commented on #920
Try using this command instead

[code]

[2019-11-06 15:28] millken commented on #920
well done

[2019-11-06 15:28] #920 closed

[2019-11-07 18:10] saschagrunert commented on #895
Sounds good, I suggest to use a third party library to provide the necessary algorithms around it.

[2019-11-09 05:51] lynncyrin commented on #826
`v1` historical branch is here => https://github.com/urfave/cli/tree/v1

I gave it similar branch protection as `master`, with the exception of making the number of required reviews for the `v1` branch be `1` (which contrasts the `2` that `master` requires).

[2019-11-09 05:57] lynncyrin commented on #895
I'm in strong agreement here!

[2019-11-09 05:59] lynncyrin opened #921 "Create a v1 => v2 migration guide"
View the release notes for guidance on migrating => https://github.com/urfave/cli/releases/tag/v2.0.0

[2019-11-09 05:59] lynncyrin commented on #826
👀  I just merged all of @asahasrabuddhe's great work on the v2 PR!!!!! 🎉🎉🎉 https://github.com/urfave/cli/pull/892

Since `v2` has now landed, I'll do a sweep through our open issues to see anything should be up-prioritized.

I created this ticket for a fast-follow migration guide https://github.com/urfave/cli/issues/921

[2019-11-09 06:01] lynncyrin commented on #826
I'm available at around 5 hours a day over the next ~9 days to do any fast follow IC work on potential v2 bugs, if we find any 👀  I'm going to try migrating one of my CLIs, see what I find.

[2019-11-09 06:01] lynncyrin opened #922 "Use godoc for documentation?"
_(for discussion)_

[2019-11-09 06:02] coilysiren opened #923 "Create an automated version release system"
Because manual releases are boring to do.

[2019-11-09 06:05] lynncyrin commented on #826
@marwan-at-work `v2` is now in master! I know you've been waiting for that for a while 🙏

[2019-11-09 06:33] lynncyrin commented on #608
👋 v2 just hit master, so we'll need to check if this is still a valid issue 🔍

[2019-11-09 06:33] lynncyrin commented on #631
👋 v2 just hit master, so we'll need to check if this is still a valid issue 🔍

[2019-11-09 06:38] lynncyrin commented on #833
Yes please!

To your questions - I'm not sure yet what the answers are, but I will totally investigate o7!

[2019-11-09 09:24] saschagrunert commented on #922
Sounds like the most reasonable way to me.

[2019-11-09 17:08] marwan-at-work commented on #826
@lynncyrin that's awesome, great work 💯💯💯 👏

[2019-11-11 09:05] skillful-alex opened #925 "cli.StringFlag does not implement cli.Flag (Apply method has pointer receiver)"
After the last 2 months there was an error:
`cli.StringFlag does not implement cli.Flag (Apply method has pointer receiver)`
In commit ebc25651f0fc5d51acf8182565706d670edff596 error not exists.
In corrent master error exists.

[2019-11-11 12:30] okhadkevich opened #926 "after cli.GlobalString was removed Google Cloud Print Connector cannot be built"
I have an error when building Google Cloud Print Connector:

**$ go get github.com/google/cloud-print-connector/...**

 github.com/google/cloud-print-connector/lib
go/src/github.com/google/cloud-print-connector/lib/config_unix.go:235:15: context.GlobalString undefined (type *cli.Context has no field or method GlobalString)

[2019-11-11 12:45] AudriusButkevicius commented on #926
What version of go are you using? I think this should not happen if you use Go that supports modules.

[2019-11-11 12:51] okhadkevich commented on #926
On Ubuntu 18.04

$ go version
go version go1.12.9 linux/amd64

[2019-11-11 13:03] saschagrunert commented on #926
@okhadkevich can you try it again with enabling go modules (`export GO111MODULE=on`)?

[2019-11-11 13:06] saschagrunert commented on #926
The issue is that https://github.com/google/cloud-print-connector does not support go module yet, so it falls back to your local urfave/cli download (master branch) so the project won't build any more.

[2019-11-11 23:05] AudriusButkevicius commented on #925
I don't think this has enough details to understand the problem.
Do you have a reproduction example, of code that worked and now doesn't?
What go version are you using,? Are you using go modules? Which version of the library you are using?

[2019-11-12 00:13] ryanwilsonperkin commented on #884
Hey! I'm not a contributor to this project, but just happened across this issue while evaluating `cli`. The [Django](https://github.com/django/django/) project might be a good example to follow here. They use `master` as the base branch that in-development work is merged into that is destined for future versions, and `stable/major.minor.x` branches for branches that are still supported and getting

[2019-11-12 00:30] purpleidea commented on #926
The recent changes in git master broke our builds too. We don't use go modules.

[2019-11-12 00:36] ffrank commented on #925
Stumbled upon that as well. We have code as follows
[code]
It produces this error message:
[code]

HTH!

[2019-11-12 00:43] AudriusButkevicius commented on #926
I assume you are vendoring your dependencies somehow differently in that case?

Modules and vendoring was developed for this particular reason.

I don't think it's fair to expect projects to stop all progress because some subset of users are not use widely adopted methods for ensuring version compati ility and rely purely on luck that the upstream project will never make breaking API changes.

[2019-11-12 00:46] AudriusButkevicius commented on #925
Let me guess, you are not using go modules or any form of vendoring and pull stuff straight from master and build against that?

[2019-11-12 00:51] ffrank commented on #925
You know, I had this same question 😅 and our main author has it covered:

https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#why-arent-you-using-glide-godep-or-go-mod-for-dependency-management

I have since been informed that we'll probably need to update this code to match the API change. (On it.)

[2019-11-12 01:30] purpleidea commented on #926
@AudriusButkevicius

We use git master of almost all our dependencies. It helps us keep up to date with changes in projects as opposed to having to bump everything all at once. See more info here: https://github.com/purpleidea/mgmt/blob/master/docs/faq.md#why-arent-you-using-glide-godep-or-go-mod-for-dependency-management

We've only had _about_ 3 breaks so far in the history of the project, funny

[2019-11-12 07:41] AudriusButkevicius commented on #925
Well this was an intended change to a new version of the API, so I guess you just have to fix your side of thongs.

We expect potentially one more of these breaking changes next year.

[2019-11-12 07:42] AudriusButkevicius commented on #926
As I mentioned in the other thread we expect one more of these breakages next year, so sadly expect more work in the future.

[2019-11-12 07:49] skillful-alex commented on #925
ok, but change [manual.md](https://github.com/urfave/cli/blob/master/docs/v1/manual.md) , line 547:
[code]

[2019-11-12 07:57] saschagrunert commented on #925
@skillful-alex please refer to the [v2 manual](https://github.com/urfave/cli/blob/master/docs/v2/manual.md) for the latest documentation.

[2019-11-12 08:12] saschagrunert commented on #895
I found three main packages which all seem a bit unmaintained:
- https://github.com/toldjuuso/go-jaro-winkler-distance
- https://github.com/xrash/smetrics
- https://github.com/antzucaro/matchr

From an implementation perspective I tend to use the [Jaro-Winkler distance](https://en.wikipedia.org/wiki/Jaro%E2%80%93Winkler_distance) to match the closet command/flag.

To start with a clean state I add

[2019-11-12 23:59] godd9170 commented on #925
For any Go noobs out there like me, here's how I repaired my app:

1) Remove any instances of required packages from your `$GO_PATH/src/`
2) run `go mod init github.com/<OWNER>/<REPO>` in the root of your app.
3) run your package `go run .`

4) update anywhere that uses `go get -d -v` (Such a as Dockerfile) to use `go mod download`

You can see my commit here: https://github.com/Guestlogix/pat/com

[2019-11-13 22:00] lynncyrin commented on #925
Oh no! I'm so sorry everyone, we had no idea people were using the package from the `master` branch.

As described above, you'll want to do either of the following things:

1. change your code to use `go modules` so you can pin v1, or
2. update the flag interface for the v2 api changes

There's a few things we can do in this repo:

1. create the `v1` => `v2` migration guide https://github.com/urfa

[2019-11-13 22:19] lynncyrin commented on #921
Here's a PR where @ffrank and @purpleidea make the `v1` => `v2` migration https://github.com/purpleidea/mgmt/pull/571

[2019-11-13 22:28] lynncyrin commented on #926
👋  hi @purpleidea!

Thanks for your feedback here, I had no idea people used go modules in this way ^^

I actually did create a ticket (https://github.com/urfave/cli/issues/921) for writing migration guide, I just didn't know that we should create the guide _before merging to master_. You live and you learn 🙏

[2019-11-13 22:35] lynncyrin commented on #921
Here's a quirky example of someone moving from the _very very old_ `v2` branch, back to `v1`. https://github.com/sourcegraph/godockerize/pull/10

☝️ I don't think that's the type of migration where's really looking to write documentation for? but it's interesting to look at

[2019-11-14 02:07] lynncyrin opened #928 "Create a short guide on how to pin urfave/cli v1"
This is conceptually related to https://github.com/urfave/cli/issues/921

---

Frequently, people will opt for pinning `v1` rather than migrating to `v2`. This is totally fine and something we generally are comfortable with - so long as we aren't flooded with _"how do I pin v1"_ Github issues. In service of that, we should create a readme describing how to pin the latest `v1` version.

Examples of

[2019-11-14 02:10] lynncyrin opened #929 "Describe the state of v1 maintenance and support"
This comment https://github.com/urfave/cli/issues/826#issuecomment-531626615 should be extracted into a readme file, which will describe the types of PRs we will / won't accept for v1.

[2019-11-14 02:28] lynncyrin commented on #925
@hussamd, @jangaraj, @maxcnunes, @sybnex, @nathancoleman-wf, @max0ne, @juansc if you are still having this issue, can you let me know where you're experiencing it? I'm trying to chase down all of the projects that need to be fixed.

[2019-11-14 08:10] arrowfeng opened #930 "Is there such a function?"
sorry, I have read doc,  but I don't seem to find this function, maybe I read it carelessly.

If I set an option, then other options become unnecessary(the shell will not reminder me type those options if I don't type it). Conversely, if I don't set an option, other options must be set(the shell will reminder me type those options if I don't type it)

[2019-11-14 21:03] lynncyrin commented on #930
@arrowfeng I don't understand what you're asking here, can you fill out this issue template?

---

### Prerequisites

* [ ] Are you running the latest v1 or v2 release?
* [ ] Did you check the manual for your release?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a Github issue search about this problem?

### Description

[Description of the bug or feature]

### Steps to

[2019-11-14 21:29] lynncyrin opened #931 "Switch CI from travis?"
My impression of CI systems in the recent past (eg. end of 2019) is that circleci has begun to surpass travis as the first choice for open source projects? Primarily because travis has started having very very long build queues.

This issue is about considering a switch from travis to circleci, all discussion and feedback is welcome!

[2019-11-14 21:50] AudriusButkevicius commented on #931
There is also github actions, which can do builds and all of that stuff.

[2019-11-14 22:11] lynncyrin commented on #931
Ah, and Github Actions just hit general availability this week! I'm super interested in that 🔍

[2019-11-14 22:23] coilysiren opened #933 "release 1.22.x"
This is a tracking issue for work I do on the release `1.22.X` series. The v1 branch isn't getting any more feature requests, so the version will never increment above `1.22.X`.

The v1 branch can be found here: https://github.com/urfave/cli/tree/v1

Some discussion about the v1 vs v2 maintenance pattern can be found here: https://github.com/urfave/cli/issues/826

[2019-11-14 22:28] lynncyrin commented on #929
closed via https://github.com/urfave/cli/pull/932 + https://github.com/urfave/cli/issues/933

[2019-11-14 22:28] #929 closed

[2019-11-15 00:47] arrowfeng commented on #930
### Prerequisites

- [ ]  Are you running the latest v1 or v2 release?
v1
- [ ]  Did you check the manual for your release?
yes
- [ ]  Are you reporting to the correct repository?
yes

- [ ]  Did you perform a Github issue search about this problem?
i have check it.

### Description
Suppose I have a program based on this repository，it has these options: `-a` `-b` `-c` `-f`, and I hope `-f` is mutu

[2019-11-15 00:52] AudriusButkevicius commented on #930
You can check which flags are set yourself, and return errors to the user if mutually exclusive flags are set. There is nothing in the library that will do that for you.

[2019-11-15 00:52] #930 closed

[2019-11-15 00:57] arrowfeng commented on #930
thank you

[2019-11-15 03:42] saschagrunert commented on #931
I’d be still in favor of CircleCI over GitHub actions because of the performance. But both are way better than Travis. 👍

[2019-11-15 18:25] itzg commented on #920
What is the correct import to use? `import "github.com/urfave/cli/v2"` is what worked for me, but godoc is not located there: https://godoc.org/github.com/urfave/cli/v2

[2019-11-15 18:45] itzg commented on #920
Nm, the import I asked seems to be correct according to the README, but the `go get` doesn't seem to match as of this commit:

https://github.com/urfave/cli/tree/754ed1bf85da93060d928f9eca0bce83eb5f19be#using-v2-releases

[2019-11-15 18:54] AudriusButkevicius commented on #920
It should be / instead of a dot.

[2019-11-16 02:07] xordspar0 commented on #725
I don't think checking for PID 1 as a parent is necessarily a good idea in general. There could be other ways to start services. For example, desktop environments could autostart an application as a background service.

What kinds of thing would you want to do differently on the command line vs when running as a service? Many Unix applications check things like stdin and out: are they a terminal o

[2019-11-16 10:07] AudriusButkevicius commented on #725
https://github.com/mattn/go-isatty is what you want.

[2019-11-16 10:07] #725 closed

[2019-11-16 21:32] lynncyrin commented on #921
Here's another example migration PR https://github.com/google/cloud-print-connector/pull/470

[2019-11-16 21:33] lynncyrin commented on #826
I'm going to release the current `master` version as `2.0.0` today ✅

[2019-11-16 23:39] asahasrabuddhe commented on #826
So excite for this to happen!

[2019-11-17 04:39] lynncyrin commented on #931
I think I'm gonna test out Github Actions for release automation (eg. https://github.com/urfave/cli/issues/923), it's a good fit and not performance intensive (since releases are rare).

[2019-11-18 15:44] Tengoru commented on #459
Hi, I have the same problem but with version 1. I tried to copy the code snippets from the documentation but no luck... Any ideas what the problem could be?

[2019-11-18 15:53] Tengoru commented on #459
For everyone having the same problem... Just add a "&" at the beginning of the IntFlag or StringFlag (or whatever flag you have)... Yeah... Took me 1 hour to realise that... Example:
[code]

[2019-11-21 09:14] lynncyrin commented on #826
Here's the ✨Official Git Tag ✨for v2 => https://github.com/urfave/cli/tree/v2.0.0

It's now available via `go get ... @v2.0.0`

[2019-11-21 17:58] bonesyo opened #941 "v2 bug: control-c does not kill process"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2019-11-21 18:21] AudriusButkevicius commented on #941
This is a command line argument parsing library, not a process lifetime management library, and the user of the library should handle this themselves.

[2019-11-21 18:21] #941 closed

[2019-11-21 21:04] poupas commented on #459
On v1, just got bit by this right now. @Tengoru's example fixed it for me.

[2019-11-23 05:48] lynncyrin opened #942 "Upstream changes are breaking builds in master"
source: https://travis-ci.org/urfave/cli/jobs/614948279

[2019-11-24 06:21] unRob opened #944 "v2 bug: ctx.NArg() panics on Command.BashComplete"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2019-11-24 19:12] lynncyrin commented on #944
🔍 I believe what we want here is a PR to fix the cases that panic. The PR will want to start with writing some test cases.

@unRob thanks for the very detailed issue! Also, you're free to work on the PR, if you're interested 🙏

[2019-11-25 02:27] #942 closed

[2019-11-25 14:41] ansrivas opened #945 "v2 feature: Allow registering ctrl-c with the app"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2019-11-25 22:38] unRob commented on #944
That's really helpful, thanks @lynncyrin. Submitted #946 to that effect, turns out it was easier than I thought, which probably means we might need to work a bit more on it 🙃.

[2019-11-25 22:44] l0k1verloren opened #947 "v1 bug: Not everyone is using modules, mind what you push to master"
I have forked this repo because of this. Altsrc was buggy and I ended up making a manual reader of env/args inputs anyway and the latest or second latest push to master has broken a heap of my stuff relating to the cli.StringFlag and cli.StringSlice, the latter in particular, which is throwing errors over my use of the (original) type for the second one in particular which clearly has been turned

[2019-11-26 00:16] lynncyrin commented on #947
Few things:

- v2 is in fact at 2.0 now
- v2 essentially does not fully support altsrc, this is a compromise we made in order to push v2 out this year
- v3 will remove altsrc (the package, not the functionality) entirely, so there will likely be no v2 release that includes a stable and production grade altsrc package

[2019-11-26 00:41] AudriusButkevicius commented on #947
Sorry, but life goes on, and people want to make breaking changes and evolve the project.

The fact that you do not use **ANY** form of vendoring, even gvt or something even more ancient is your own problem. You want to live on the edge (master), so be it, but deal with the consequences don't be surprised when people break you.

And we will do it again, but I guess you already forked, so it should

[2019-11-26 00:41] #947 closed

[2019-11-26 07:10] l0k1verloren commented on #947
sure, I can understand that. I wasn't aware you had pushed the 2.0 forward in the time between me picking this as the most usable CLI args/env/config library existing. I had ideas about how to improve it anyway so I'll slate that for certain into my future work.

Thanks for the great work, btw. This is definitely the most approachable and robust library for the job that I know of. The workarounds

[2019-11-27 02:51] lynncyrin commented on #925
2nd try ~! @hussamd, @jangaraj, @maxcnunes, @sybnex, @nathancoleman-wf, @max0ne, @juansc if any of you are still experiencing issues, please followup with me!

[2019-11-27 03:08] lynncyrin commented on #926
Closed via https://github.com/google/cloud-print-connector/pull/470

[2019-11-27 03:08] #926 closed

[2019-11-27 03:12] lynncyrin commented on #945
Hi @ansrivas, thanks for the well written issue!

I'm not quite sure if this is a bug, or a documentation issue? 🔍 I'll add both labels for now.

I'm also marking this as `help wanted` so that someone can drop in and help figure it out!

[2019-11-27 06:41] lynncyrin commented on #933
The archive purposes:

- here's `1.22.1` from a few months ago https://github.com/urfave/cli/releases/tag/v1.22.1
- and here's `1.22.2` from last week https://github.com/urfave/cli/releases/tag/v1.22.2

[2019-11-27 06:49] lynncyrin commented on #783
Related issue => https://github.com/urfave/cli/issues/553

[2019-11-27 06:51] lynncyrin commented on #553
@asahasrabuddhe heya! I'm un-assigning ya since it's been a month with no movement on this. I want it to be available for anyone else to pick up 🙏

[2019-11-27 06:55] lynncyrin commented on #553
Having read through this issue a few times, I'm considering this a duplicate of https://github.com/urfave/cli/issues/783. Closing as a duplicate!

[2019-11-27 06:55] #553 closed

[2019-11-27 06:57] lynncyrin commented on #783
Per my comments above, I'm "re-branding" this to be a feature + documentation request. This ask here is fairly small IMO, so hopefully someone can drop in and grab it 🙏

[2019-11-27 07:20] lynncyrin commented on #318
This is possibly a duplicate of https://github.com/urfave/cli/issues/176

[2019-11-27 07:26] lynncyrin commented on #427
This may have been fixed by v2? I'd appreciate if someone could investigate that 🙏

🔗 => https://github.com/urfave/cli/releases/tag/v2.0.0

[2019-11-27 07:31] lynncyrin commented on #546
@asahasrabuddhe I'm un-assigning this since there's hasn't been any movement on it recently!

@ everyone else, please feel free to help with this 🙏

[2019-11-27 07:39] lynncyrin commented on #799
@IdanAdar given that there isn't a full reproduction of the problem you're describing, I'm not sure there's really anything we can do here? Let me know if you can circle back with a reproduction, and I'll re-open this issue.

[2019-11-27 07:39] #799 closed

[2019-11-27 07:42] lynncyrin commented on #524
Un-assigning this since >1 month has passed without any movement

Anyone else is now free to work on this!

[2019-11-27 07:52] coilysiren opened #948 "Document how to combine flags from another package"
Closes #269

[2019-11-27 07:52] lynncyrin commented on #269
Created a stand-alone feature request for this => https://github.com/urfave/cli/issues/948. I'm going to close this one as a duplicate now

[2019-11-27 08:04] #459 closed

[2019-11-27 14:57] nathancoleman-wf commented on #925
@lynncyrin My team pinned this repo to the last working version a while ago

[2019-11-28 03:23] yezihack opened #949 "v1 bug: ( cannot use []cli.Author literal (type []cli.Author) as type []*cli.Author in assignment 0)"
## Checklist

[code]
This code window10 system compilation error , but linux64 system compilation is ok, why?

[2019-11-28 03:41] lynncyrin commented on #949
@yezihack there isn't nearly enough information here for me to help you, please fill out the entire issue template when creating a new issue. I'm closing this b/c there isn't enough detail here.

Also, just from the title

I can tell that you're probably missing an `&` somewhere.

[2019-11-28 03:41] #949 closed

[2019-11-28 03:48] lynncyrin commented on #925
Thank for that information!

It looks like everyone's issue here was that they were using this library straight from master, which causes obvious issues whenever we need to release a new major version. The fix here is to do either of the following things:

- migrate from v1 to v2, as described here https://github.com/urfave/cli/issues/921
- pin a v1 version, as described here https://github.com/ur

[2019-11-28 03:48] #925 closed

[2019-11-28 04:28] lynncyrin commented on #928
Here's a blog post that's helpful => https://blog.golang.org/migrating-to-go-modules

[2019-11-28 04:52] lynncyrin commented on #919
For future readers, this issue is a duplicate of https://github.com/urfave/cli/issues/920

[2019-11-28 05:17] lynncyrin opened #952 "Support users who are using GOPATH mode"
## Desired Outcome

I would like to use the methodology described here in this blog post => https://blog.golang.org/v2-go-modules to support users who aren't using go modules.

Specifically, that would mean moving to a directory setup like so:

[code]

## Risks

This proposed change will make the git repo most "noisy", in that there will be more total files in the repo. It will be a bit more confu

[2019-11-28 05:18] lynncyrin commented on #952
@urfave/cli please review this issue and let me know if you're 👍 or 👎 ! I think it could potentially be a great help for our users.

[2019-11-28 05:21] lynncyrin commented on #952
🤦‍♀ I just realized ... we can't do this, because `v2` is already in master 🤦‍♀

So we can't change `master` back to `v1` now, because that would be another breaking change. ☠️ RIP me, software is hard.

I'm gonna close this 😭

[2019-11-28 05:47] #944 closed

[2019-11-28 05:47] asahasrabuddhe commented on #783
I tried to reproduce this issue on both v1 and v2 but could not replicate

[code]

[code]

For both the above codes, I am getting the correct program name from within the subcommand.

@lynncyrin you could try running this and then probably close this issue

[2019-11-28 06:02] asahasrabuddhe commented on #795
I can confirm that this is not an issue anymore.

[code]

I tried to execute with this code on the v2 branch with the following commands:
[code]
I was able to access the values of the flags in the subcommands without any problem

[2019-11-28 06:02] #795 closed

[2019-11-28 06:15] asahasrabuddhe commented on #945
I tried the above snippet. It worked fine for me. Check this out

[![asciicast](https://asciinema.org/a/Dft5XspMgdoHZy3eUwVZDXgdh.svg)](https://asciinema.org/a/Dft5XspMgdoHZy3eUwVZDXgdh)

@ansrivas Could you let me know what it is that you are experiencing?

[2019-11-28 08:21] AudriusButkevicius commented on #949
I think you are mixing differenr versions of the library between the machines

[2019-11-28 14:48] cw1997 opened #957 "v2 bug: (go get github.com\urfave\cli\v2 error )"
## my urfave/cli version is v2

_**( Put the version of urfave/cli that you are using here )**_

## Checklist

* [ ] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about t

[2019-11-28 17:18] AudriusButkevicius commented on #957
I think you are using an old version of go that does not support go modules, so you can remove the v2 bit, but ideally you'd update go, as we'll keep breaking you.

[2019-11-29 00:22] lynncyrin commented on #957
@cw1997 to super double confirm, can you run `go version` and show us the output?

[2019-11-29 00:23] lynncyrin commented on #952
Re-opening this because I think it's viable to implement still. More details incoming!

[2019-11-29 02:53] lynncyrin commented on #783
I can repro this in both v1 and v2. Here's my repros:

---

v1

- https://github.com/lynncyrin/testing-cli/blob/urfave/cli/issues/783-v1-repro/main.go
- https://circleci.com/gh/lynncyrin/testing-cli/3

[code]

[code]

[code]

---

v2

- https://github.com/lynncyrin/testing-cli/blob/urfave/cli/issues/783-v2-repro/main.go
- https://circleci.com/gh/lynncyrin/testing-cli/4

[code]

[code]

[code]

[2019-11-29 02:57] lynncyrin commented on #783
To expand upon the original request, here's what I want to see happen here --

1. I want a  `ProgramName` with outputs like so

[code]

2. I also want a `CommandName` with outputs like so

[code]

3. I want `Name` to be removed in v3, cc https://github.com/urfave/cli/issues/833

[2019-11-29 02:59] lynncyrin commented on #783
Oh and, I would like to leave this issue open for new contributors 🙂 so anyone who drops into this issue is free to work on int

[2019-11-29 02:59] lynncyrin commented on #783
☝️ cc @urfave/cli as an FYI

[2019-11-29 03:11] lynncyrin opened #960 "Are there any discussion forums / mailing lists the maintainers should know about? Please let us know!"
_(title)_

[2019-11-29 03:13] lynncyrin commented on #960
I'm currently sitting in the #cli channel in the gophers slack https://invite.slack.golangbridge.org/

I would love to be on whatever mailing list this https://blog.golang.org/v2-go-modules was posted to???

[2019-11-29 03:15] lynncyrin opened #961 "Create documentation on how to use required flags"
No documentation exists for this currently, here's the manual => https://github.com/urfave/cli/blob/master/docs/v2/manual.md

[2019-11-29 03:19] lynncyrin commented on #921
I'm going to work on this as a part of https://github.com/urfave/cli/issues/952

[2019-11-29 03:44] lynncyrin commented on #952
@urfave/cli I've reviewed this problem more thoroughly, and it's currently my recommendation that we make this change. Please review the 1st post in this issue and 👍 or 👎 it! Please also ask me any clarifying questions.

[2019-11-29 03:46] lynncyrin commented on #952
Additionally, if (and only if) we accept this proposal, I will do the following:

- write a v1 => v2 migration guide
- write a v2 => v1 migration guide for GOPATH users who need to downgrade
- cc the maintainers of any known GOPATH projects before I merge this change

[2019-11-29 03:47] lynncyrin commented on #952
@gravis can you add a comment in support here? I would like for it to be known to the @urfave/cli maintainers that people are interested in this, and I'm proposing that we do exactly what you mention here https://github.com/db-journey/journey/issues/16#issuecomment-559479698

[2019-11-29 04:00] lynncyrin commented on #952
@purpleidea FYI this proposal would break your project again since you aren't using modules or vendoring, specifically we would have to revert this PR => https://github.com/purpleidea/mgmt/pull/571. Please let me know if there's any way we can make it so that this proposal doesn't break your repo, thank you!

As I explain in the OP, if we change nothing about your project - you will be broken **on

[2019-11-29 04:04] lynncyrin opened #962 "Figure out how to release to gopkg.in"
this is related to https://github.com/urfave/cli/issues/923

[2019-11-29 04:23] cw1997 commented on #957
C:\Users\changweimbp>go  version
go version go1.13.4 windows/amd64

this is my golang version, but this is the latest version....w(ﾟДﾟ)w

[2019-11-29 04:56] lynncyrin commented on #957
@cw1997 I believe what you need to do is change

[code]

to this

[code]

can you try that and report back?

[2019-11-29 06:07] lynncyrin commented on #869
Another list, similarish to godoc's https://pkg.go.dev/github.com/urfave/cli?tab=importedby

[2019-11-29 06:34] lynncyrin commented on #827
👋  hi @rliebz!

Would you be interested in being a maintainer for this package? The work is primarily doing code review and giving input in general direction. It'd be great to have you ✨ I've appreciated your recent PRs (https://github.com/urfave/cli/pull/735, https://github.com/urfave/cli/pull/893, https://github.com/urfave/cli/pull/911, https://github.com/urfave/cli/pull/912) tons 🙏

👀  FYI @urf

[2019-11-29 07:41] AchalaSB opened #964 "V1 error :cannot use ([]cli.Command literal)"
## my urfave/cli version is

version v1
Getting error in v1 version. The same code I ran 15days before it was working fine. but now its not working. I haven't changed the version.
[code]
error log
[code]
## Run `go version` and paste its output here

[code]

## Run `go env` and paste its output here

[code]

[2019-11-29 07:52] lynncyrin commented on #964
@AchalaSB `[]cli.Command` was changed to `[]*cli.Command` in v2, please do either of the following things:

- look through this issue https://github.com/urfave/cli/issues/928 to figure out how to pin v1, because the error you are receiving if from trying to run v1 code with v2 of the package
- look through this issue https://github.com/urfave/cli/issues/921 for examples of how to upgrade to v2, be

[2019-11-29 07:52] #964 closed

[2019-11-29 08:15] coilysiren opened #965 "Use a release notes generator"
surfaced via https://github.com/urfave/cli/pull/963#issuecomment-559693779

[2019-11-29 08:21] cw1997 commented on #957
Oh, it run success.
I'm very sorry to bother you and very thank you!!

The last time I used golang was two years ago and that version is go1.10 so I don't know the new feature about 'Go Module'.
Thank you for letting me know about such a useful new feature, ^_^.

[2019-11-29 08:21] #957 closed

[2019-11-29 08:22] lynncyrin commented on #957
Thanks for reporting back!

Apologies for the minor road bump, I think I'll update the documentation to mention `GO111MODULE=on` 🔍

[2019-11-29 08:41] lynncyrin commented on #921
In addition to working on this as a part of https://github.com/urfave/cli/issues/952, I've been progressively updating the v2 release notes => https://github.com/urfave/cli/releases/tag/v2.0.0 to include fine grain migration instructions. I'll add more as I find them!

[2019-11-29 08:45] lynncyrin commented on #928
I consider https://blog.golang.org/migrating-to-go-modules the best possible example here, so I'm closing this 👋

[2019-11-29 08:45] #928 closed

[2019-11-29 13:25] lynncyrin opened #968 "Consider using a "stale bot""
The bot => https://github.com/marketplace/stale

Checking on stale issues / PRs is currently something I do manually, and I would prefer it be automated

@urfave/cli I would like to stop having to do this manually, so I'm gonna implement this sometime after Dec 1st unless I get a 👎 react. Do also feel free to let me know if you're 👍 !

[2019-11-29 22:04] juansc commented on #925
@lynncyrin  thanks for the follow up. We also pinned the repo but we'll look at the steps to migrate from v1 to v2.

[2019-11-29 22:27] lynncyrin commented on #925
I've been compiling migration instructions here => https://github.com/urfave/cli/releases/tag/v2.0.0 ^^

[2019-11-30 07:37] rliebz commented on #827
Hey @lynncyrin, thanks for the invitation. I'd be happy to help out where I can.

[2019-12-01 06:31] asahasrabuddhe commented on #968
I think this is a good idea. It would certainly be more productive.

[2019-12-01 07:06] asahasrabuddhe commented on #962
I think we do not need to do anything special to release to gopkg.in. Taking a look at this [page](https://labix.org/gopkg.in). There are two URL patterns supported:

[code]

This is something we already follow this. Therefore, the following should work out well:

[code]

This would work very well for those not using Go Modules. I have also managed to reproduced this :

![Screenshot 2019-12-01 at

[2019-12-01 07:06] asahasrabuddhe commented on #962
I had disabled Go Modules for above project and instead used the project folder as the `GOPATH`

[2019-12-01 22:05] gravis commented on #952
@lynncyrin Sure.
Actually, I'm giving this advice while not following it myself, since journey and migrate have switched to v2 directly in their respective `master` branch without any `/v2`.
But this repo (`urfave/cli`) is much more used in dependent projects, and they will all have issues if theyy haven't switched to go modules yet.

[2019-12-02 00:08] lynncyrin commented on #968
@AudriusButkevicius I believe you now have an email from Github about this ✉️

[2019-12-02 07:43] AudriusButkevicius commented on #968
I've approved it.

[2019-12-02 10:46] Yoone commented on #790
Same problem on my end. It also prevents me from using `IsRequired: true` as it will sometimes fail for the same reason.

[2019-12-03 07:40] lynncyrin commented on #952
@AudriusButkevicius / @rliebz / @asahasrabuddhe anytime this week, can you read through this issue any let me know what you think? It's fairly time sensitive, so I'll probably close it if it's not looking like it's going to get 2 👍's by December 9th.

That said, please do ask me any clarifying questions 🙏

[2019-12-03 08:48] AudriusButkevicius commented on #952
V2 is in master and you suggest to undo that?

This will break everyone that fixed up their code, yet continued without module support. These people are probably the most pissed off ones now, so pissing them off once more is less than great.

I'd rather new users had to fiddle with something.

Perhaps we leave this as is, and do it differently in v3. Having master shapeshift twice in a short timef

[2019-12-03 10:08] rliebz commented on #952
I agree with @AudriusButkevicius here—we'd probably be having a different conversation if we hadn't already cut the v2 release branch.

That said, from here, I don't think restructuring the repo is worth it to support users who use `GOPATH` mode without _any_ sort of dependency management. We have major version tags to indicate what to pin to if users aren't interesting in keeping up with breaking

[2019-12-03 12:20] arch-mage commented on #945
Is there any reason to label this issue as feature? I think this should be labeled as a bug. Because almost all foreground processes that received an interrupt signal exits right away or do clean up and then exit.

[2019-12-03 12:29] AudriusButkevicius commented on #945
I don't think it's a bug. Killing the application without giving users code a chance to clean up would definitely be a bug. What if the user wants to roll back a transaction or something else on interrupt?

At this point we require the users of the library handle termination themselves, as we are not sure what they want to do when that happens.

The purpose of this library is mostly parse argument

[2019-12-03 14:37] drov0 commented on #888
Failing on v1.22.2 for me.

I notice that if I don't specify a version 1.22.0 is selected, which works great and doesn't have that bug. Anything above fails.

I forked the project and updated my gopkg.toml to use a branch (called test) that is just a copy of the v1.22.2 tag and this is the log :

[code]

[2019-12-03 15:47] arch-mage commented on #945
Yes, the purpose of this library is mostly parse arguments and direct them to functions, not the application life cycle management. But this version right now is handling life cycle management by intercepting interrupt signal and by doing that it's doing something outside of it's scope of purpose.

[2019-12-03 15:50] asahasrabuddhe commented on #888
This error can be traced back to the `go-md2man` package which unfortunately only supports go modules. You can still continue to use `v1.22.0` though. If you want to upgrade to the newer versions, I would highly recommend migrating to go modules.

[2019-12-03 16:14] drov0 commented on #888
Okay, thanks !

[2019-12-03 17:32] AudriusButkevicius commented on #945
The v2 version does not do that. I guess you are arguing that it should stay that way?

[2019-12-04 03:08] lynncyrin commented on #952
🙏  thanks for your comments!

This is at...

- 1 👍
- 2 👎

...so I'm going to close it ♻️

I think this will be a helpful issue to read for future people who are trying to figure out this same problem 📖👩‍🎓 so I appreciate everyone's input here tons ✨

[2019-12-04 03:08] #952 closed

[2019-12-04 07:19] rliebz commented on #945
@AudriusButkevicius there's either some form of life cycle management going on, or a bug in the behavior right now. Going for the most minimal example based on the issue description:

[code]

I haven't dug into exactly why that's the case, but it is not what I would have expected the default behavior to be.

[2019-12-04 07:49] rliebz commented on #945
Looks like the behavior was introduced in #840

Specifically:
https://github.com/urfave/cli/blob/2dc008dada7993557e593ebd18ad0d656a90b208/context.go#L38-L47

[From the Go docs](https://golang.org/pkg/os/signal/#hdr-Changing_the_behavior_of_signals_in_Go_programs):

So apparently we _are_ doing lifecycle management by default. For certain code paths, including `app.Run`, avoiding that `signal.Notif

[2019-12-04 08:11] lynncyrin commented on #945
☝️ FYI @asahasrabuddhe

[2019-12-04 08:11] lynncyrin commented on #945
☝️ FYI @marwan-at-work too

[2019-12-04 08:33] AudriusButkevicius commented on #945
So the first problem is that you are calling action, you should not do that, as thats a struct member used for registering the call back. You calling it is essentially just calling any go function and not related to the library in any way.

I am not sure what go's default signal haning behaviour is, but you seem to suggest there is some sort of handler.

I guess I did not expect that, and if there

[2019-12-04 08:52] rliebz commented on #945
Sorry if that wasn't clear—Calling `app.Action` was just to illustrate that Go's default signal handling behavior is different than what `app.Run` does. Just `time.Sleep(10 * time.Second)` would have been a better example.

From the docs:

So there is a default behavior, and it is overridden by calling `signal.Notify`.

I think this is the only reasonable path forward.

Reference: https://golang.o

[2019-12-04 09:47] 18kondo opened #972 "v1 bug: Wrong document in Flags."
## my urfave/cli version is

_**2.0.0**_

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.git

[2019-12-04 13:07] asahasrabuddhe commented on #972
There seems to be some confusion here. Your code indicates the use of v1 but the error and the suggested fix indicates the use of v2.

If you want to use v2, please import `github.com/urfave/cli/v2` and refer to the v2 manual [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md).

Could you please share your `go.mod` file? It would help me help you better.

[2019-12-04 13:11] asahasrabuddhe commented on #945
I think then we should drop the PR I am working on and instead remove the `signal.Notify` call and let the default behaviour as implemented by Go continue. Advanced users can write the `signal.Notify` call themselves and implement desired behaviour.

If everyone agrees, please indicate by a 👍 on this post so that I can re-purpose the PR and make the changes.

[2019-12-04 17:05] marwan-at-work commented on #945
@asahasrabuddhe @lynncyrin

Thanks for tagging me in on this. The current code is definitely a bug :) But let me expand a little more about how it can be nicely fixed:

The `net/http` library sends a Cancellation signal through its `*http.Request.Context` when a user terminates the connection.

It can easily be misleading for many Go developers to see a Context that doesn't propagate the cancellat

[2019-12-04 17:10] #968 closed

[2019-12-04 17:11] marwan-at-work commented on #945
One way to solve my code above, is to make a new channel and call `signal.Notify` and starting a context Cancellation Goroutine on ever cli Action. But that can get super messy

### Alternate solution:
Maybe the `BeforeAction` function can return a new Context and the user might only write this logic once

Before:

`type BeforeFunc func(*Context) error`

After:

`type BeforeFunc func(*Context) (co

[2019-12-04 18:06] tpihl commented on #941
While i agree that process lifetime is outside this libs responsibility, I cannot find any way to pass a parent context into this lib (that can be cancelled as part of the lifetime).

What is the correct way to implement a context-based terminate signal?

[2019-12-04 19:47] AudriusButkevicius commented on #941
Yeah, it seems the API is lack-luster. Perhaps there should be RunWithContext.

[2019-12-04 19:54] AudriusButkevicius commented on #945
I think we need a RunWithContext, or NewAppWithContext. The fact we push down "some" context to the user is cool but if the user has no control over it, it's a bit weird.

[2019-12-04 20:02] marwan-at-work commented on #945
@AudriusButkevicius I like that I day as well 👍 -- I prefer RunWithContext so that users can still describe their API by a struct literal without having to run a constructor. Plus, Run() is the thing that creates a context so that's perfect

[2019-12-04 20:38] marwan-at-work commented on #945
I added a PR with @AudriusButkevicius's suggestion. Though I'm happy to change that PR up into any of the other suggestions 👍

[2019-12-04 20:40] bonesyo commented on #941
This is what I ended up adding:

[code]

[2019-12-04 21:22] whirlwin commented on #459
`  app.Flags = []cli.Flag{
    &cli.StringFlag{
      Name:  "config, c",
      Usage: "Load configuration from `FILE`",
    },
  }`

Worked for me.

[2019-12-04 21:23] lynncyrin commented on #921
#952 was closed, so I no longer intend on working on this

[2019-12-04 23:14] j0n3lson commented on #965
Hey there,

Been stalking this repo for a while. This one seems interesting to me :)

Would using kubernetes release notes (as suggested) be suitable or did you have something else in mind as well?
https://github.com/kubernetes/release/tree/master/cmd/release-notes

[2019-12-04 23:33] jhford opened #976 "v2 feature: allow flags after arguments"
## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2019-12-05 00:48] lynncyrin commented on #585
I think this issue is fixed as of v2?

[2019-12-05 01:20] 18kondo commented on #972
Thank you for your answer.
I have used v1 so far, but when I updated, an error occurred, so I will use v2 in the future.

I'm sorry. I don't use `go mod` and can't share.

[2019-12-05 05:34] j0n3lson commented on #965
I did take a look at release-notes. I think the only draw back is that it requires the GitHub API token. I can't think of a general way (e.g. anyone can publish the release notes with out access to the GitHub token).

Would be nice if release-notes had an option to look at the local git history instead of querying GitHub :(

Thoughts?

[2019-12-05 08:14] saschagrunert commented on #965
It parses the PR body for a `release-notes` block so it will not work without GitHub API access. You just need a read-only token which can be generated by anybody with a valid user account. The tool also supports JSON output, so we could use our own template around it to show-up the notes.

[2019-12-05 08:49] AudriusButkevicius commented on #976
Habe you tried setting the flags on the root of the app rather than the command itself?

[2019-12-05 08:52] AudriusButkevicius commented on #976
See #585

[2019-12-05 08:52] #976 closed

[2019-12-05 08:52] #972 closed

[2019-12-05 08:54] AudriusButkevicius commented on #965
Github actions (if we do move to that), provide tokens

[2019-12-05 13:17] rliebz commented on #783
I'm not sure that makes sense from an information ownership perspective. We're working with several namespaces here, each with distinct meanings, and our goal should be to preserve those meanings:`App`, `Command`, and `Context`.

Currently the word "program" only appears in code comments, so I'm going to assume that it's synonymous with `App`.

I don't think that `c.App.Name` is ambiguous. It happ

[2019-12-06 04:56] j0n3lson commented on #965
I'd be happy to take this up then 🤗

[2019-12-06 10:40] #945 closed

[2019-12-06 18:44] lynncyrin commented on #921
+1 migration PR => https://github.com/technosophos/dashing/pull/52

[2019-12-06 19:58] lynncyrin commented on #965
I do the following steps:

1. I create the release notes https://github.com/urfave/cli/pull/935
1. `git pull` the repo
1. `git checkout` the commit mentioned in https://github.com/urfave/cli/pull/935 that corresponds to a particular release version
1. `git tag v...`
1. `git push --tags v...`
1. open the release page, for example https://github.com/urfave/cli/releases/tag/v2.0.0
1. copy the release

[2019-12-06 20:40] lynncyrin commented on #783
via @AudriusButkevicius in https://github.com/urfave/cli/pull/974

[2019-12-06 20:41] lynncyrin commented on #783
via @asahasrabuddhe in https://github.com/urfave/cli/pull/974

[2019-12-06 21:01] lynncyrin commented on #960
closing this now b/c it's falling off my radar, but please do add replies if you have any links for us 🙏

[2019-12-06 21:01] #960 closed

[2019-12-07 03:00] lynncyrin commented on #965
@j0n3lson assigned this to you! 🚀

[2019-12-07 03:01] lynncyrin commented on #962
Got it, so it sounds like people who want to download the package from gopkg.in are currently 100% capable of doing so 👍 So I'll close this ♻️

[2019-12-07 03:01] #962 closed

[2019-12-07 10:11] ruzaikr commented on #785
I would love to do this. Pls assign it to me @lynncyrin :)

[2019-12-07 10:15] lynncyrin commented on #785
@ruzaikr you got it! 🚀

[2019-12-07 11:00] tpihl commented on #941
@bonesyo I really really don't want to go that way since i depend on my defer's in all running go-routines to actually shut things down correctly.

I admit to put a panic on a timer to be sure there is an actual termination if something go wrong, but os.Exit will never close or flush or sync anything, and I need SIGTERM to be a normal way to terminate when a subcommand is a server-thing.

@Audrius

[2019-12-07 11:28] ruzaikr commented on #785
I'm trying to reproduce this locally. It seems like this issue is found in v1. If I'm to fix this, I'm wondering whether it should be fixed for v1 or v2.

I haven't yet tested whether this behaviour exists in v2.

PS. This is my first Github issue :)

[2019-12-07 17:54] ruzaikr commented on #785
@lynncyrin This is my first Github issue so I would like to quickly check if I'm going in the right direction:

https://github.com/urfave/cli/compare/v1...ruzaikr:bugfix/785-no-error-when-same-command-name-used

Do I need to create some tests now?

[2019-12-07 19:06] lynncyrin commented on #785
@ruzaikr creating a draft pull request ([described on this page](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request)) is slightly easier than providing a link to your branch 🙂

WRT the code itself:

- yes you should add tests
- also consider checking if subcommands within the same command have the same name

[2019-12-07 23:55] coilysiren opened #980 "i18n support for urfave/cli"
## What problem does this solve?

We have many users of this CLI from all over the world, so it may be useful to provide translations for our error messages? Possibly ones that default to the language set by the user's environment variables? That would likely make the CLI easier to use for them.

## Solution description

This is more-so a discussion and idea generation issue, rather than an explic

[2019-12-07 23:57] lynncyrin commented on #833
Something I want to consider for v3: making all flags "generic", so you only have a "Flag" type and we use type assertions internally to turn it into `StringFlag`

[2019-12-08 04:36] lynncyrin commented on #833
It's looking like I'm not gonna have time to do a bunch of work on the V3 PR anytime in the near / mid future, so I'd like to hand it off to anyone else => https://github.com/urfave/cli/pull/936

Anyone is - who is so inclined - is also free to help guide this V3 tracking issue ✨

[2019-12-08 08:39] lynncyrin commented on #707
@asahasrabuddhe I'm un-assigning this since it's been sitting for a while, feel free to re-assign it to yourself if you stand up a PR for it

[2019-12-08 08:40] lynncyrin commented on #698
@asahasrabuddhe I'm un-assigning this since it's been sitting for a while, feel free to re-assign it to yourself if you stand up a PR for it

[2019-12-08 08:45] lynncyrin commented on #744
Hey @MichaelMure & @thedoc31, this issue may have been fixed by our [v2 release](https://github.com/urfave/cli/releases/tag/v2.0.0)? Check it out and let me know what you think.

[2019-12-08 11:06] ruzaikr commented on #785
Thanks @lynncyrin for your comment. I've given it a shot and created a PR :)

[2019-12-09 03:19] ruzaikr commented on #827
I like the vibe I'm getting from the community members who are active in this repo. I am looking always scouting the issues section to find something I can contribute to by creating a PR.

[2019-12-09 03:21] ruzaikr commented on #810
Let me give this a shot! @lynncyrin

[2019-12-09 04:16] lynncyrin commented on #810
@ruzaikr after https://github.com/urfave/cli/pull/984 is done, sure!

[2019-12-09 09:43] lynncyrin commented on #783
Hey, in case it's unclear - the current state of the world is that we need to come to a consensus on the desired solution here.

[2019-12-09 09:47] lynncyrin commented on #827
@ruzaikr in case you haven't already found it, here's the list of issues that could use help https://github.com/urfave/cli/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2019-12-09 10:22] gnowxilef commented on #810
oh, this is already taken care of by https://github.com/urfave/cli/pull/906.

[2019-12-09 10:22] #810 closed

[2019-12-09 16:18] thedoc31 commented on #744
@lynncyrin I'll see if the internal project using the framework has plans to upgrade to v2. Thanks for following up!

[2019-12-11 09:14] yezihack commented on #949
yes, mixing different version

[2019-12-11 09:58] j0n3lson commented on #965
I experimented with a few options today:

## Experimented with
### [Nightapes/go-semantic-release](https://github.com/Nightapes/go-semantic-release)
#### Pros
* Easy to configure (stock config file gets you generated CHANGELOG and can create a release.
* Manages semantic versioning: Can automatically increment or set a specific value on release
* Uses [Angular JS Commit](https://gist.github.com/st

[2019-12-11 19:24] j0n3lson commented on #965
I think also with Nightapes/go-semantic-release we can easily integrate with the exiting Github Actions setup (I'm no expert here). We'd probably need another action to run on merge and it would:

1. Fetch Nightapes/go-semantic-release
2. go mode download dependencies
3. Generate the change log and commit
4. Create the release (TODO: test that it release notes == change log)
5. Push changelog to m

[2019-12-11 19:56] AudriusButkevicius commented on #965
I think the thing we're mostly after is something that compiles release notes, version tagging et al and actually performing the release is somewhat secondary objectives (perhaps I am wrong, as I've been pretty hands off).

My vision of what I would want (but I am not the one making the releases so it's irrelevant to some extent).
Add a status check on PRs forcing them to be tagged skip-release-no

[2019-12-11 20:13] saschagrunert commented on #965
The Kubernetes release notes generator tests for a `release-notes` Code Block which could be part of the pull request template. It supports a somewhat opinionated markdown output and json output. So we could write a simple tool around the generator and use the JSON to print the notes into our own template, like labeling PRs by “feature” or “bugfix”.

[2019-12-11 21:49] j0n3lson commented on #965
I thought this project might like using labels vs parsing commit messages which seems to agree with what @saschagrunert pointed to. From your description it seems like we'd need something that enforces a rule like: *All PRs __must__ have at least one label {skip-release-notes, release-note-bugfix kr release-note-feature}*. It would be used at pull request time (and possibly at merge time).

Kubern

[2019-12-11 21:58] saschagrunert commented on #965
From a use case / generating perspective: In the k8s release notes generator you can specify an empty notes block or something like `NONE`, and the PR gets skipped automatically. The good thing is that a maintainer (or the author) could edit the PR if someone says “the note is not appropriate”. Then a re-generation of the notes results in the improved output. So from my point of view it’s easier t

[2019-12-12 07:38] tanghaibao commented on #427
I loved cli library before but this issue of not able to mix arguments and flags is ridiculous.

To make things worse, certain earlier version used a reordering hack (which I kind of liked but recognizing that's creating other bugs) but were later reverted, causing behavior to vary greatly between versions. I understand that there are bugs regarding this both ways, but the Unix-y default should al

[2019-12-13 12:32] bjornoj opened #989 "v1 bug: changelog url is wrong"
## my urfave/cli version is
master

_**( Put the version of urfave/cli that you are using here )**_
master

On master, the changelogUrl is wrong. It is: [https://github.com/urfave/cli/blob/master/CHANGELOG.md](https://github.com/urfave/cli/blob/0fae42541a5d0e567c9ad8c37a4dde430b299a63/app.go#L16)
but should be `https://github.com/urfave/cli/blob/master/docs/CHANGELOG.md` The docs folder is importa

[2019-12-14 05:16] #989 closed

[2019-12-17 20:47] akashdobaria opened #991 "Flags are treated as Args"
## my urfave/cli version is

2(recently updated with the master)

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github

[2019-12-18 03:18] navono opened #992 "v2 bug: cli app can not start as Windows service"
## my urfave/cli version is

_**v2**_

## Describe the bug

I create a command line app with `cli`, everything works fine under normal conditions, but when I use `sc` to install it as a Windows service, it can not start up because of below error:
[code]

remove`cli` code and switch to standard flags, everything is ok.

## To reproduce

Just create a plain demo with `cli`, then use `sc` to install

[2019-12-18 03:29] lynncyrin opened #993 "maint: add gofmt checking to CI"
via https://github.com/urfave/cli/pull/981#discussion_r358792047

[2019-12-18 03:35] lynncyrin commented on #992
@navono I'm not sure you reported this to the right Github repo? Can you answer the following questions:

1. what is `sc`?
2. what windows service are you talking about? this is an open source package, there are no services involved here.
3. what service is returning `The service did not respond`?
4. when you say _"when I use `sc` to install **it** as a Windows service"_ what is **"it"** referring

[2019-12-18 04:26] Sytten commented on #941
FYI there is a RunWithContext now

[2019-12-18 05:25] navono commented on #992
@lynncyrin thank you for response.

It's a build in service tool in Windows, used to manage and control services( Windows service like daemon in Linux).

I'm talking about Windows Service that hosted by OS, sort of like systemd in Linux.

Take systemctl for example, like `systemctl start` to start the gegistered service, but failed.

Use systemd again for the example, when we say register it as a

[2019-12-18 07:39] lynncyrin commented on #992
What's the command being run to install `urfave/cli`? eg. what command is `sc` running?

Can you also give me the following things:

1. the output of `go env` for a build that succeeds
2. the output of `go env` inside of `sc`

[2019-12-18 07:41] lynncyrin commented on #991
👍 @akashdobaria this issue here makes sense, marking it was `help wanted` for anyone to work on 👍

[2019-12-18 07:42] lynncyrin commented on #991
@akashdobaria if you have some extra time on your hands, you're totally free to work on the fix for this issue yourself! otherwise, I'm sure someone will swing around to work on it eventually 👀

[2019-12-18 08:44] lynncyrin commented on #931
closed via https://github.com/urfave/cli/pull/970

[2019-12-18 08:44] #931 closed

[2019-12-18 08:45] lynncyrin opened #995 "maint: switch CI from appveyor to Github Actions"
Followup from https://github.com/urfave/cli/issues/931, but more specifically https://github.com/urfave/cli/pull/970#issuecomment-562822318

[2019-12-18 11:10] navono commented on #992
I've found the cause of the problem. When the app registered as service used by `sc`, their work dir has been changed to `C:\Windows\System32`, if any part of program use relative directories, It will fail when serice started.

[2019-12-18 11:10] #992 closed

[2019-12-18 12:35] odiferousmint commented on #949
It does not work for me either, I get:

[code]

I am using `"github.com/urfave/cli"`, without go modules.

[2019-12-18 12:39] odiferousmint commented on #949
It does not work for me either, I get:

[code]

For what it is worth, I straight out copied the code from https://github.com/urfave/cli/blob/master/docs/v2/manual.md.

[code]

I am using `github.com/urfave/cli`, without go modules.
Go version is `go1.13.5 linux/amd64`

[2019-12-18 12:44] odiferousmint commented on #949
Make sure to run `go get -u github.com/urfave/cli` to update it if you are not using go modules.

[2019-12-18 17:50] odiferousmint opened #998 "OnUsageError does not apply to "Incorrect Usage.""
I removed the template because this is unnecessary in this case. I will just reference the lines with the bug (or lack of feature): https://github.com/urfave/cli/blob/master/app.go#L253 and https://github.com/urfave/cli/blob/master/app.go#L384.

Was this intended to be covered by `OnUsageError`? Right now when you pass invalid flags, you get this error message that you cannot customize in an easy

[2019-12-18 20:09] lynncyrin commented on #998
@odiferousmint I would appreciate if you had kept the template, because I'm having a hard time identifying the concrete thing you're asking for 😅

[2019-12-18 21:35] odiferousmint commented on #998
Hmm, to sum it up: I want to change the default `Invalid Usage: ...` text. Possibly using the same way `CommandNotFound` is implemented, except for flags. Alternatively you could expose the incorrect flag(s) that was/were given in `OnUsageError` which would suffice for me to have my own implementation of the `help` command on my end. No need to make it into a parameter, an exported variable will d

[2019-12-18 21:49] lynncyrin commented on #998
I get it now 👍

[2019-12-18 21:56] odiferousmint commented on #998
I edited my comment A LOT of times, so it is a bit more complicated again. :D I might end up implementing it myself because it is otherwise the best library for command-line parsing. The rest had even worse, major issues.

[2019-12-19 00:00] lynncyrin commented on #998
@odiferousmint I am 100% in favor of you fixing this yourself! I can assign this issue to you, and the expectation would be that you work on it within the next ~2 months.

[2019-12-19 00:00] lynncyrin commented on #998
ah to clarify, would you be interested in me assigning this issue to you @odiferousmint?

[2019-12-19 12:02] heyanlong opened #1003 "v2 bug: StringSliceFlag not work"
e.g.
[code]
output
[code]
expect
[code]

[2019-12-19 12:35] odiferousmint commented on #998
I am extremely busy; traveling, holidays and such but I am already working on it. It seems to work so far as intended but it requires extensive testing with all possible combinations, and of course I will have to polish it up a bit. I do not really want to use GitHub for more than posting comments and I do not intend to submit a pull request here, I will do it via e-mail if that is OK with you. It

[2019-12-19 12:43] odiferousmint commented on #998
I am extremely busy; traveling, holidays and such but I am already working on it. It seems to work so far as intended but it requires extensive testing with all possible combinations, and of course I will have to polish it up a bit. I do not really want to use GitHub for more than posting comments and I do not intend to submit a pull request here, I will do it via e-mail (I am old school! :D) if t

[2019-12-20 09:34] lynncyrin commented on #1003
@heyanlong here's a usage example for `StringSliceFlag` https://github.com/urfave/cli/issues/910#issuecomment-542353576

I'm sorry it's confusing! I'll make an issue for adding an example to the docs.

[2019-12-20 09:34] #1003 closed

[2019-12-20 09:38] lynncyrin commented on #1003
To fully re-create your example, instead of this

[code]

what you need is this

[code]

[2019-12-20 09:41] coilysiren opened #1005 "v2 documentation: add a StringSliceFlag example to the manual"
## What problem does this solve?

This would solve people creating issues about unexpected behavior from the `StringSliceFlag`, like these ones:

- https://github.com/urfave/cli/issues/910
- https://github.com/urfave/cli/issues/1003

## Solution description

Add an example, or maybe multiple examples, of how to input `StringSliceFlag`

## Describe alternatives you've considered

I've considered po

[2019-12-20 14:35] tboerger commented on #603
Is it more complicated to get this integrated? Can I help somehow? Getting `Destination` for the slices would reduce the whole boilerplate code within https://github.com/drone-plugins which are all based on urfave/cli.

[2019-12-21 08:53] lynncyrin opened #1006 "Fix the documentation tests so that they run against the code in the current branch"
surfaced via https://github.com/urfave/cli/pull/997#issuecomment-568153073

[2019-12-21 21:00] j0n3lson commented on #965
Hey everyone. So I'm a little confused on how to get started/make progress here :(
I think the release-notes tool can already do what @AudriusButkevicius pointed out.

There seems to be two use-cases here:
1. Generating docs/CHANGELOG.md
2. Generating release notes (e.g. https://github.com/urfave/cli/releases/tag/v2.0.0)

I guess my main question is would the default output of `release-notes` ([ex

[2019-12-21 21:37] lynncyrin opened #1007 "Validate that PRs have a title / release notes / labels"
via https://github.com/urfave/cli/issues/965#issuecomment-568211620

[2019-12-21 21:41] lynncyrin commented on #965
The output from `release-notes` looks just like what I already write, and I already copy from the changelog to the release notes page, so yes 👍👍👍

👍 give me the list and I can do it now?

This is a distinct task - so I cut a new issue => https://github.com/urfave/cli/issues/1007

I would described myself as _"fond of"_ rather than _"attached"_ 🙂 Fully automating the releases is more important to m

[2019-12-22 08:59] renzhengeek opened #1009 "v2 bug: how to pass down global information into subcommand"
Hi,

It's great package! I'm not sure it's a problem or I just haven't known how to achieve this task.

I have a 2-level cli tool:
- there is a `--config xxx` global option, which accepts a config file, parses it and need to pass down some subcommand-specific items if needed;
- there is `monitor` subcommand, which need to consume some items in config file;
- there problem is, I made the `monitor`

[2019-12-22 17:48] saschagrunert commented on #965
What about if we agree on a set of kinds for every PR, where multiple kinds per PR are possible as well, for example:

- `kind/bug`
- `kind/cleanup`
- `kind/documentation`
- `kind/feature`

Then we could create the notes via the tool and parse the JSON into our own preferred output, like:

[code]

[2019-12-22 23:01] lynncyrin commented on #965
Love this idea ✨

[2019-12-24 06:14] ImJerryChan opened #1010 "v1 bug: ( Cannot use cli.StringFlag (type cli.StringFlag) as type cli.Flag )"
Hello, it's my first time to use this module. I have a question about manual v1.
https://github.com/urfave/cli/blob/master/docs/v1/manual.md#placeholder-values
I see the manual tell us to change type cli.StringFlag as cli.Flag(An interface type), but when I compile the code below, it will raise an error
[code]
When I finish compiling with my solution, I haven't seen the result in help output like:

[2019-12-24 09:12] lynncyrin commented on #1010
@ImJerryChan

The issue you are having is caused by using the `v1` manual with `v2` of the library. Please do either of the following things:

- look through this issue https://github.com/urfave/cli/issues/928 to figure out how to pin v1, because the error you are receiving is from trying to run v1 code with v2 of the package
- look through this issue https://github.com/urfave/cli/issues/921 for e

[2019-12-24 09:12] #1010 closed

[2019-12-24 10:17] lynncyrin commented on #923
This will almost certainly be solved as a part of https://github.com/urfave/cli/issues/965 👀so I'm gonna assign @@j0n3lson to this too 📝

[2019-12-24 14:13] lynncyrin commented on #1006
Extra reason to fix this: new version pushes and result in all of our PR builds suddenly breaking => https://github.com/urfave/cli/pull/1001/checks?check_run_id=362350191

[2019-12-24 14:32] lynncyrin opened #1015 "All builds currently failing"
Because of something with the `v2.1.0` release, I'm investigating now https://github.com/urfave/cli/releases/tag/v2.1.0

[2019-12-24 14:32] lynncyrin commented on #1015
Example https://github.com/urfave/cli/pull/1014/checks?check_run_id=362354602

[2019-12-24 14:37] lynncyrin commented on #1015
better repro https://circleci.com/gh/lynncyrin/testing-cli/7?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-12-25 15:50] #1015 closed

[2019-12-25 16:15] #961 closed

[2019-12-26 06:31] acrisci commented on #771
I'm getting this too. I should really fix this for you instead of posting my crappy workaround.

Anyway, here's my crappy workaround:

[code]

[2019-12-26 07:00] lynncyrin commented on #771
@acrisci can you create a new issue and link to this one? thank you!

[2019-12-27 07:41] tpihl commented on #941
Super!!

Ref #945

[2019-12-27 11:36] lynncyrin commented on #1009
In case it's unclear, @renzhengeek I don't know the answer to your question offhand 🙂

[2019-12-27 11:53] lynncyrin commented on #995
☝️ I put a few minutes of work into this, building off of what asahasrabuddhe already did

[2019-12-27 12:02] lynncyrin commented on #998
FYI for whenever you read this -- I consider this issue claimed for 90 days from whenever you last commented / made other visible updates. So feel free to circle back anytime in the next _(glances)_ 82 days 😄

[2019-12-27 12:06] coilysiren opened #1020 "Codecov is still commenting on PRs 🙄"
via https://github.com/urfave/cli/pull/1019#issuecomment-569253463

https://github.com/urfave/cli/pull/979 didn't work I guess 😭

[2019-12-27 12:13] lynncyrin commented on #789
👀 in case news hasn't reached any of ya'll yet, the project is very well maintained now ✨

[2019-12-27 12:16] lynncyrin opened #1021 "Mute the colors on the issue labels"
## Motivation

The current colors are loud, which can make reading text hard

## Screenshot

![image](https://user-images.githubusercontent.com/5768468/71516755-941aa600-285f-11ea-938e-85574c302d27.png)

[2019-12-27 12:18] saschagrunert commented on #1020
We could try something like this:
https://github.com/cri-o/cri-o/blob/master/.codecov.yml

We use this config to have only a very short comment on PRs like this:
https://github.com/cri-o/cri-o/pull/3045#issuecomment-565188431

[2019-12-27 12:23] lynncyrin opened #1022 "Formalize incoming issue triage"
## Motivation

[I just discovered](https://twitter.com/lynncyrin/status/1210522868502515713) that new issue creation doesn't ping anyone by default. That makes triage really hard? So I'd like to standup some process that'll make incoming issue triage more reliable. It will be an expansion upon the current system where I triage incoming v1 bugs (example https://github.com/urfave/cli/issues/1010), a

[2019-12-27 12:26] lynncyrin commented on #1022
Nascent thought: a `@urfave/cli-triage` github group that's cc'ed in all the issue templates

[2019-12-27 12:40] rliebz commented on #1022
I do get notified when someone opens an issue. Not sure what the circumstances are where that would or wouldn't happen, but for me it started in this repo when I got added to the urfave org.

[2019-12-27 13:09] lynncyrin commented on #1022
I don't (_and would like to)_, but that's probably because of this => https://twitter.com/lynncyrin/status/1210540532729954304

[2019-12-27 13:09] rliebz commented on #1009
I think the intended way of doing this is leveraging the `Metadata` field on the top level `App`, which is always accessible from the `*cli.Context` in any package:
https://github.com/urfave/cli/blob/db3269ccb900db46f4f9d9c445b416c1a5e882d3/app.go#L80-L81

Here's an example of that in use:

[code]

While in this case I am doing everything in the `main` function, you should be able to split this pa

[2019-12-28 22:11] j0n3lson commented on #923
Yeauuuuuuhhhh!

On Tue, Dec 24, 2019, 2:17 AM lynn [they] <notifications@github.com> wrote:

[2019-12-30 13:41] excavador opened #1029 "v2 bug: godep can not find github.com/cpuguy83/go-md2man/v2/md2man"
## my urfave/cli version is

_**v2.1.1**_

## Checklist

* [ x] Are you running the latest v2 release?
* [x ] Did you check the manual for your release?
* [x ] Did you perform a search about this problem?

## Dependency Management

- [x ] My project is using vendoring.

## Describe the bug

1. Remove Gopkg.lock in your project
2. Run godep

[code]

## Additional context

Problem with this import:

[2020-01-01 03:07] lynncyrin commented on #1022
It turns out that this may be a github bug! https://twitter.com/mistydemeo/status/1210705434434248706

I'll work around it in the meantime

[2020-01-01 03:07] #1022 closed

[2020-01-01 03:13] lynncyrin commented on #1029
Here's a snippet from the readme

I'm comfortable stating pretty plainly that I have no idea how to get `godep` working here, because we haven't looked into supporting `godep` + vendoring.

That makes the answer to your question

_"use go modules"_ 🙂

If you would like to create a feature request, requesting that we support godep + vendoring, then I will happily look into that! For the sake of thi

[2020-01-01 03:13] #1029 closed

[2020-01-01 03:24] xiegeo opened #1033 "Conflicting documentation in manual for flag precedence"
## my urfave/cli version is
2.1.1

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com

[2020-01-03 03:49] xiegeo commented on #1009
I would like to offer an alternative solution.

Although it looks like `Action: func(c *cli.Context) error` limits you to only use context in your action handlers. This is not true since you can write a function that generates other functions:

[code]

You can use this with `Action: monitor.Action(data)`

This a common pattern for any kind of handler function you may write.

[2020-01-04 07:08] bonedaddy commented on #921
command line flag migration steps also need to be updated, at the very least to document the way command-line flag aliases now behave.

Previously you could define aliases liek:

[code]

however you now need to do
[code]

Here is a minimal repro
[code]

[2020-01-04 08:19] lynncyrin commented on #921
@bonedaddy 👍  I added these lines

[2020-01-04 08:21] lynncyrin commented on #1033
I don't know which precedence is correct off-hand, and would appreciate if someone could research that and update the manual 👍 I marked this with `help wanted` for anyone to pick up.

[2020-01-04 08:59] bonedaddy commented on #921
sweet, thank you :rocket:

[2020-01-05 22:27] renzhengeek commented on #1009
Thanks for the idea. I will give a try later. But, it seems not working:  we can only register subcommand with the function signature:
[code]

The problem is, when the wrapper should/can be called instead of calling subcommand action fn directly?
[code]

[2020-01-05 22:31] renzhengeek commented on #1009
@rliebz Thanks very much for your example. I think the example is good enough to be putted in the doc.

Thanks all for your kind help. Closed:-)

[2020-01-05 22:31] #1009 closed

[2020-01-06 07:48] AchalaSB opened #1034 "How to represent the dynamic value in cli?"
Hi,
I need an approach to achieve my use-case using this package

I'm able to manage subcommands in the cli using this package(V1 version )
It is working like this `test hello compile`

**Requirement**:
Now I want to add another argument. like this  `test hello details <hash_of _the_code>`

`<hash_of _the_code>` is dynamic. How can I add it in cli?
The method I used  for other command is to add fi

[2020-01-06 18:17] lynncyrin commented on #1034
@AchalaSB you can pass it in as an argument. [In this example](https://github.com/urfave/cli/blob/master/docs/v1/manual.md#arguments) `c.Args().Get(0)` is getting the first argument, which would be `<hash_of _the_code>` in your case.

[2020-01-06 18:17] #1034 closed

[2020-01-09 23:35] j0n3lson commented on #965
I ended up going with @saschagrunert earlier [suggestion](https://github.com/urfave/cli/issues/965#issuecomment-564713233) (support templates in release-tool). I have a [PR#1008](https://github.com/kubernetes/release/pull/1008). With that PR we can specify whatever format we need in the template (and skip bits we don't need like the SIG stuff).

I experimented with wrappers around release-notes as

[2020-01-10 00:43] lynncyrin commented on #965
No objections, totally ship it!

[2020-01-10 01:45] lynncyrin commented on #1021
✅
![image](https://user-images.githubusercontent.com/5768468/72119001-d3d59900-3307-11ea-9842-8af318e99a5a.png)

[2020-01-10 01:45] #1021 closed

[2020-01-10 01:56] lynncyrin opened #1038 "maint: master is failing"
source:

- https://github.com/urfave/cli/pull/1037
- https://github.com/urfave/cli/pull/1037/checks?check_run_id=382594792
- `node_modules/.bin/markdown-toc: no such file or directory`

[2020-01-10 01:59] asahasrabuddhe commented on #1038
Will check this out :)

[2020-01-10 08:16] saschagrunert commented on #965
I think I know what you mean :blush:, I'm currently working on a tool which uses the release notes parser in a programmatic way, the logic can be mainly found here: https://github.com/kubernetes/release/blob/137f2f6ae4b79c0a02f37517cb147d3bd76e6e9d/cmd/krel/cmd/changelog.go#L131-L199 (might be a source for inspiration)

[2020-01-13 05:32] asahasrabuddhe commented on #1038
@lynncyrin I have updated #1037 to make the tests pass.

[2020-01-13 17:45] lynncyrin commented on #1038
Closed via https://github.com/urfave/cli/pull/1037

[2020-01-13 17:45] #1038 closed

[2020-01-14 12:04] zhsj opened #1040 "v2 bug: generated manpage has error in metadata"
## my urfave/cli version is

master

## Checklist

* [ ] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [ ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [ ] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2020-01-14 13:05] saschagrunert commented on #1040
Hey @zhsj, this might be an issue with our markdown doc template. The `greet(8)()` was not reproducible for me right now. Which kind of settings for the app did you use?

[2020-01-14 13:25] rliebz commented on #833
Improve testability of `*cli.Context`. A couple of potential options:
- Create a `cli.NewTestContext` or similar that could give us the ability to configure private fields like `flagSet` that are currently impossible to set externally.
- Make `cli.Context` an interface, so `cli.ActionFunc` and friends could accept any type that implements those methods, rather than only a `*cli.Context`.

See disc

[2020-01-14 13:34] zhsj commented on #1040
The screenshot is taken from https://github.com/urfave/cli/blob/master/testdata/expected-doc-full.man run command `man -l path/to/file`

[2020-01-14 14:20] saschagrunert commented on #1040
Got it, fix is incoming.

[2020-01-14 17:36] #995 closed

[2020-01-15 16:47] asahasrabuddhe commented on #833
This is an amazing idea

[2020-01-15 19:15] j0n3lson commented on #965
Yep. That's the one I saw before. I filed [issue#1019](https://github.com/kubernetes/release/issues/1019) on k/release to discuss migrating to the same template-based approach approach as PR#1008.

[2020-01-15 19:22] j0n3lson commented on #965
In terms of this issue, the only think left to do is:

1. Wait for the PR to land in k/release/cmd/release-tool to land
2. Add a urfave/cli specific template to the repo

Missing anything else?

[2020-01-16 01:25] bestgopher opened #1042 "how to stop a cli.App"
## my question is...

i want to stop a cli.App by codes。what should i do？

[2020-01-16 08:39] saschagrunert commented on #965
We can think about adding a GitHub action to generate the notes, but I'm not sure if we want to do that.

[2020-01-16 13:03] #1040 closed

[2020-01-16 14:53] saschagrunert commented on #287
@lynncyrin we should move forward with this one. Wrapping based on the term width seems a sane default. :)

[2020-01-16 21:06] lynncyrin commented on #965
This definitely sounds like something we'd want to do 👍

[2020-01-16 21:07] lynncyrin commented on #287
👀 this is now ready for anyone to work on!

[2020-01-16 21:10] lynncyrin commented on #1042
I'm not 100% certain this is the answer you're looking for, but I generally stop the app by any of these methods:

- add `return nil` inside of your `Action` function
- add a `log.Fatal` anywhere
- add an `os.Exit` anywhere

does that help @bestgopher ?

[2020-01-17 12:20] acheron2302 opened #1045 "conflict between godoc document and github manual document"
In [godoc subcommand example](https://godoc.org/github.com/urfave/cli#example-App-Run-Subcommand), the subcommand code is:
[code]
but in the [github subcommand example](https://github.com/urfave/cli/blob/master/docs/v1/manual.md#subcommands), the subcommand type is:
[code]

As you can see the godoc Subcommand's type is []*Commands but in the github manual, the godoc Subcommand's type is []Commands

[2020-01-17 20:41] lynncyrin commented on #1045
@acheron2302 offhand, I don't know what godoc is using to generate its documentation. If you wanted to investigate how exactly that pipeline works, I could help you out.

In the meantime, building off of the above, we only actively maintain the github manual. So the github manual is what you should be using.

[2020-01-17 23:53] rliebz commented on #1045
The godoc is generated from the tests and uses the default code branch, which is `master`. It's run alongside the test suite in the pipeline, so it should always be up to date as long as the build is passing.

This is a link to that test case:

https://github.com/urfave/cli/blob/ee9b3fc7d13f866db38bd32f67f5081df22c3cac/app_test.go#L55-L92

The GitHub URL there is for `v1`, the equivalent link is h

[2020-01-18 01:21] #1045 closed

[2020-01-18 22:37] lynncyrin commented on #826
2.0 is looking pretty stable now, so I'ma close this ♻️

[2020-01-18 22:37] #826 closed

[2020-01-18 22:38] lynncyrin commented on #922
via https://github.com/urfave/cli/issues/1045#issuecomment-575838591, I discovered that godoc stuff already happens automatically ^^

[2020-01-18 22:38] #922 closed

[2020-01-20 11:08] APoniatowski opened #1047 "a command/subcommand, args question"
## How do I take more than 1 arg, after my commands/subcommands?

I would like to create commands in such a way and pass it to my app, `app command subcommand the rest of the command that will be turned into a string` ... so far it is only taking 1 arg and nothing more, how do I get it to take everything after the first command/subcommand?

my output example:
`app command read this string`

`app c

[2020-01-20 13:17] #1047 closed

[2020-01-21 02:15] rliebz commented on #833
Closed a while back due to staleness, but removing unused fields such as `Compiled` are a good candidate for reducing the public API surface: https://github.com/urfave/cli/issues/753

[2020-01-21 04:26] lynncyrin commented on #852
This is closer, but still probably not verbose enough. There's also a few words / phrases that are likely to trip people up here, specifically:

- "was passed"
- "define an associated flag"
- "you did not define"

^ those all have meaning for CLI authors, but are likely not very understable for many CLI users. In particular there's the _"you did not define"_, which isn't true from the PoV of users

[2020-01-21 04:32] lynncyrin commented on #852
I'm also vaguely skeptical that the casual user will know what the word "flag" means, so it might be better to remove that word from the error message entirely. On a related note, the "app" term only likely makes sense if you're a CLI author. So I'm thinking about an error message like this

[2020-01-21 14:12] rliebz commented on #852
A few examples of existing CLIs with error messages:
- `sed`: `sed: illegal option -- j`
- `awk`: `awk: unknown option -j ignored`
- `vim`: `Unknown option argument: "-j"`
- `emacs`: `Unknown option ‘-j’`
- `go`: `flag provided but not defined: -j`
- `git`: `unknown option: -j`
- `python`: `Unknown option: -j`
- `pip`: `no such option: -j`
- `node`: `/usr/local/bin/node: bad option: -j`
- `docker`

[2020-01-21 21:43] lynncyrin commented on #852
Your appraisal of the landscape is a good one 👍 That said, changing the error message to `unknown option: -j` would likely lead to a large increase in the amount of time I spent supporting users with this problem 😆

So what I would like to see here is some capability that allows CLI authors to provide their own error messages for all of our errors.

[2020-01-23 14:00] eyudkin opened #1050 "altsrc doesnt set zero-values"
## my urfave/cli version is

V2.1.1

## Dependency Management

- [+ ] My project is using go modules.

## Describe the bug

Parsing integer value from source will not set it if its == 0. (i have a case, when my default value was "1", but I wanted to set "0" via config)
It occurs here:
[code]

## To reproduce

To parse any int flag with zero value from config (probably works also for booleans, empt

[2020-01-23 14:15] eyudkin opened #1051 "altsrc requires flag names"
## What problem does this solve?

For now altrc requires to name my flags using dots to find them into multi-level config files.
I.e. to find a flag "level" in the following config:
[code]
..i need to name my flag "infrastructure.logger.level" without exceptions.
But what if I dont need it? For my cli interface I want its name to be "--log-level", because I dont need any nested things there.
So, I

[2020-01-24 00:36] rliebz commented on #852
I personally think there's value in a shorter error message compared to what we currently have. It may be confusing because it offers information that's irrelevant to the person trying to debug, rather than not offering enough context.

Regarding providing different error messages, I agree, that functionality is necessary. It looks like the `OnUsageError` field should be the current solution, but

[2020-01-25 18:02] asahasrabuddhe commented on #914
These guys are doing what you are talking about @saschagrunert

https://github.com/alecthomas/kong

[2020-01-25 18:21] saschagrunert commented on #914
Ah okay we could add something via go tags. I think this might be a nice feature.

[2020-01-27 21:50] #993 closed

[2020-01-28 12:35] oleorhagen opened #1055 "Move man page compatibility to separate package"
## What problem does this solve?

We have currently run into an issue where 30% of our binary size is the `urfave/cli` library. With the latest release `v2` it it 50%, which for us is not going to fly.

- Add a minimal version of the cli, using conditional compilation maybe?

## Solution description

Add a `minimal` build flag which does not include all the external dependencies like `md2man` etc,

[2020-01-29 17:27] asahasrabuddhe commented on #1055
This is an interesting observation. I think that we could look at making the library `modular` so that it is possible for the users to import certain modules that they want to use and ignore the others. This would considerably help in keeping the size down.

Having said that, I think this won't be possible for the v2.

But, I am glad to share with you that we are currently working on v3. I think I

[2020-01-29 17:30] asahasrabuddhe commented on #833
Interesting Feature: Make the library modular.

As mentioned in issue #1055 our library has grown quite large considering a plethora of features we are offering. While this is good, not all users are using every feature. This means that people are downloading a bunch of dependencies and not ending up using them.

Having a modular library would allow us make the core smaller and have the other feat

[2020-01-29 19:43] lynncyrin commented on #1055
I think if nothing else, it would be a good idea to add some stats about binary size to CI. We can do that now, and look at reducing it for V3.

[2020-01-30 08:21] lynncyrin opened #1057 "maint: add binary size checking to CI"
## What problem does this solve?

This fixes the problem of the binary size increasing over time, which is a non-starter for some users (like @oleorhagen!)

## Solution description

A script that does the following psuedo-code:

[code]

## Potential Future Work

If we make the CLI modular (mentioned here https://github.com/urfave/cli/issues/833#issuecomment-579869829), we can assert different expe

[2020-01-30 09:13] asahasrabuddhe commented on #833
When we were planning to release `v2`, there was some talk about how to go forward with the release. There were several chains of thought around the matter. I think we are at a point where we would soon release `v3`. I want everyone's help in deciding how are we going to go forward with the release.

Do we cut out a separate `v2` branch like the `v1` and continue bug fixes and other development et

[2020-01-30 09:37] asahasrabuddhe commented on #833
I also think that we should start with a development branch for `v3` where we can merge the changes and keep it up-to-date with `master` until we decide to make the final release. I will check out this branch from master and point my PRs to that branch

[2020-02-03 09:08] Southclaws commented on #914
I've also done it here, feel free to pull in, I could make a PR for this repo if that's of interest http://github.com/Southclaws/clive

[2020-02-03 16:21] TomOnTime commented on #921
I kept notes as I did a recent conversion.  I think these are going to be the typical "first steps" for people (well... people like me!)

1.  Import string changed

* OLD: `import "github.com/urfave/cli"`
* NEW: `import "github.com/urfave/cli/v2"`

2.  Flag aliases are done differently.

Change `Name: "foo, f` to "Name: "foo", Aliases: []string{"f"}`

(Steal the examples in
https://github.com/urfa

[2020-02-03 17:38] lynncyrin commented on #921
Those are good notes, thanks @TomOnTime ✨

[2020-02-03 19:40] TomOnTime commented on #921
Thanks!

If I may be so bold: I think the typical user of urfave/cli would rather have a few conversion tips now than the perfect document in the future.  I would be honored if you published my notes as the starting point; people could send PRs with improvements over time.

It turns out that the conversion process is pretty easy, but I had been avoiding it because I didn't know how hard or difficu

[2020-02-03 20:48] lynncyrin commented on #921
I'll follow up on this sometime soon 👍

[2020-02-06 01:23] MostHated opened #1061 "q: Best way to call application from python 2.7?"
## my question is...

_**(
Hey there,
   Not sure if anyone knows the answer to this as it may be mostly Python related but I figured it was worth a shot. I am trying to call a small application I made using this package in which I would call it with the syntax of ./searcher.exe (q)uery "searchterm", which ends up looking like the following:

[code]
I am having an issue trying to call this from Py

[2020-02-06 04:14] MostHated commented on #1061
I keep trying different things I come across online. This current one:

[code]

I just keep getting "No help topic for 'q render'\n" when trying to pass ```q render``` to it. I must be missing something silly somewhere. There has to be a way to it to accept the string as if I were to just type out ```./searcher.exe q render```

[2020-02-06 05:00] MostHated commented on #1061
Ok, I got it figured out. I had to change it from accepting a string via Command and change it so -query was a StringFlag and then I just passed the string I wanted to pass as an argument and I was able to get it working.

[code]

[2020-02-06 05:00] #1061 closed

[2020-02-06 16:54] #863 closed

[2020-02-09 18:56] tredoe opened #1063 "Add section 'Examples'"
## Checklist

* [x] Are you running the latest v2 release?
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this feature?

## What problem does this solve?

- To have a place where look for examples of usage.
- After of a period of time without using a tool you could forget some flags, and the fast way to remind it is reading examples.

## Solution description

[2020-02-09 19:03] tredoe opened #1064 "Tag command name from the subcommand"
## my question is...

At using `{{.Name}}` at the 'CustomHelpTemplate' field of a subcommand, I get the subcommand name, but I also need the command name.

_**Which is the tag name to get the command name?**_
_**And the program name?**_

[2020-02-09 19:14] tredoe opened #1065 "v2 feature: Boolean to check if option help was set"
## Checklist

* [x] Are you running the latest v2 release?
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this feature?

## What problem does this solve?

- needing to know whether the option for the help was set
- if need to open some file (for logging) at function `Before`

## Solution description

To have a boolean to check if that flag was set..

## Descr

[2020-02-09 22:07] #1065 closed

[2020-02-09 22:13] tredoe opened #1066 "v2 feature: print text to indicate when a flag allow multiple values"
## Checklist

* [x] Are you running the latest v2 release?
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this feature?

## What problem does this solve?

- need to print a text to know when a flag is a slice (allow multiple values)

## Solution description

I would want that after of the usage message were printed a text like i.e. `(multiple)`

[2020-02-09 22:44] lynncyrin commented on #1064
@tredoe I don't know the answer to your question offhand, but https://github.com/urfave/cli/issues/783 is related here 👀

[2020-02-09 22:46] lynncyrin commented on #1066
I'm surprised that we don't do this already!

Something like `(accepts multiple inputs)` sounds perfect

[2020-02-11 11:49] rliebz commented on #783
To avoid being blocked here, I'm going to propose we go with the following more conservative subset of what I proposed before:

- `c.App.Name` should no longer be modified during the course of the application. This will just be the application's name and will no longer reference command-related values
- If users need access to the previous behavior of `c.App.Name`, it can be built manually using t

[2020-02-12 09:09] tredoe opened #1068 "Print text to indicate when a command is a sub-command"
## Checklist

* [x] Are you running the latest v2 release?
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this feature?

## What problem does this solve?

- Need to print a text to know when a command is really a sub-command; when the help is printed, it shows a section called 'COMMANDS' where could have some sub-commands.

## Solution description

I would wa

[2020-02-12 09:16] tredoe opened #1069 "Add option to avoid that '[arguments...]' been printed"
## Checklist

* [x] Are you running the latest v2 release?
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this feature?

## What problem does this solve?

- By default, the help of a command shows the section `USAGE` with a text like:
**cmd_name** `[global options] command [command options] [arguments...]`
showing `[arguments...]` even when your command is no

[2020-02-12 09:24] tredoe opened #1070 "Add blank line before of every category"
## Checklist

* [x] Are you running the latest v2 release?
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this feature?

## What problem does this solve?

- At the help, the command categories are printed just after of a command avoiding a visual separation between commands and commands groups.

## Solution description

Add a blank line before of add the name

[2020-02-12 23:12] lynncyrin commented on #1070
Makes sense @tredoe! Feel free to contribute a PR for this.

[2020-02-12 23:17] lynncyrin commented on #1069
This makes sense to me @tredoe! Although I want to check to see if anyone else in @urfave/cli also thinks this is a good idea? Since I know we've had some concerns about there being too many options.

[2020-02-12 23:20] lynncyrin commented on #1068
@tredoe I don't quite understand the use case, can you give me an example of what the help output would look like? It might just be that I'm not imagining it correctly.

[2020-02-12 23:23] AudriusButkevicius commented on #1069
I think we should just not print that if the app does not support arguments, makes no sense to hide it behind a flag.

[2020-02-12 23:25] lynncyrin commented on #1069
is there a way to indicate that an app does not support arguments?

[2020-02-12 23:28] tredoe commented on #1068
@lynncyrin At the main help of the command, there is a section called `COMMANDS` where you could have a command with sub-commands, and I think that would be very well if could be printed some text to know wich ones are they. Or even, those commands with sub-commands could be into other section.

[2020-02-13 00:13] rliebz commented on #1069
Looks like there isn't—we expose the args as a string slice directly off of the flag set. We don't have a way to tell if a user application happens to call that function or not.

I do see this as a common use case, but if we added a configurable field for every common use case, we'd end up with a pretty big list of fields. It's trivial to pass a custom help template in for an `App`, so I'm in favo

[2020-02-13 02:31] lynncyrin commented on #1068
@tredoe that's not an example 😝

[2020-02-13 13:42] tredoe commented on #1069
I don't see a problem with a great list of fields; the standard library has several types with a *pretty big list of fields* i.e. at the package [http](https://golang.org/pkg/net/http/#Request).

[2020-02-13 14:18] rliebz commented on #1069
HTTP solves a complex problem, as does a CLI library, so the number of knobs we end up with is definitely a product of that complexity. But part of managing software is trying to reduce the amount of complexity we have to deal with. For the `http` package, how many of those configuration fields have trivial alternatives?

A few of the problems with having too many fields:
- More code for library a

[2020-02-13 16:19] tredoe commented on #1069
The type Request from package HTTP was only an example; I have read the standard library to know that it has many types with a *pretty big list of fields*; more examples: type [header at tar](https://golang.org/pkg/archive/tar/#Header), or type [FileHeader at zip](https://golang.org/pkg/archive/zip/#FileHeader).

[2020-02-13 16:27] tredoe commented on #1069
Your points are valid for whatever code that been added; I mean that it is not exclusive to have "many fields" into a structure.

It is solved with the documentation.

This was solved a long time ago with versioning software.

[2020-02-13 16:41] tredoe commented on #1068
The main help of a tool could be like this one:
[code]

From all those commands, there is one which has other commans or sub-commands:
[code]

[2020-02-14 07:30] arykalin opened #1071 "Add optional check for duplicated string and int type flags."
## Checklist

* [y] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [y] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [y] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-02-16 18:29] prestonvanloon commented on #755
Does altsrc work then? Having the same issues

[2020-02-16 20:07] prestonvanloon commented on #755
This doesn't work with v2 either.

[2020-02-16 21:07] prestonvanloon opened #1072 "Expected `cli.Generic` but actual is `string`"
## my urfave/cli version is

v2

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com/e

[2020-02-17 12:24] lynncyrin commented on #755
Many things with altsrc are known broken in v2

[2020-02-17 12:26] lynncyrin commented on #1072
@prestonvanloon I need to see some code in your reproduction, your description of the reproduction doesn't have enough detail for me to look into it effectively.

[2020-02-24 00:16] bonedaddy opened #1073 "v2 bug: Do Not Make -v A Global Flag Or At Least Prevent Automatic Inclusion In Subcommands Of The Version Flag"
## my urfave/cli version is

`v2.1.1`

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
## Dependency Management

- [x] My project is using go modules.

## Describe the bug

The `-v` flag is used as a shorthand for `--version`. For example if I have a binary called `foo`, `foo -v` can be used to print the version. No

[2020-02-24 00:34] lynncyrin commented on #1073
There's a few things to unpack here, so I'm gonna go through them one by one

We should definitely **overwrite** rather than raising a panic here

There's a much nonzero chance that people are relying on `foo subcommand -v` outputting the version by default, so that behavior shouldn't change.

See also https://github.com/urfave/cli/issues/757 🙂

Offhand I don't know what area of the code to point

[2020-02-24 00:38] bonedaddy commented on #1073
Good idea I didn't realize this was possible

Very true

Thanks

Sounds good. If approved this will give me a fun thing to do on the plane ride back home tomorrow.

[2020-02-24 17:13] seborama commented on #549
This ought to use the shell syntax for arrays:
(1 2 3)
or var[0]=1 var[1]=2 var[2]=3

Failing that, it is no possible to use comma as a value such as in ("one,two" "three,four")
This is cumbersome to get around when variables are used to provide values (such as in a k8s manifest for instance).

[2020-02-24 22:43] Nokel81 opened #1074 "Args (an alternative to Flags)"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-02-25 07:14] lynncyrin commented on #1074
I think this idea will need a few iterations - but it's off to a good start! I think we should really consider something like this 👍

[2020-02-25 07:57] saschagrunert commented on #1074
Hey, I think this is a good idea, a few thoughts from my side:

- I think we should call them `positional arguments`
- Positional arguments can only apply to commands
- They should support specific value sets, like we do for flags
- I think we do not need an index if we inherit that information from a slice index (if `app.PositionalArgs = []cli.PositionalArg{}`

[2020-02-25 11:16] davidsbond opened #1075 "v2 feature: Add Destination for StringSliceFlag"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-02-25 11:55] saschagrunert commented on #1075
I think this might be a valuable addition :)

[2020-02-25 12:53] Nokel81 commented on #1074
1. I like the name `positional arguments`
2. Would that mean that an application like `ls` would not be able to be written using this feature?
3. And specific types?
4. I agree we would not need indexes anymore, I was thinking of having them accessible by name using the `*Command.<Type>()` methods.

Having done some more preliminary investigation by doing a mock implementation I have found the fol

[2020-02-25 17:18] arykalin opened #1076 "StringSliceFlag will show it's value as default if failed in Before:"
## my urfave/cli version is

_**( Put the version of urfave/cli that you are using here )**_

## Checklist

* [v] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [v] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [v] Did you perform a search about this

[2020-02-25 21:21] xordspar0 commented on #557
Anyone interested in working on this should take a look at [help.go](https://github.com/urfave/cli/blob/master/help.go) and [template.go](https://github.com/urfave/cli/blob/master/template.go) to find out what's causing the different output.

[2020-02-26 04:48] lynncyrin commented on #318
Closing as stale! We can re-open if there's interest in the future

[2020-02-26 04:48] #318 closed

[2020-02-26 04:50] lynncyrin commented on #176
Manually closing this as stale! We can re-open if there's interest in the future.

[2020-02-26 04:50] #176 closed

[2020-02-26 04:51] lynncyrin commented on #884
I'm not sure there's significant momentum behind making a change here, so I'm gonna close this as stale ♻️

[2020-02-26 04:51] #884 closed

[2020-02-26 05:01] lynncyrin commented on #855
Does this overlap with https://github.com/urfave/cli/pull/977 at all?

[2020-02-26 05:03] lynncyrin commented on #62
\\\ bump ^^ I think there's definitely something we could do here

[2020-02-26 05:04] lynncyrin commented on #424
\\\ bump ^^ this one is still looking for a contributor 🙏

[2020-02-26 05:06] lynncyrin commented on #351
Bumping since this is low-lift to add 🙏

[2020-02-26 05:07] lynncyrin commented on #259
This looks like this is still in limbo pending more interest?

[2020-02-26 05:09] lynncyrin commented on #600
ok stale bot 😆

I marked this as `help wanted` 🙏

[2020-02-26 05:12] lynncyrin commented on #603
👋 this is still a valid issue! I'm just gonna close it as a duplicate of https://github.com/urfave/cli/issues/1075

[2020-02-26 05:12] #603 closed

[2020-02-26 05:12] lynncyrin commented on #1075
See also => https://github.com/urfave/cli/issues/603 🙂

[2020-02-26 05:14] lynncyrin commented on #1069
See also => https://github.com/urfave/cli/issues/1074

[2020-02-26 05:15] lynncyrin commented on #1071
Oh wow that sucks 😅we should definitely fix this 👍although possibly only in v3? Because I'm not sure if it would be considered a "breaking change"

[2020-02-26 05:17] lynncyrin commented on #1074
I'm marking this as `help wanted` for someone to work on the **design**, since it'll be a few steps before this is ready for implementation

[2020-02-26 05:19] lynncyrin commented on #734
I'm not sure if this is still relevant as of v2?

[2020-02-26 05:20] lynncyrin commented on #546
This definitely seems like something we should consider fixing 👍 we're still waiting on someone who wants to contribute, though! 🙏

[2020-02-26 06:24] lynncyrin commented on #524
Resolved via https://github.com/urfave/cli/pull/954 and https://github.com/urfave/cli/pull/955

[2020-02-26 06:24] #524 closed

[2020-02-26 07:27] lynncyrin commented on #1068
I think I'm seeing it now, I could imagine something like this

[code]

I think that'd be valuable 👍

Offhand, I'm not sure what we do here currently? We might just ignore the subcommands?

[2020-02-26 07:33] lynncyrin commented on #1076
@arykalin can you remove the sections of the issue template that you didn't fill out? thanks ✨

This feels like the same issue as https://github.com/urfave/cli/pull/981, or possibly it's just conceptually similar.

At any rate, I'm fairly certain that I understand the bug here 👍 marking this as `help wanted`

[2020-02-26 08:07] tredoe commented on #1068
I like that output, where you see from the main help all commands and sub-commands.

[2020-02-26 08:34] tboerger commented on #603
Uhm... You mean #1075 is a duplicate of this, but whatever. I have not received any further information anyway.

[2020-02-26 16:49] costela commented on #1074
Nice proposal!
Just some drive-by-bikeshedding from a random user:

Wouldn't naming the interface `Args` instead of `ArgSpec` fit better with the existing `Flag` interface? Maybe even `Arguments` or `ArgumentGroup`, since this wouldn't be typed often enough to justify sacrificing readability for "writeability".

Also, wouldn't it be possible to implement `Required: true` via `Min: 1`? This would l

[2020-02-27 01:05] lynncyrin commented on #603
Did I mean that? I haven't seen any formal rules anywhere about precedents and duplicates. Apologies if I was rude 🙏

[2020-02-27 08:00] tboerger commented on #1075
Not really searched for that, right? Till yesterday that issue have been even open and have been closed for being a duplicate of this issue here... https://github.com/urfave/cli/issues?q=is%3Aissue+StringSliceFlag+Destination+is%3Aclosed

[2020-02-27 15:55] lynncyrin commented on #1075
@tboerger sorry you're having a hard time with the duplication thing! Is there something specific that you want here?

[2020-02-27 15:57] lynncyrin commented on #727
Marked this one as `help wanted`

[2020-02-27 16:10] davidsbond commented on #1075
@tboerger Sorry, obviously I didn't search very hard when I raised this. Agree mine should've been closed and yours left open. Happy for either issue to be used as long as it results in the feature being implemented.

[2020-02-27 16:21] davidsbond commented on #1075
@lynncyrin I have some free tech time at work tomorrow so I can look into implementing this

[2020-02-27 16:50] tboerger commented on #1075
It's more about the communication than marking something duplicate. The initial issue has been marked as claimed, which sounds like somebody would work on that, after some time nothing happened and I actively asked if I can help somehow as this lib is massively used in projects I'm involved and I haven't received any response. Just with the closing as duplicate comment I have seen that the claimed

[2020-02-27 17:05] davidsbond commented on #1075
@tboerger I see what you mean. Well I'll be looking to raise PR to add this functionality sometime tomorrow, unless you'd like to do so yourself.

I also notice there are a few more flags missing the `Destination` field. It might be worth aggregating all those and doing a single issue for missing `Destination` fields.

[2020-02-27 19:46] tboerger commented on #1075
Go ahead, I would be happy to help testing.

[2020-02-27 22:57] lynncyrin commented on #1075
Got it 👍 it wasn't previously clear to me that there's so much social complexity here 🙏

@davidsbond I just assigned this to you 👍

[2020-02-28 12:06] davidsbond commented on #1075
@lynncyrin @tboerger I think my PR is ready for review. Appears to work in my testing

[2020-02-29 09:15] #1075 closed

[2020-02-29 09:17] lynncyrin commented on #1075
The should go out in version `2.2.0` whenever someone feels so compelled to make another release

[2020-03-01 23:43] lynncyrin commented on #790
Can someone put together a feature request or bug report ([templates are here](https://github.com/urfave/cli/issues/new/choose)) describing was should actually be done here? An issue titled "X has strange behavior" is hard to triage.

[2020-03-02 12:20] creekorful opened #1081 "v2 feature: Make error message optional in BeforeFunc"
## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-03-02 20:00] lynncyrin commented on #1081
@creekorful hiya, please get buy-in from a maintainer before you make a PR that changes our API surface! it's important that it's well curated.

[2020-03-02 20:01] #1057 closed

[2020-03-02 21:11] creekorful commented on #1081
Hello! What do you mean by buy-in exactly ?

[2020-03-03 06:36] j0n3lson commented on #965
Finally pushed it. Got busy with taxes and perf and what not. Hopefully can merge it soon :)

[2020-03-04 19:01] chickenandpork commented on #833
FWIW, `Compiled` can be useful when confirming a debug/canary version of software: typically if the version isn't YET bumped, the only macroscopic difference is compile date.

I see more use though of the text-based ISO8601/RFC3339 of the commit date in our typical version output so that repeated builds of the same commit reproduce the same date.

[code]

Mind you, requires a build-time flag (base

[2020-03-05 00:30] AkihiroSuda commented on #523
no stale

[2020-03-05 04:38] lynncyrin commented on #523
Glancing over the issue, it looks like it's waiting for someone to put a proposal together? Anyone is free to take point on that!

[2020-03-05 07:21] AkihiroSuda commented on #523
PR: https://github.com/urfave/cli/pull/1083

[2020-03-05 08:06] j0n3lson commented on #965
Just a quick update.

1. I validated the templating works for both kubernetes use-case and also an arbitrary urfave specific template. I had to valid using my pending [pr1148](https://github.com/kubernetes/release/pull/1148) since `release-notes` seems to be broken at head due to the template change.

2. I tested it by pointing at kubernetes/kuberntes but using the urfave template and it produced

[2020-03-05 10:21] AkihiroSuda commented on #259
What's current status?
https://github.com/urfave/cli/pull/796 seems closed due to inactivity.

[2020-03-05 19:51] Nokel81 commented on #1074
We could also allow for some sort of regular expression based system where the `Argument` has a "is valid" method

[2020-03-05 19:53] Nokel81 commented on #427
I don't think that this was fixed in v2, I also don't think that "local" flags are supported after the first non-flag

[2020-03-06 08:05] lynncyrin commented on #259
To expand on my comment 9 days ago, this issue is waiting on someone interested in refining the proposal and advocating for it  🙂 You are free to do that, if you are so inclined.

Yes, if you would like to restart the activity there then you are free to do so!

[2020-03-06 08:06] lynncyrin commented on #427
Then this issue is available for anyone to work on 👍

[2020-03-06 12:46] #523 closed

[2020-03-07 12:54] rliebz commented on #707
Bump.

Related: https://github.com/urfave/cli/issues/1081

[2020-03-08 01:52] AndreasBackx commented on #585
Could this perhaps be documented? Took me some time to figure out this behaviour. Many cli libraries seem to be having problems with this.

[2020-03-08 10:19] #827 closed

[2020-03-08 10:21] lynncyrin commented on #785
there's a WIP PR for this here => https://github.com/urfave/cli/pull/984

[2020-03-08 10:30] lynncyrin commented on #698
This issue is currently marked as `help wanted` for anyone who wants to create a bug to update the behavior or add documentation! If nobody's interested in making the change here, I'll let this issue close as stale.

[2020-03-08 10:31] lynncyrin commented on #585
@AndreasBackx this issue is currently marked as `help wanted` and available for anyone who wants to add documentation about it

[2020-03-08 10:33] lynncyrin commented on #1081
You need the agreement of someone who maintains a package before you make a externally visible change to that package

[2020-03-08 10:37] lynncyrin commented on #1081
To repeat my comment in https://github.com/urfave/cli/pull/1082, I don't think a `HideHelpOnBeforeError` config is the right solution here. I would be interested in discussing any other potential solutions to this problem 👍

[2020-03-08 23:14] xordspar0 commented on #287
I agree that an 80 character limit would be easier to read. It would also be easier to implement. That said, I don't want to bikeshed this issue. Whoever actually does the work to implement this will have my vote.

[2020-03-09 07:24] lynncyrin commented on #744
This issue is still waiting for someone to investigate if it's still a problem, and stand up a PR if so 🙏

[2020-03-10 13:42] bandesz commented on #734
This issue is still present in v2.

[2020-03-10 18:09] lynncyrin commented on #734
Thanks for the confirmation! 👍

[2020-03-10 22:13] bandesz commented on #734
I did a simple hack to always show the app global flags by overriding the `cli.HelpPrinterCustom` function:

[code]

[2020-03-17 18:57] lynncyrin commented on #991
This is still waiting for someone to help out with it 🙏

[2020-03-23 16:38] Nokel81 opened #1088 "Flag errors are not `ExitCoder`"
## my urfave/cli version is

v2.2.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2020-03-23 19:47] lynncyrin commented on #1088
Makes sense! I would be happy to review a PR from anyone that fixes this 🙏

[2020-03-23 20:26] Nokel81 opened #1089 "v2 bug: Sub commands call "HandleExitCoder""
## my urfave/cli version is

v2.2.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2020-03-23 21:43] Nokel81 commented on #1088
Would you prefer it to be a global setting for the whole App or Command or one specific to a flag?

[2020-03-23 22:43] lynncyrin commented on #1088
I'm not quite sure I'm understanding where a setting is coming into play here? I think my expectation is that the existing required flags error satisfies that `HandleExitCoder` interface.

[2020-03-23 22:45] Nokel81 commented on #1088
Yes but what should that exit code be? Should it be static and unchanging? I think that it should be able to be set by users of this library.

[2020-03-23 23:33] lynncyrin commented on #1042
♻️ closing as stale ♻️

[2020-03-23 23:33] #1042 closed

[2020-03-23 23:35] lynncyrin commented on #1088
Ah, gotcha! I'm of the opinion that we should either:

- exit `0` with a global setting for configuring that
- return when hitting required flags errors, in which a way that an explicit `os.Exit` isn't required

I'd be interested in more opinions from @urfave/cli though!

[2020-03-24 00:41] rliebz commented on #1089
This seems to me like the correct behavior. An `ExitCoder` is an interface meant to specifically trigger the behavior for an application to exit with a particular exit code. Returning an `ExitCoder` signals that it should happen, and if it shouldn't happen, an `ExitCoder` shouldn't be returned.

There's a default behavior, the `HandleExitCoder` function, which can be overridden at the `cli.App` le

[2020-03-24 12:50] Nokel81 commented on #1089
So looking back on the documentation, I got it from a combination of the docs (none of which actually said this).
- https://pkg.go.dev/github.com/urfave/cli/v2@v2.2.0?tab=doc#HandleExitCoder
- https://pkg.go.dev/github.com/urfave/cli/v2@v2.2.0?tab=doc#App.RunAndExitOnError
- https://pkg.go.dev/github.com/urfave/cli/v2@v2.2.0?tab=doc#Exit

Most specifically the last one.

---

I guess my other conc

[2020-03-24 13:51] Nokel81 commented on #608
This is still a valid issue.

[2020-03-24 13:52] Nokel81 opened #1090 "ExitCoder should implement Unwrap"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-03-24 16:10] Nokel81 commented on #1088
I think returning an `ExitCoder` should be part of it.

Another option (I like this one because it is the most customization while still having a fast path for global setting):
- Have a hierarchy of exit codes: use app setting or, if set, command setting or, if set, flag setting

[2020-03-24 17:15] Nokel81 commented on #608
It is only tangentially related. Because v2 has already been released doing this should be part of a v3 since it is a breaking change.

It is related because it is part of the work required in moving more of `urfave/cli` errors to be `ExitCoder`

[2020-03-24 17:20] Nokel81 commented on #1088
Though, now that I have looked more deeply at the code, there is a slight problem with having the flags define their own exit codes. What happens if multiple flags produce errors (currently only required).

- Should the first win?
- Should the last win?
- Should the highest value win?
- Should the lowest non-zero win? (What about negative values?)

I have looked at some what other programs do (suc

[2020-03-24 23:56] rliebz commented on #1089
Thanks for looking back through the docs. I'll see if I can find a little time to make those more clear.

I think the way interface is designed is a bit confusing here. An error which doesn't implement `ExitCoder` is not ignored; it's just not special cased with a call to `os.Exit`. If an app calls `app.Run` and encounters a non-`ExitCoder`, non-`MultiError`, the error is just returned as the resu

[2020-03-25 00:13] rliebz commented on #1089
Found this little nugget while revamping some of the docs—I can see why someone might think they're supposed to call this function themselves:
[code]

[2020-03-25 01:19] AkihiroSuda opened #1092 "String flag cannot be set to "-1""
## my urfave/cli version is

v1.22.1, v1.22.2, v1.22.3 (broken since v1.22.2)

## Checklist

* [X] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [X] Did you perform a search about this problem? Here'

[2020-03-25 06:30] nodefortytwo commented on #921
I'm not sure if this is intentional, a side effect or something I have done wrong but after moving from v1 to v2, flags must come before args ie:

This will work
[code]

This will not
[code]

If this is intentional i couldn't find it documented anywhere and is a major gotcha for migrating.

[2020-03-25 08:55] VirrageS opened #1093 "v1 bug: Panic when printing completions"
## my urfave/cli version is

v1.22.2, v1.22.3

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://hel

[2020-03-25 11:04] VirrageS opened #1094 "Before callback affects bash completions"
## my urfave/cli version is

v1.22.2, v1.22.3

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://hel

[2020-03-25 11:35] knopt opened #1095 "v1 bug: Panic on context.IsSet(flag) and context.NumFlags() with bash completions"
## my urfave/cli version is

_**( v1.22.3 )**_

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://he

[2020-03-25 12:08] Nokel81 commented on #1089
I would have said that the types that implement `MultiError` should also be `ExitCoder` and could do their own inspection for the exit code value.

[2020-03-25 20:40] Nokel81 opened #1096 "q: App.Writer is being set twice"
I was wondering why there is two instance of setting `*App.Writer` to `os.Stdout` in `*App.Setup()`?

- https://github.com/urfave/cli/blob/master/app.go#L161
- https://github.com/urfave/cli/blob/master/app.go#L199

And `*App.ErrWriter` is not being set at all. Is that because it is going to be deprecated?

[2020-03-25 21:57] rliebz commented on #1089
@Nokel81 I think that's the right approach, but I don't know if making that change is worth changing behavior that users may currently be relying on. Definitely something to consider for v3, though.

[2020-03-25 22:02] rliebz commented on #1089
I think as far as this issue goes, there isn't actually a bug here, just a confusing interface that's hopefully a little easier to understand now.

I'm going to go ahead and close this now that #1091 is merged, feel free to ping back if you feel like the original issue hasn't been addressed.

[2020-03-25 22:02] #1089 closed

[2020-03-25 22:16] rliebz commented on #833
Drop explicit support for the `MultiError` interface, and instead make the private `multiError` type implement `ExitCoder`.

Right now `MultiError` as an interface seems to be supported specifically for for the internal `multiError` type, but requires logic in the default handler, `HandleExitCoder`, which doesn't really seem ideal. Instead, if the private type happened to implement `ExitCoder` its

[2020-03-26 14:00] cvik opened #1097 "IntSliceFlag failes at parsing -flag=1,2,3"
## my urfave/cli version is

_**2.2.0**_

## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this problem? Here's the [Github guide](https://help.git

[2020-03-27 18:33] tpihl commented on #998
Bumping, have same issue

[2020-03-29 15:31] TomOnTime commented on #921
I took a swing at this.  See https://github.com/urfave/cli/pull/1098

[2020-03-30 23:18] lynncyrin commented on #921
@nodefortytwo that change isn't specific to V2, it's an issue where the behavior flipped back and forth in V1 too. Here's an example of me changing some V1 code for this problem => https://github.com/urfave/cli/pull/872

[2020-03-30 23:19] lynncyrin commented on #921
@nodefortytwo if you have capacity, I would welcome contributors for more test cases here! It's never been 100% clear what the ideal behavior should be, which is why the behavior has shifted over time.

[2020-03-30 23:21] lynncyrin commented on #1096
🤷‍♀

🤷‍♀

[2020-03-30 23:22] lynncyrin commented on #1096
@Nokel81 if you would like to change either of those behaviors, I would happily review PRs!

[2020-03-30 23:24] lynncyrin commented on #1093
@VirrageS PRs are welcome, if you want to take care of this yourself! The v1 code lives here => https://github.com/urfave/cli/tree/v1

[2020-03-30 23:35] lynncyrin commented on #998
Swapping this issue to `help wanted`!

[2020-03-30 23:39] lynncyrin commented on #895
This issue has a PR here! => https://github.com/urfave/cli/pull/977

[2020-03-30 23:40] lynncyrin commented on #1097
Seems like a pretty straightforward bug! Marking this as `help wanted` 👍

[2020-03-30 23:42] lynncyrin commented on #1095
Makes sense! @knopt or @ anyone else, PRs are welcome 🙏

[2020-03-30 23:44] lynncyrin commented on #1092
😅 looks like it thinks `-1` is a flag called `1`. This bug makes sense, thanks for the well written issue @AkihiroSuda!

🙏 PRs are welcome 🙏

[2020-03-30 23:46] lynncyrin commented on #1088
Nice investigative work ✨

[2020-03-30 23:47] lynncyrin commented on #1090
Makes sense 👍 I'm wondering if there's something we can do about this in v2? But you should definitely comment about this on the v3 thread! https://github.com/urfave/cli/issues/833

[2020-03-30 23:50] lynncyrin commented on #1050
Heya! We are planning on completely rewriting `altsrc` for v3, so its unlikely that a maintainer will get to this issue! I'm marking it as `help wanted` for any other contributor that wants to help, though 🙏

[2020-03-30 23:51] lynncyrin commented on #1051
Heya! We are planning on completely rewriting `altsrc` for v3, so its unlikely that a maintainer will get to this issue! I'm marking it as `help wanted` for any other contributor that wants to help, though 🙏

[2020-03-30 23:52] lynncyrin commented on #1051
Ah, I just re-read the issue. It looks like this is a feature request? Since altsrc is about to be rewritten, we aren't currently accepting feature requests for it.

[2020-03-30 23:54] lynncyrin commented on #1063
@tredoe could this be solved with a custom help template?

[2020-03-30 23:56] lynncyrin commented on #1074
Whatever we do for this feature request (eg. https://github.com/urfave/cli/issues/1074), it should also most likely solve this request too => https://github.com/urfave/cli/issues/1069

[2020-03-30 23:58] lynncyrin commented on #1069
I'm making this as `help wanted` primarily because the desired solution almost certainly includes the work required for this issue => https://github.com/urfave/cli/issues/1074

[2020-03-31 00:05] rliebz commented on #1090
We can absolutely support this in v2 in a backward compatible way by adding a new function:
[code]

[2020-03-31 00:09] lynncyrin commented on #1094
Is the idea that `.Before` shouldn't be run when you're doing tab completion?

[2020-03-31 00:10] lynncyrin commented on #1090
`WrapErrorWithExitCodeButAlsoWithBetterFunctionName`

😆

[2020-03-31 08:47] VirrageS commented on #1094
Hm, I think it all comes down to this. Yes.

And I think the `.After` as well.

[2020-03-31 14:53] Nokel81 commented on #1090
I think for `v2` the simplest solution would be the following change to the `Exit` function.

[code]

[2020-03-31 18:15] Nokel81 commented on #1074
#### Current idea formulation:
Arguments have at least the following:
- `func PlacementName() rune`: this value is the value that **must** be used in the argument placement regex. It is a singular rune because that makes the regex both faster and not ambiguous. If any of these `rune`'s collide then a panic will happen at run-time.
- `func IsValid(arg string) bool`: this function is used to build u

[2020-03-31 21:47] lynncyrin commented on #1094
Interesting! Do you think the most of the people using that package have that same idea? I ask because if they don't, then this would be a breaking change for them.

[2020-03-31 23:17] TomOnTime opened #1103 "v2 bug: Use of obsolete v1 aliases goes undetected"
## my urfave/cli version is

2.2.0

## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this problem? Here's the [Github guide](https://help.github.co

[2020-04-01 08:37] VirrageS commented on #1094
I would say yes. As provided in the example, the default behaviour of returning and error in `.Before` breaks the `.BashComplete` output. So then what is the point of returning error in `.Before` if it breaks some other functionality.

Another problem would be printing anything in the `.Before` - it cannot be done without buffering the output and then printing it once the `.Action` (not `.BashComp

[2020-04-02 03:48] #1096 closed

[2020-04-02 03:51] lynncyrin commented on #1093
released in 1.22.4! ✅ https://github.com/urfave/cli/releases/tag/v1.22.4

[2020-04-02 03:51] #1093 closed

[2020-04-02 08:06] VirrageS commented on #1094
I could write a fix for that but I would need to know the decision: if we want to do it and if the approach of "skipping `.Before` and `.After` if bash completing" is okay.

[2020-04-02 21:20] lynncyrin commented on #1094
I would need to think about this a lot more before I can make this decision!

Also cc @urfave/cli, in case anyone else has a more solid point of view here 🙏

[2020-04-04 10:48] VirrageS commented on #1094
To support my arguments here is my use-case:

I use CLI to communicate with some server via API. To make sure that user correctly connected to the server I do pre-check which sends ping message to server. If that succeeds I set up the CLI and run the command, if not I print the error message. That works well but the problem is that if someone wants to do `cli [TAB]` and the configuration is not co

[2020-04-05 20:38] leodotcloud commented on #948
There is no clean solution for v2. Request to re-open.

[2020-04-06 23:22] lynncyrin commented on #948
@leodotcloud can you make a new issue describing the problem? This issue doesn't context enough context for someone to address it

[2020-04-06 23:23] #921 closed

[2020-04-06 23:24] lynncyrin commented on #269
re-opening this b/c there wasn't any movement on https://github.com/urfave/cli/issues/948, anyone that's available please do pick up the work here

[2020-04-06 23:26] lynncyrin commented on #948
@leodotcloud or use #269, either way if you're interested in this it would help to contribute somewhere to ideas about how it should work, thank you ✨

[2020-04-08 06:54] tredoe commented on #1063
I guess so but the idea was to have the same output for when someone want to add a section of examples.

[2020-04-12 07:51] hnistlzy opened #1104 "cli [OPTION] -flagA arg0 -flagB arg1 -flagC arg2"
How to achieve such a program just like “cli [OPTION] -flagA arg0  -flagB arg1  -flagC arg2”

[2020-04-13 21:15] creekorful commented on #1081
Hello back!

A proper solution, for me, would be to let the user decide of the behavior in case of error, instead of printing the error & the help usage.

In the **RunAsSubcommand** method, the BeforeFunc is processed like this:

[code]
which is more cleaner way, since we let the user decide what he wants to do with the error.
(by implementing the **ExitErrHandler** function)

I think we should un

[2020-04-14 05:35] mostynb opened #1105 "v2 bug: two tests fail on windows"
## my urfave/cli version is

v2, tip of master, `7a390105cb3a64b56ed4cc52c4192b8469a8e339`.

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this

[2020-04-14 10:47] rliebz commented on #1081
@creekorful that makes a whole lot of sense to me. Two features of this strike me as really important:

- The behavior of `RunContext` and `RunAsSubcommand` should be as similar as possible.
- Calling `ShowAppHelp` effectively assumes that any error encountered in `Before` is a usage error, and that does not strike me as a safe assumption to make.

[2020-04-14 10:51] creekorful commented on #1081
That's a really good point.

What do you think about about making a PR to unify the behavior as in **RunAsSubcommand** ?

[2020-04-14 11:00] rliebz commented on #1104
If `[OPTION]` is a positional argument, which covers arbitrary values that get passed in like a function parameter would be, the docs for usage are here: https://github.com/urfave/cli/blob/master/docs/v2/manual.md#arguments

If `[OPTION]` should be a command, which covers a fixed number of different actions that could be taken, the docs are here: https://github.com/urfave/cli/blob/master/docs/v2/m

[2020-04-14 11:10] rliebz commented on #1081
Curious what @lynncyrin thinks, but I'd be :+1: for that solution.

I'd say feel free to open a PR whenever. For me, the big reason to get buy-in before making a change to the API surface is that spending the effort to curate and submit a code change, only to find out that it wasn't something that the maintainers were interested in the first place, is a not-fun situation on both sides. If the chan

[2020-04-14 12:43] selfish opened #1108 "q: Is there any way to make `help` show subcommands as well?"
## Subcommands in Help

Assume that I have an app named `app` with command `foo`, with subcommand `bar`.

[code]

If I run my app help, I'd see:
[code]

similar to categories view, I would like to see the full "tree" of commands on my main help section, so something more like:
[code]

This is even though the usage is still `$ app foo bar`.

Thank you!

[2020-04-15 15:13] nicks6240 opened #1110 "install FAILURE - CANNOT FIND PACKAGE"
## my urfave/cli version is
can't install

windows:

_**( Put the version of urfave/cli that you are using here )**_

## Checklist

* [ ] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [ ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [ ] Did you per

[2020-04-15 19:17] cgedwar2 commented on #1108
It would be nice if these templates were exposed or at least shared output with the `cli command help` template. As it stands the help is very difficult to normalize across all the different exposed flags/commands.

[2020-04-15 22:42] rliebz commented on #1110
Hi @nicks6240 —

Please fill out the complete template. You have not provided enough information for us to help you debug the issue. If I had to guess, it looks like you aren't actually running in module mode, which is required for v2.

[2020-04-17 11:33] MewX commented on #1073
Agree on the suggestion here.

`cli subcommand -v` seems to be the version of the subcommand instead of the cli app.

`cli version` makes mroe sense.

Adding an option to specify version as a subcommand would be very helpful!

P.S. `go version` is actually the right way to print go version :P

[2020-04-18 06:03] unbyte commented on #1110
Update your Golang

[2020-04-18 12:21] #1108 closed

[2020-04-18 16:28] tgirod opened #1111 "q: regenerating help dynamically?"
Hi. I'm using `cli/v2` to parse commands that are typed in a REPL loop. In my use case, the list of available commands is dynamic - the user can call a command "load [foobar]" to load a new command.

Everything is falling into place, except for one thing: after loading a command, the new command does not appear in the help text. My guess is, `cli` is generating all help text on startup. Is there w

[2020-04-18 19:01] tgirod commented on #1111
OK, after messing around a bit I narrowed it down to the `(*App).Setup()` method.

So far, my very crude approach is to vendor and add the following method:

[code]

[2020-04-19 12:05] rliebz commented on #1111
I had a somewhat similar use case—my application has an optional config file as a command-line argument, which modifies the sub-commands and flags that are valid. Because the `cli.App` is stateful, I actually ended up creating and running multiple `cli.App`s, which worked well enough to let me avoid vendoring the library.

 The `didSetup` was definitely the blocker here—it's designed to prevent a

[2020-04-19 14:08] tgirod commented on #1111
After messing a bit more, I found that my `Reset` method also has to remove the `help` command, because it will be regenerated.

[2020-04-22 11:58] rliebz commented on #1111
The challenge with that approach is that I'm not sure what all of the steps necessary are to ensure that you get an app that's 100% clean of the stateful things from the first call to `Run`. It might just be the call to `didSetup` and `help`, but there could be a dozen other small things you don't notice until later on.

My recommendation would be that if you're changing the app after it's been ru

[2020-04-22 12:59] tgirod commented on #1111
@rliebz you are right, this is a much cleaner approach! gonna check this out.

[2020-04-22 12:59] #1111 closed

[2020-04-24 08:23] bodgit opened #1112 "Add a ShowSubcommandHelpAndExit()"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-04-25 01:26] lynncyrin commented on #1063
That's fair! Ultimately I think adding an `Example` struct to the library would be heavy lift for this use-case, and would really prefer people use custom help templates.

[2020-04-25 08:08] #1105 closed

[2020-04-26 10:35] XANi opened #1113 "Relax ordering requirements for flags/commands to improve upon cli ergonomics"
## Checklist

* [X ] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [ X] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on

[2020-04-26 11:35] tgirod commented on #1111
FYI: I ended up simply using the `Command.Hidden` property to show/hide commands.

[2020-04-26 23:40] krostar opened #1114 "Naked double dash separator (--) strange behavior"
## my urfave/cli version is

v2.2.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2020-04-27 16:31] gvsurenderreddy opened #1116 "cannot build"
Hello sir When i try to build otunnel i have these errors

./main.go:42:15: cannot use []"github.com/urfave/cli".Command literal (type []"github.com/urfave/cli".Command) as type []*"github.com/urfave/cli".Command in assignment
./main.go:43:9: cannot use client.Command (type "github.com/ooclab/otunnel/vendor/github.com/urfave/cli".Command) as type "github.com/urfave/cli".Command in array or slice l

[2020-04-27 16:35] #1116 closed

[2020-04-27 17:55] creekorful commented on #1081
Hello there, PR is done.

Thank you

[2020-04-28 09:55] atif-konasl commented on #1114
Hi @krostar , I would like slove this issue. I did analysis the bug and found the bug in __flag.go__ file

golang```// parseOne parses one flag. It reports whether a flag was seen.
func (f *FlagSet) parseOne() (bool, error) {
	if len(f.args) == 0 {
		return false, nil
	}
	s := f.args[0]
	if len(s) < 2 || s[0] != '-' {
		return false, nil
	}
	numMinuses := 1
	if s[1] == '-' {
		numMinuses++
		if le

[2020-04-28 10:28] krostar commented on #1114
Hi @atif-konasl, thank you for your reactivity, but I can't assign you to an issue.

Feel free to submit a PR if you know how to solve this and reference it to this issue.

Maintainers will probably be happy to see the bug already have a fix when they give a look to this issue, and your PR.

[2020-04-28 10:33] #1081 closed

[2020-04-28 19:28] zemzale commented on #991
Did a little bit of investigation on this issue

The problem here is that if the first value passed is an arg not a flag, the flag won't even be parsed as a flag, but as an argument.
Example
[code]
Running with flag first works fine :
[code]
If the argument is passed first, the flag is not even parsed:
[code]
On V1 it did work with flag being at the end, but the question here would be, isn't curre

[2020-04-28 20:01] sgoroshko opened #1121 "v2 bug: ( StringSliceFlag, Value(default) does not set value in Destination )"
## my urfave/cli version is

_**github.com/urfave/cli/v2 v2.2.0**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Gith

[2020-04-29 05:29] atif-konasl commented on #1114
Hi @krostar, there is a bug in parseOne() method in flag package of go. The condition of parsing method is:
[code]
`

[2020-04-29 07:03] lynncyrin commented on #1081
Nice work! ✨

[2020-04-29 07:05] saschagrunert commented on #1121
Yes, this seems like a bug I reproduced it on my side. @sgoroshko do you think that you're going to open a PR to address that issue?

[2020-04-29 11:23] sgoroshko commented on #1121
by analog with the implementation of other flags

flag.go:839 `func (f *FlagSet) Var(...`
default value already must be set in `value flag.Value ` argument

and it's set, example for int, by flag.go:649 `func (f *FlagSet) IntVar`
in `newIntValue` function

so for me solution can be like that
flag_string_slice.go:138
[code]
**also, think it's problem actual for all slice like flags.**

[2020-04-30 10:49] nmeilick opened #1122 "v2 feature: Add option to prevent default to be printed for BoolFlag"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-04-30 13:20] ip75 opened #1124 "v2 bug: ( your bug title goes here )"
## my urfave/cli version is

_**( Put the version of urfave/cli that you are using here )**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [ ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [ ] Did you perform a search about this

[2020-04-30 13:23] #1124 closed

[2020-05-01 15:46] PMcca opened #1125 "v1 bug: Cannot accept - as program argument"
## my urfave/cli version is

1.22.4

## Checklist

* [x ] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x ] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [ ] Did you perform a search about this problem? Here's the [Github guide](https://help.github

[2020-05-01 22:39] rliebz commented on #1125
Thanks for opening an issue!

This is a common problem with CLIs—if you had a flag named `-x`, and you wanted to pass `-x`, how would you do it? We can't safely allow args that look like flags in cases where no such flag exists because then we lose error messages if someone fat fingers `-z` instead of `-x`, and the app silently treats it as an arg.

The common solution to this, which this library

[2020-05-02 08:44] atif-konasl commented on #1122
@nmeilick , I have sloved this issue and submited RP.

Solution Approach :
- Add an new option ShowDefaultValue in BoolFlag
- If ShowDefaultValue option is true then print default value or if false then it does not print.

Modified files :
1. flag_bool.go
2. flag.go
3. app_test.go

Before Changes :
[code]
After changes :
[code]

[2020-05-04 15:44] PMcca commented on #1125
Thanks. I thought a way of differentiating would be to surround any arguments with "" or ''. Would a solution like this be possible in the library?

[2020-05-04 16:27] sgoroshko commented on #1121
can u review my PR?

[2020-05-04 22:05] lynncyrin commented on #1121
Hey @sgoroshko in case you missed in, you'll need to resolve the duplication between your PR and https://github.com/urfave/cli/pull/1123

[2020-05-04 22:08] lynncyrin commented on #1114
Hi @atif-konasl, @krostar isn't a maintainer for this library and therefore cannot assign you to anything 🙂

I'm assigning this issue to you know, feel free to stand up a PR whenever you have time.

[2020-05-04 22:12] lynncyrin commented on #1113
I'm tentatively in favor of this, we would just have to think about any potential unexpected impacts.

☝️  In practice this is how I've solved this problem, I really didn't consider it to be a huge issue. I agree that it's not elegant, though.

[2020-05-04 22:13] lynncyrin commented on #1103
@TomOnTime can you add a title to the issue?

[2020-05-04 22:16] lynncyrin commented on #1112
@bodgit what about your alternative doesn't work very well?

[2020-05-05 01:52] rliebz commented on #1113
For my use case, I actually prefer the behavior that flags must be placed specifically next to their declaration site.

To give an example of why this is important—I have an application called `tusk` that allows users to dynamically define tasks they want to run. Those tasks may have arbitrary flags that users may also define. The application as a whole has a `verbose` mode, in which more informat

[2020-05-05 02:27] rliebz commented on #1125
It's an interesting idea, but unfortunately shells like bash or zsh don't make that so simple.

Consider the following program:
[code]

It's a simple utility that takes two args passed, prints them, then prints whether they are equal. Run it with the following:
[code]

And get the following output:

[code]

The application doesn't actually receive the quotation marks, and the two args are equal. T

[2020-05-05 02:46] rliebz commented on #1094
Good call there. As of https://github.com/urfave/cli/pull/1117 that is no longer the case.

We don't put any documentation around what the intended purpose of `Before` and `After` are, so it's hard to say what people expect to happen there. In terms of completion, my guess is most people either ignore it, or enable it and don't think about it unless it breaks. I will say, it's unlikely that any pr

[2020-05-05 07:20] VirrageS commented on #1094
Sounds awesome :)

That's my view as well. `Before/After` are kind of separate from completions and in my opinion shouldn't be mixed as it only leads to problems or nasty hacks. If we really would like to have something like that for completions as well, I would just suggest creating new callbacks: `Before/AfterCompletions`.

[2020-05-05 09:47] PMcca commented on #1125
Ah I see. I didn't realise this was such a long-standing and widespread issue.
Thanks for your help! Closing

[2020-05-05 09:47] #1125 closed

[2020-05-05 13:14] XANi commented on #1113
@rliebz I have thought about that problem but to even distinguish between which levels a given flag is defined in v2 you have to go thru hoops. I'm not sure whether that's even intended behaviour but I had to do something like this:

[code]
to even find a way to do it and considering using duplicate flag names is not even documented it looks like an implementation quirk rather than intended featur

[2020-05-05 20:29] zemzale opened #1134 "v2 feature: Comma separated slice flags"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-05-06 06:35] saschagrunert commented on #1134
Sounds like a good feature, we could also make the separator confgurable.

[2020-05-06 06:42] mostynb commented on #287
I will try to make #1119 implement a basic version of this feature.

[2020-05-08 10:18] thaJeztah commented on #1092
Did some quick testing to do a minimal reproducer (LOL, I never worked with urfave/cli, so "code by example" 😅);

[code]

Testing variations;

[code]

Using `-opt-value` (leading hyphen (`-`));

[code]

[2020-05-08 10:19] thaJeztah commented on #1092
And a test-case;

[code]

(I'll open a "draft" PR with the test case)

[2020-05-08 10:25] thaJeztah commented on #1092
opened https://github.com/urfave/cli/pull/1135 as a draft; I'll try to do a git-bisect and/or look at a fix, but not sure yet if I find time (thought the test-case would be a start to assist in this); anyone else: feel free to pick up the work if I don't come round to it

[2020-05-10 06:51] Rain-31 commented on #991
i have same issue, i can't parse a flag in command

[2020-05-11 19:04] purpleidea commented on #783
ping

[2020-05-11 19:39] wesleimp opened #1136 "Parse arguments into struct"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-05-12 05:47] guo1017138 commented on #921
In cli.StringFlag type,
V1 expression is EnvVar: "XXXXX"
V2 expression is EnvVars: []string{"XXXXX"}

[2020-05-12 20:31] TomOnTime commented on #921
@guo1017138 ... please take a look at https://github.com/urfave/cli/pull/1137

[2020-05-13 01:22] rliebz commented on #1113
I'm actually still on v1. I'm not sure what the current behavior is for this, or what the impetus for changing it was.

[2020-05-13 13:03] XANi commented on #1113
@rliebz in v2 it would change some edge cases with using cli.GlobalType vs just cli.Type

but v2 has no differentiation of that.

[2020-05-14 04:45] lynncyrin commented on #783
I'll check in with this issue sometime soon! 👍

[2020-05-14 17:33] shreyansh-zazz opened #1138 "q: ( main.go:6:2: cannot find module providing package github.com/urfave/cli/v2: working directory is not part of a module )"
## I have followed the document and I can see the package folder downloaded and I also renamed the `cli/v2@2.x.x` to `cli/v2` because without this it wasn't able to find the package. But after this also I am getting the following error:

_**main.go:6:2: cannot find module providing package github.com/urfave/cli/v2: working directory is not part of a module**_

[2020-05-15 00:33] rliebz commented on #1138
Please follow the template when opening an issue—there isn't enough context here for us to be able to help you.

[2020-05-15 15:48] shreyansh-zazz commented on #1138
I am sorry @rliebz
Also closing this I fixed it.

[2020-05-15 15:48] #1138 closed

[2020-05-18 17:15] ZergsLaw opened #1140 "Is it possible to use oneOf?"
I would like to be able to accept one of several variations of the parameter

An example:

const (
   debug
   info
   ...
)

./cli cmd --logLevel debug

[2020-05-18 21:42] GregoryDosh commented on #1122
I put this same comment on the PR for the BoolFlag, but putting it here for additional context/discussion.

Throwing this out there, it would be really nice if the `ShowDefaultValue` parameter existed for other options too. The reason I'm asking is because in a situation where a CLI app is picking up configuration from an environmental variable, it's too easy to accidentally expose that informatio

[2020-05-21 13:48] erikwilson opened #1142 "Using comma in flag name for alternatives breaks"
## my urfave/cli version is

_**v1.22.4**_

## Checklist

* [X] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [X] Did you perform a search about this problem? Here's the [Github guide](https://help.g

[2020-05-21 15:44] erikwilson opened #1143 "Inconsistent slice behavior, Value/Destination not applied"
## my urfave/cli version is

_**2.2.0**_
Also impacts _**1.22.4**_

## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this problem? Here's the [Gith

[2020-05-22 07:55] VirrageS commented on #1094
Any decision on this one?

[2020-05-23 00:37] rliebz commented on #1094
@lynncyrin if you had any thoughts here

[2020-05-26 00:26] mjnovice commented on #1094
Agree with @VirrageS. Following the thread.

[2020-05-26 08:24] doronbehar commented on #602
I'd still like to see this dear bot.

[2020-06-02 07:27] arranubels commented on #733
Aww

[2020-06-02 21:35] djfemz commented on #459
app.Flags = []cli.Flag{
    &cli.StringFlag{
      Name:  "name, n",
      Usage: "Print Hello World`",
    },
  }
works just fine

[2020-06-04 00:17] #1121 closed

[2020-06-04 12:46] Nokel81 commented on #427
bump

[2020-06-05 00:34] vschettino opened #1144 "v2 bug: Value does not work with TimestampFlag"
## my urfave/cli version is

_**2.2.0**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.git

[2020-06-05 00:50] brownjohnf commented on #757
I'd still really like to see this feature added.

[2020-06-05 20:03] iancullinane opened #1145 "Is it possible to disable help altogether?"
I am using the library to handle incoming message from a chat application. As such, I seem to be able to pipe errors back through to chat, but a lot of commands still print the default help to the terminal. I don't need this output can I turn it off completely?

[2020-06-05 21:20] whyrusleeping commented on #1113
I would love if this ordering requirement were relaxed, its my primary complaint about this library.

[2020-06-05 23:54] bitscuit opened #1146 "q: is there error mechanism if a flag is set but user forgets the value"
## my question is...

I have an example CLI, `hello`, which takes two flags, `--flag1` and `--flag2` with default values, `value1` and `value2`. All it does right now is just print out the values of the arguments:
[code]
But let's say a user accidentally forgets to provide the value for `--flag1`. The resulting output is:
[code]
It doesn't seem quite right for the value of `flag1` to be the name o

[2020-06-05 23:56] bitscuit commented on #1146
Not sure how to change the labels, but this is a `v1` question, **NOT** `v2`

[2020-06-06 09:49] XANi commented on #1113
I'd be interested in implementing it. Haven't looked at code yet but I'd probably also add a flag to opt in for "strict" ordering if it won't mess up code too much.

[2020-06-11 16:36] bitscuit commented on #1146
Could this be a bug or a missing feature?

[2020-06-11 20:38] bitscuit opened #1147 "v1 bug: user sets flag and does not provide value, but there is no error"
## my urfave/cli version is

v1.22.4

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.

[2020-06-11 20:39] bitscuit commented on #1146
closing since bug issue opened #1147

[2020-06-11 20:39] #1146 closed

[2020-06-11 23:47] rliebz commented on #1147
Thanks for opening an issue!

Here I actually think the CLI is behaving as intended.

While from the user's perspective, what happened was that they forgot to provide a flag value, from the CLI's perspective they _did_ provide a value.

[code]

The proper way to interpret that set of args in the case that `--flag1` takes an argument is that `--flag2` was passed as the literal value to `--flag1`, a

[2020-06-12 15:24] bitscuit commented on #1147
Thanks for the explanation, so in terms of flag parsing, this is the correct behaviour, and it's left to the application to perform any necessary validation checks. I also managed to replicate this behaviour using just the `flag` library from GO, so closing this issue since everything is working as intended.

[2020-06-12 15:24] #1147 closed

[2020-06-16 19:09] bitscuit opened #1149 "NewContext not printing flag names"
## my urfave/cli version is

v1.22.4

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.

[2020-06-17 07:22] lockelee1015 opened #1150 "can this tools support interacting cli(like docker attach)?"
## my question is...

_**( Put the question text here )**_
I wanna use this cli tools to develop some funny things.
I read the readme.md and have some question.
How to build a interacting command like docker attach?

[2020-06-17 09:42] cyphar opened #1152 "v1 regression: v1.22.2-and-over skips over flag-like arguments to subcommand string slice flags"
## my urfave/cli version is
`v1.22.1` was the last working version, and all versions up to `v1.22.4` are broken.

## Checklist
* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform

[2020-06-17 19:11] Irioth commented on #1073
Version flag on subcommands doesn't work (at least in release v2.2.0)
I was quite surprised to see it attached to subcommand. So +1 for  remove version flag from subcommands.

[2020-06-18 03:00] rliebz commented on #1150
What you're asking for can be utilized alongside this project, but is outside the scope of what capabilities we provide. `urfave/cli` is specifically targeting the creation of a command-line interface for passing and interpreting arguments to an application, but doesn't really play a role in what that application does after the arguments have been parsed.

I'm not sure I have enough context on wha

[2020-06-18 04:05] rliebz commented on #1145
If you're specifically interested in disabling the help message, you should be able to accomplish that by overriding the `HelpPrinter` function to be a noop:

[code]

[2020-06-19 09:38] marcofranssen opened #1154 "How to implement something like an OptionFlag?"
## How to implement something like an OptionFlag

I'm looking to implement a Flag which can have a few predefined values.

E.g.

[code]

Is there a way to implement this using the existing flags while also informing the user of the cli what are the available options?

If not would it make sense to add this OptionFlag? I would be happy to make a PR for that with some guidance.