[2020-06-19 16:44] Juupaa opened #1155 "--help or --version doesn't go into Action of cli.App"
I am trying to exit the app when --help or --version flags are passed.

cli.go (ParseCLI function) :
[code]
main.go :

[code]

If I run `go run .\main.go` I get :

[code]

But if I run `go run .\main.go --version` I get :

[code]

Same behaviour with `--help`.
It outputs help menu and prints `test from main.go`, but doesn't print `I am in cli.App`

My idea was that I could put `os.exit(0)` or some

[2020-06-19 22:50] lynncyrin commented on #1152
Thanks for the well written bug report 👍 we get regressions of this sort fairly frequently, unfortunately. You're free to try your hand at fixing it, but I would just warn you that you'd probably end up creating regression for someone else's case 😅

[2020-06-20 02:51] cyphar commented on #1152
Is it an issue of not enough test cases in `urfave/cli` to catch these sorts of regressions, or lack of documentation about what the intended semantics are?

For the bug at hand, using the above program, I've bisected it to 7d0751fa1309a01b405cde327cc43275d13016a2:

[code]

But I think the bug is older and 7d0751fa1309a01b405cde327cc43275d13016a2 just exposed it by making it so that unknown flags

[2020-06-20 02:53] cyphar commented on #1152
Ah okay, so the newest version looks a bit different -- I think this line should be `} else if nextIndexMayContainValue {`

[code]

[2020-06-22 18:40] ErinCall opened #1156 "v2 bug: fishAddFileFlag doesn't work with PathFlag"
## my urfave/cli version is:

2.2.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2020-06-22 22:43] xordspar0 commented on #600
I'm not sure if my opinion counts for anything, but I prefer the current behavior. I wouldn't want cli to be too smart and try to figure out my intention. Maybe I really did want to pass `--myBoolFlag` as a string argument.

[2020-06-23 16:23] #1073 closed

[2020-06-24 13:21] AchalaSB opened #1157 "How to write unit tests foe commands?"
## my question is how to write unit test script for this function?
I have developed a cli `mycli create` will create a new file.

[code]

Thanks

[2020-06-24 20:50] lynncyrin commented on #1157
@AchalaSB there's a short description here: https://github.com/urfave/cli/issues/731

There's also a bunch of tests in this file that test a cli App: https://github.com/urfave/cli/blob/9047f3b42dc9b70d2750c43815fdd1346f2129f7/app_test.go

[2020-06-25 09:33] #694 closed

[2020-06-25 20:38] sheerun commented on #1113
In principle it should be as easy as replacing `"flag"` import with https://github.com/spf13/pflag but it seems not synchronized with upstreams and we have few errors:

[code]

[2020-06-29 13:36] Nokel81 commented on #1088
bump

[2020-07-02 03:29] lynncyrin commented on #1152
Tests. There's essentially no documentation about this - and I'm willing to bet that writing tests for this is easier than writing documentation.

Which, in case it's not obvious, is a change that itself was fixing a regression: https://github.com/urfave/cli/pull/872.

I don't know what we for this case offhand, but whatever we do now is what we should continue to do. This is exactly the kind of t

[2020-07-02 03:38] lynncyrin commented on #1149
Makes sense 👍 I'd be happy to review a PR for this!

[2020-07-02 03:47] lynncyrin commented on #1156
I think a case statement would be preferred over a reflection here, although I feel like you should be able to check `f.TakesFile` without needing a case statement 🤔 I'm imagining something like this:

[code]

let me know if that makes sense! Either way, I'm interested in whatever you come up with!

[2020-07-02 03:49] lynncyrin commented on #1074
I'm still super interested in seeing this happen ^^

[2020-07-02 03:52] lynncyrin commented on #1145
via https://github.com/urfave/cli/issues/174#issuecomment-71782256, I think `HideHelp` might also work for this.

[2020-07-02 03:56] lynncyrin commented on #1154
To rephrase the question - are if asking if there's a builtin way to implement a flag that gives users a set of choices from a predefined list? Something like `Choices: []string{'json', 'xml'}`?

[2020-07-02 03:58] lynncyrin commented on #1152
Oh, there's also an existing PR working on that exact same area of the code: https://github.com/urfave/cli/pull/1135

[2020-07-02 11:47] marcofranssen commented on #1154
@lynncyrin yes that is exactly what I meant.

[2020-07-02 17:13] lynncyrin commented on #1154
Makes sense! There's no obvious builtin way to implement this, but I've implemented a few "manual" versions of it. I don't happen to have that code on-hand, though.

[2020-07-03 02:03] cyphar commented on #1152
Yeah this is a duplicate of #1135.

[2020-07-03 02:03] #1152 closed

[2020-07-03 11:56] marcofranssen commented on #1154
@lynncyrin would be great if you could dig it up and share a snippet here with the community. I'm happy to take that snippet of your further to integrate it here.

[2020-07-07 07:21] koddr opened #1159 "Possible to test long time processing CLI actions?"
## my question is...

_**Possible to test long time processing CLI actions?**_

I develop CLI for aggregation of all `create-<NAME>-app` and similar frontend things. Very often the execution of such a command (e.g. installation of dependencies by `npm install`) takes a very long time and exits the tests (e.g. on `gocover.io` or locally). That is, they're out of 30 or even 180 seconds limit.

This

[2020-07-10 10:16] aloababa commented on #1144
I guess it's because of this: https://github.com/urfave/cli/blob/master/flag_timestamp.go#L121
Default value always gets ovveride.
So i think this can be fixed by adding an if like:
[code]

[2020-07-10 12:45] vschettino commented on #1144
@aloababa yes, seems like this is the place. Thanks for pointing out! I will open a PR to fix this on the weekend.

[2020-07-10 16:56] lynncyrin commented on #1144
Sounds good, cc me when you're ready for a review ^^

[2020-07-12 13:32] #1144 closed

[2020-07-12 18:07] vschettino commented on #1144
@lynncyrin do you guys need any help on other issues? I saw a few that might be stale but I don't wanna to intrude ^^

[2020-07-12 20:13] lynncyrin commented on #1144
Yes we could totally use help with stale or help wanted issues 👍

[2020-07-13 14:16] vschettino commented on #1134
Do you guys need help on this one? I think I could open a PR to add this feature. Seems like it would solve #1097 as well, right?

[2020-07-15 21:18] NickLarsenNZ opened #1161 "v2 feature: Ability to store objects in the cli.Context"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-07-15 23:22] rliebz commented on #1161
Would `Metadata` solve your use case? It's a `map[string]interface{}`, so effectively an arbitrary k/v store: https://github.com/urfave/cli/blob/v1.22.4/app.go#L91

[2020-07-16 04:33] NickLarsenNZ commented on #1161
Hi @rliebz, yes I believe that would work just fine. Didn't realize it was right in front of me.

I'll try it then close the issue.

[2020-07-17 00:09] xordspar0 commented on #1095
I'm not able to reproduce this on master. Did it get fixed? This is what I see when I do `set -x` and press tab:

[code]

[2020-07-22 01:58] golddranks opened #1162 "v1 bug: the module at gopkg.in/urfave/cli.v1 is broken"
## my urfave/cli version is

_**1.22.4**_

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.gi

[2020-07-22 11:05] rliebz commented on #1162
Right now, the only URLs we officially support are `github.com/urfave/cli/v2`, or `github.com/urfave/cli` for v1. I'm not sure what the story was historically for `gopkg.in`, but as far as modules go, you'll need to use the current import URL.

This is consistent with what our docs describe, and I don't think there's anything that `gopkg.in` buys anyone in a module-aware world, so the path forward

[2020-07-22 16:40] AlphaKennyBudy opened #1164 "gh repo create kicks me out of my gh account"
Every time when I use `gh repo create` it creates a private repo, adds remote branches, but then it asks me for username and password. Since I use 2FA (and, you know, often passwords don't work there, so I have to generate access token again and again) it becomes very problematic for me to create repos. After that I can't use commands like `git push origin master` because I am not authorized and i

[2020-07-23 18:14] ghost opened #1165 "Bash/ZSH Completion Not Working"
# Background

I've followed the docs [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md#enabling) to enable bash completion on my machine with no success.

# Information

- My terminal is running ZSH, I've tried both files to enable completion.
- This is set inside `main.go`: `app.EnableBashCompletion = true`.
- Binary for MacOS is built and stored inside the `/usr/local/bin` direc

[2020-07-24 04:47] golddranks commented on #1162
Would it be possible to update the contents of the page at http://gopkg.in/urfave/cli.v1 ? Not sure who controls that or how.

[2020-07-24 05:09] rliebz commented on #1162
Seems to be auto-generated. This is a gopkg.in link that points to my fork of this repo, despite me not registering anything: https://gopkg.in/rliebz/cli.v1

Having gone through the gopkg.in docs, it looks like there's no user input there. It's just a service that maps gopkg.in URLs to GitHub projects.

[2020-07-24 05:10] golddranks commented on #1162
I see. In that case, there's hardly anything that could be done. I'll close this issue.

[2020-07-24 05:10] #1162 closed

[2020-07-27 01:54] rliebz commented on #1164
I think this issue might have been opened in the wrong place.

[2020-07-27 02:48] lynncyrin commented on #1164
You’re looking for https://github.com/cli/cli ^^

[2020-07-27 02:49] #1164 closed

[2020-07-27 12:56] kneal opened #1166 "Convert FilePath field in flags from string to string array"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-07-30 10:04] mostynb opened #1167 "When parsing an argument from a file or env var, the error should mention the source"
## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-08-04 01:53] hpe-bender commented on #1074
I would really like to see this too

[2020-08-04 01:55] clarktlaugh commented on #1074
I would really like to see this too

[2020-08-04 08:07] mostynb commented on #287
Bump.

[2020-08-05 15:10] tych0 opened #1169 "Asking for the StringSlice value multiple times mutates it in some cases"
## my urfave/cli version is

v1.22.4

[code]

[code]

[2020-08-08 00:07] amacneil commented on #921
Another change to document - `c.GlobalBool()`, `c.GlobalString()` and friends seem to have gone.

[2020-08-12 06:14] AkihiroSuda commented on #1092
no stale

[2020-08-12 23:26] olibre opened #1172 "v2 bug: The v2 manual supports flag alias such as `Name: "lang, l"`"
## my urfave/cli version is

v2.2.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2020-08-13 16:23] zemzale commented on #1172
That is an issue with the documentation looks like.
There are notes in v1 to v2 migration guide about that https://github.com/urfave/cli/blob/master/docs/migrate-v1-to-v2.md#flag-aliases-are-done-differently
The example is just wrong, and that is the only place where it's like that.

[2020-08-14 17:27] olibre commented on #1172
Thank you for the info.

😢 I was prefering the concise format of the v1 😥
* `Name: "foo, f"` :+1:
* `Name: "foo", Aliases: []string{"f"}` 🚂🚃🚃🚃🚃🚃🚃🚃

[2020-08-18 21:52] garlicgit opened #1176 "Prevent exit when help not found"
I have the CLI inside a small shell loop. When urfave/cli finds a command to execute or help for a command, the shell loop continues as usual providing another prompt. When no help is found, the shell loop breaks to the normal unix prompt, with this message "2020/08/18 14:45:43 No help topic for 'gg'". What is it doing differently when it cannot find help and is there a way to stop that?

Thanks,

[2020-08-18 22:34] garlicgit commented on #1176
Ok, so I was probably a little lazy before, I can see what it is doing:

"if ctx.App.CommandNotFound == nil {
		return Exit(fmt.Sprintf("No help topic for '%v'", command), 3)
 }"

So I guess the question is whether there is a way to override it, or if I just need to modify the source. I am guessing the latter.

[2020-08-18 22:49] rliebz commented on #1176
The way it's laid out is a bit confusing, but you shouldn't have to modify the source. `Exit` is a function that returns an exit error, where the default behavior for a `cli.App` is to call `os.Exit`, but can be overridden.

Take a look at the `ExitErrHandler` field. As an example, this would disable the exiting behavior completely:

[code]

[2020-08-18 23:53] garlicgit commented on #1176
Thank you for the suggestion. For now, I commented out the fatal log error on the app.run(). I was not able to get the ExitErrHandler to create a different outcome.

//app.ExitErrHandler = func(*cli.Context, error) {
  //  fmt.Println("Got to errorHandler")
  //}

  err := app.Run(args)
  if err != nil {
    fmt.Println(err)
    //log.Fatal(err)
  }

This is good for now.

Thanks
Mark

[2020-08-19 00:01] rliebz commented on #1176
Not sure what the rest of your program looks like, but `log.Fatal` always exits an application. Glad you got something work.

[2020-08-21 14:00] yogeshlonkar opened #1177 "v2 bug: ( flags have become positional, ignored when placed after arguments )"
## my urfave/cli version is v2.2.0

It seems flags now have become positional, they are ignored if they are placed after main argument.

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md

[2020-08-24 01:22] mjnovice commented on #1094
Any updates on this ?

[2020-08-24 03:47] MarvinJWendt commented on #1154
Ping @lynncyrin

[2020-08-26 13:46] rliebz commented on #1177
Considering this is behaving as documented, I'm going to go ahead and close this.

[2020-08-26 13:46] #1177 closed

[2020-08-26 14:02] rliebz commented on #1161
@lalloni I tried a program with effectively that same code, and I am seeing the context work correctly.

Here is a complete program you can run:

[code]

Note that this still works if you pass a plain string as the context key, but that's [explicitly recommended against in the docs](https://golang.org/pkg/context/#WithValue), so I went ahead and did the idiomatic thing.

Since it sounds like the o

[2020-08-26 14:02] #1161 closed

[2020-08-26 20:11] Keithcat1 opened #1179 "Allow required flags to be positional"
Add a way to make flags that are required be positional.
Positional means that instead of being passed as flags, I.E. packer --dir somewhere --file something, these flags are just passed directly on the command line I.E. packer somewhere something
This is a convenience since you don't have to type out the flag every time.

[2020-08-27 06:31] danmx opened #1180 "q: Loading only subtree of a config"
## Question

Is there a way to load only selected subtree of a config file (selected config "profile")?

## Example

With a config file like this:

[code]

I'd like to be able to add in a root flags `--config-profile=private` and get values/flags from `private` subtree of the config.

[2020-08-27 12:36] ericmillin opened #1181 "Default shown in usage is incorrect when the option is supplied"
## my urfave/cli version is

2.1.1

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.co

[2020-09-03 15:56] aengelas commented on #757
This is definitely a feature I would like and would use.

[2020-09-03 18:38] imle opened #1182 "v2 feature: Per-Command Metadata"
## Checklist

* [Yes] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [Yes] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [Yes] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work

[2020-09-03 18:39] imle commented on #1182
A PR (#1174) was put in for this functionality and it was suggested that I elaborate further in a feature request.

[2020-09-09 01:31] yob commented on #1113
We recently upgraded from v1 to v2, and discovered this broke some customer scripts that were using flags after arguments. For now, we've reverted to v1 to avoid the breaking change (https://github.com/buildkite/agent/pull/1286).

We don't have a strong view on whether the v1 or v2 behaviour is preferable, but the change in behaviour is a blocker for us. It'd be great if there was a way to opt-in

[2020-09-13 15:41] schollz opened #1184 "How to get autocomplete to not show global flags for subcommand?"
## my urfave/cli version is

_**v2.2.0**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.gi

[2020-09-14 09:49] povsister opened #1185 "Support nullable cli.Flag"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-09-17 02:34] nielsvaneck commented on #1154
This was previously requested in #620

[2020-09-18 14:25] qlcom opened #1187 "Use a latest specification compliant TOML parsing package"
the package currently being used is not latest spec compliant, and it's development has stopped.

[2020-09-21 18:16] qlcom commented on #1187
you should keep track of your dependencies.

[2020-09-23 12:45] torkelrogstad commented on #921
`cli.Context.Parent()` is gone, and seems to be replaced by `cli.Context.Lineage`

[2020-09-24 16:11] #1187 closed

[2020-10-02 09:51] stellirin opened #1190 "v2 feature: Add a App.Reader that defaults to os.Stdin"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-10-04 00:37] stellirin commented on #1185
I think the problem is that you may be overloading the flags with too much functionality. Here you are changing behaviour (read vs write) _and_ providing an optional parameter.

Assuming you have some flexibility when designing your app, I see several ways to solve this.

One way is to set the `--write` flag as a `BoolFlag`, and have a second StringFlag for the destination, such as `--file` or `--

[2020-10-08 15:35] igorrius opened #1193 "v2 feature: Expose constructor of MapInputSource type"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-10-11 22:57] 6543 commented on #1185
anyone working on this?

[2020-10-12 09:51] per9000 opened #1195 "Is this how I should test an app?"
Is this how I should test an app?

We encountered a problem (duplicated -o flags in one of the subcommands) and didn't realize it until some time later. So, now, we're thinking about writing simple tests that just run the all subcommands to see that they don't crash.

As far as I can tell, this has been covered previously (https://github.com/urfave/cli/issues/731, https://github.com/urfave/cli/iss

[2020-10-12 17:10] lburgazzoli opened #1196 "Map sub-command to nested yaml elements"
## my question is...

_**( how can I bind flags to nested yaml elements ?  )**_

I'm evaluation `urfave/cli` - so I'm a newbiew here - as foundation for the new [camel-k](https://github.com/apache/camel-k) cli which is now based on `spf13/cobra` and I'm trying to figure out how to property bind sub-command flags from a nested yaml structure.

As example the camel-k cli has a `run` sub command with

[2020-10-13 07:22] lburgazzoli opened #1197 "StringSliceFlag does not set destination when reading from yaml"
## my urfave/cli version is

_**( v2.2.0 )**_

## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this problem? Here's the [Github guide](https://hel

[2020-10-13 20:26] ErinCall commented on #1156
Sorry for letting this get stale! I’ve opened a PR.

[2020-10-18 06:43] #1176 closed

[2020-10-19 16:43] limeschool commented on #427
bump
https://github.com/ipfs/ipget/blob/186b8ebaadd38ac340a7e07d59fa271732a8ec53/main.go#L111

[2020-10-19 16:45] limeschool commented on #427
https://github.com/ipfs/ipget/blob/186b8ebaadd38ac340a7e07d59fa271732a8ec53/main.go#L111

[2020-10-22 01:49] #1190 closed

[2020-10-22 03:18] #1172 closed

[2020-10-22 13:25] joebateh commented on #1165
I'm still interested in this issue's resolution.

[2020-10-22 13:33] 6543 commented on #1165
@joebateh for bash completion i did:
`sudo wget -O /etc/bash_completion.d/tea https://raw.githubusercontent.com/urfave/cli/master/autocomplete/bash_autocomplete && sudo chmod +x /etc/bash_completion.d/tea`

[2020-10-22 18:14] joebateh commented on #1165
Hey @6543, I gave that a shot on both MacOS and Ubuntu with no success. I'm still getting directories instead of autocomplete suggestions.

[2020-10-22 19:04] 6543 commented on #1165
:point_up: you have to replace `tea` with the name of your command - but I guess you did

what is returned when you do `./your-tool --generate-bash-completion`?

[2020-10-22 19:13] joebateh commented on #1165
I tried running the command below:

[code]

Then I typed `mycli` followed by pressing the tab character. It still shows up with the local directory as opposed to autocompletion.

If I type `mycli --generate-bash-completion` I see the set of subcommands for any given command, so it seems like whatever logic generates that _can_ do it. It's just not saving or pulling it in somewhere else.

Is there

[2020-10-22 19:18] 6543 commented on #1165
do you have `[ -r /usr/share/bash-completion/bash_completion ] && . /usr/share/bash-completion/bash_completion` in youe `~/.bashrc` ?

[2020-10-23 20:37] joebateh commented on #1165
It wasn't there, but I added it with no success.

[2020-10-24 22:13] 6543 commented on #1165
ok at this point I also have no idear ...

[2020-10-25 20:48] renanqts opened #1199 "Integer negative numbers are returned zero when parsed from yaml file"
## my urfave/cli version is

v2.2.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2020-10-27 19:39] imle commented on #1182
@xordspar0 I have put together a repo (https://github.com/imle/cli-example-for-pr) which show our use case for this PR. It is a bit convoluted, so feel free to ask any questions.

[2020-10-28 21:30] mostynb commented on #1167
Bump.

[2020-10-30 18:34] asahasrabuddhe commented on #1181
![1181](https://user-images.githubusercontent.com/25657923/97744084-a2cf8a80-1b0c-11eb-849d-e9b97deea2e4.PNG)

Unable to reproduce issue. This was the example I tried.

[2020-10-31 15:54] #1156 closed

[2020-11-02 21:22] costela opened #1201 "v1.22.5 tagged with v2 mod version"
## my urfave/cli version is

v1.22.5

## Dependency Management

- [x] My project is using go modules.
- [ ] My project is using vendoring.
- [ ] My project is automatically downloading the latest version.
- [ ] I am unsure of what my dependency management setup is.

## Describe the bug

The [go.mod](/urfave/cli/blob/v1.22.5/go.mod) file for v1.22.5 has a v2 module (`github.com/urfave/cli/v2`; v1.2

[2020-11-02 21:24] costela commented on #1201
@asahasrabuddhe maybe some `git checkout` typo while cutting the simultaneous v1 and v2 releases yesterday?

[2020-11-03 02:03] joeycumines commented on #1201
I am not certain but it seems this may have broken prior versions as well (my builds, without existing modcache, that included `v1.22.4` are now failing)

[2020-11-03 04:22] asahasrabuddhe commented on #1201
Hi @costela Looks like I typo. I have fixed it now and your builds should work.

[2020-11-03 06:19] mostynb commented on #287
Bump.

[2020-11-03 09:23] costela commented on #1201
Yes, moving the tag seems to have fixed it. Lucky that proxy.golang.org doesn't seem to have cached (and checksumed) the broken state! :+1:

[2020-11-03 09:23] #1201 closed

[2020-11-10 07:26] AkihiroSuda commented on #1092
no stale

[2020-11-10 08:30] thaJeztah commented on #1092
Arf, trying to find time to work on this again, sorry for it taking so long

[2020-11-19 20:00] ShadowScorpion opened #1205 "Global flags on simple go CLI"
## How I can able to make the flags to be available across whole my script with possibility to use them on any place when running script?

Example :
[code]

And from here I get correct response:
[code]

And now how I can able to specify it before subcomand?
[code]

Tried to do via setting global vars, via function like this, but also no luck :
[code]

[2020-11-20 14:13] r10r opened #1206 "Flag default value is overwritten by environment in help output."
## my urfave/cli version is

v2.3.0

## Describe the bug

Flag default value should never change in help output.

## To reproduce

Build the following program against v2.3.0.

[code]

## Observed behavior

What did you do?

[code]

What did you see happen immediately after the reproduction steps above?

[code]

What did you expect to see?

[code]

## Expected behavior

Default value should never c

[2020-11-20 14:14] r10r commented on #1206
Maybe related to #1181

[2020-11-29 13:33] ghostbody commented on #1196
question +1

[2020-12-03 13:27] Delgus opened #1209 "v2 bug: can not set default value"
## my urfave/cli version is

_**( 2.3.0 )**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [ ] Did you perform a search about this problem? Here's the [Github guide](https://help

[2020-12-03 14:11] zemzale commented on #1209
I can't reproduce this. I would assume that you have set `ANALYTIC_MIGRATE_SQL_DIR` in environment to empty string.
Run `unset ANALYTIC_MIGRATE_SQL_DIR` to unset the variable if it exists and then run `go run main.go`, and you should see output `sql`

[2020-12-03 14:29] Delgus commented on #1209
Thx

[2020-12-03 14:29] #1209 closed

[2020-12-03 14:29] Delgus commented on #1209
bug doesn't exist

[2020-12-06 12:59] mikunalpha commented on #1197
Trick?
![Screenshot-20201206205830](https://user-images.githubusercontent.com/7397397/101280760-da191180-3805-11eb-8219-f9cdbc5ba104.png)

[2020-12-08 13:36] alertedsnake commented on #1113
I'm in the same boat too, avoiding upgrading because of the breaking change in behavior.

[2020-12-09 11:28] anicoll opened #1213 "v2 bug: Flags unavailable in child Context for IntSlice & Int64Slice (sub commands)"
## my urfave/cli version is

_**(v2.3.0)**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.

[2020-12-13 16:52] Madhur1997 commented on #734
I had a similar requirement. Is there any progress on this?
I can get a PR if this is still open.

[2020-12-16 11:31] noerw opened #1215 "Allow shorthands by calling commands via a unique name substring"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2020-12-16 12:39] MarvinJWendt commented on #1154
Not stale

[2020-12-16 16:52] 6543 commented on #1215
it could be a opt in feature "Longest Prefix Matching"

since Aliases are nice and can differ in any direction while "Longest Prefix Matching" does exactly as it says :)

[2020-12-29 23:34] nicerobot opened #1217 "Command-actions with subcommands do not receive initialized context"
## my urfave/cli version is

_**github.com/urfave/cli/v2 v2.3.0**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Gith

[2021-01-05 13:50] Ritesh-Swarnakar commented on #957
This is what I am getting. How to resolve this?
'GO111MODULE' is not recognized as an internal or external command,
operable program or batch file.

[2021-01-07 23:36] rliebz commented on #1193
Should be resolved already.

[2021-01-07 23:36] #1193 closed

[2021-01-10 05:04] 6543 commented on #1185
ping

[2021-01-12 08:44] r10r commented on #1206
ping

[2021-01-14 10:25] noerw commented on #1134
not stale

[2021-01-15 14:29] kke opened #1219 "Flag Action"
I think I can already do this by creating a custom struct that implements `Flag`, but maybe it's something we could have in the package 🤔

Consider this:

[code]

With this defined, I could just bring that into my command's `Flags`:

[code]

..without having to handle the flag in that command's `Before` or `Action`.

[2021-01-15 16:28] pbalajiips opened #1220 "Unable to go get v2"
## my question is...
i am not able to get  "go get github.com/urfave/cli/v2".
_**( Put the question text here )**_

[2021-01-15 20:11] lynncyrin commented on #1220
There isn't nearly enough context here to help you. Have you tried standard debugging practices, like searching related issues? => https://github.com/urfave/cli/search?q=go+get+v2&type=issues

[2021-01-15 20:57] lynncyrin commented on #1134
This sounds like a great idea 👍🏼  would love to see a PR for this

[2021-01-15 20:58] lynncyrin commented on #1074
👀

[2021-01-15 20:58] lynncyrin commented on #1074
As far as I remember, we would love to see this but it needs more design work 🙏🏼

[2021-01-15 20:59] lynncyrin commented on #427
This is a great idea! We should definitely have this

[2021-01-18 06:38] zonnie commented on #1196
I'm also curious about this...

[2021-01-19 15:59] marcofranssen opened #1222 "Make options mutually exclusive"
## mutual exclusive options

Is it possible to make an option required if another option is not provided.

**e.g.**

If I provide `--app-id` `--app-secret` then `--token` is not required.
If I provide `--token`, then `--app-secret` and `--app-id` is not required.

[2021-01-21 18:18] lynncyrin commented on #1195
@per9000

Yeah that seems fine 👍🏼  feel free to PR this if you're interested 🙏🏼

[2021-01-22 07:46] per9000 commented on #1195
Good idea, what would be best -- a section in `docs/v2/manual.md`? (I've never done one on GitHub, so someone might have to hold my hand)

[2021-01-22 10:50] per9000 commented on #1195
OK, so it turns out I didn't understand the process -- creating a branch didn't work. But here's a patched version of `docs/v1/manual.md` -- perhaps that's usable? I just checked out master and rewrote it (and tested as best I could :-) )

[manual-mod.md.txt](https://github.com/urfave/cli/files/5855268/manual-mod.md.txt)

[2021-01-22 19:28] lynncyrin commented on #1195
@per9000

=>  https://opensource.com/article/19/7/create-pull-request-github

[2021-01-23 18:50] pandolf99 opened #1224 "IntSliceFlag Destination Field"
## Why does IntSliceFlag and related dont have a destination field?
[code]

[2021-01-25 07:29] XANi commented on #1215
I remember that feature from Perl's Getopt::Long, it was pretty convenient there

[2021-01-25 12:07] XANi commented on #1113
I've wrote a bit of code to  "merge" flags on each step (and remove duplicates if same)

https://github.com/XANi/urfave-cli/commit/ba353ea41f636494934bd56ef01feb3770220ad5

But I'm not sure how to make `flag` actually populate parameters correctly in current incremental parsing - with this modification only parameters present at last subcommand in chain are being processed and rest is ignored e.g

[2021-01-27 18:42] lynncyrin commented on #1182
I want to understand the motivation here, but I'm still not quite getting it. @imle could you add more details to this Github issue that further detail your use case / possibly provide concrete code examples within the issue itself? I see the example repo you have setup, but its difficult to parse the relevant context when looking at an entire repo.

[2021-01-27 18:43] lynncyrin commented on #1199
Pretty obvious bug 👍🏼 marking this as `help wanted`

[2021-01-27 20:34] lynncyrin commented on #1092
👀

[2021-01-28 07:13] ws150809201 opened #1230 "The return value structure of the Args function in the CLI library is incorrect"
## my urfave/cli version is

Git was last updated on Mon Jan 25  2021  the latest v1 release

## Checklist

* [y] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [y] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [y] Did you perform a search about this

[2021-01-29 04:16] #1213 closed

[2021-01-29 08:37] KongChengPro opened #1231 "q: What's the use of this error?"
## What's the use of this error?
[code]
I tried to return a error in `ActionFunc`, I think that `app.Run()` will return an error as well, but it didn't, so what's the use of this error?

[2021-01-29 16:11] KongChengPro commented on #1219
Did you mean add `flags.debugFlag` into this package? I think it is a good idea, but if the user use the third party log library, `flags.debugFlag` doesn't know which logger it should choose at all. Moreover, it is unnecessary to add this flag because it has a lot of limitations.

[2021-01-30 12:44] KongChengPro commented on #1231
I went to read the source code...
the program will first call `app.Action`, if the function return an error, it will be handled by `context.App.handleExitCoder()`.

[2021-01-30 12:44] #1231 closed

[2021-01-30 23:31] mostynb commented on #1167
Bump.

[2021-01-31 09:00] mostynb commented on #1167
Bump.

[2021-02-01 07:31] kke commented on #1219
My intention was that there would be `Action` in all flags, so that you could handle the flags before going into the main function of the command.

Potential uses would be to for example configure a logger, load / validate a configuration, set operating modes such as `--force`, somehow normalizes the value or maybe to show a version:

[code]

[code]

and so on

So you could kind of handle the flag

[2021-02-02 08:01] mostynb commented on #287
Bump.

[2021-02-02 16:16] pfortin-urbn opened #1233 "q: (Order of arguments and Flags to a command )"
## my question is...

_**( Is it possible to have a command that takes arguments and flags but on the command flag the arguments are before the flags.  In my attempts I get: "ERROR: Required flags "xyz" not set" )**_

app cmd sub-cmd -xyz 123  ==> ERROR: Required flags "xyz" not set
app cmd -xyz 123 sub-cmd --> OK  (i'd like to use the form above)

Thanks!

[2021-02-02 21:18] #1233 closed

[2021-02-03 19:22] frederikhors commented on #1205
Has anyone solved it?

[2021-02-05 06:38] vipally opened #1235 "v2 bug: default value changes with parsed values on slice flags"
## my urfave/cli version is

v2

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com/e

[2021-02-05 08:01] vipally commented on #1235
maybe related to #1206

[2021-02-06 02:43] dearchap commented on #1154
Here is how I implemented it using GenericFlag and a custom value

`type choiceValue struct {
	choices []string // the choices that this value can take
	value   *string  // the actual value
}

func (v *choiceValue) Set(value string) error {
	for _, choice := range v.choices {
		if strings.Compare(choice, value) == 0 {
			*v.value = value
			return nil
		}
	}
	return fmt.Errorf("%s is not a valid o

[2021-02-07 14:47] vipally opened #1237 "v2 feature: support no-name flags"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2021-02-07 15:19] vipally commented on #1219
It's a good idea, flags has it's own Action function, the app looks like OOP.

[2021-02-07 15:28] vipally commented on #1206
The default value can changes by Env value or config file, it is the disign, not bug.
Refers to the [doc](https://github.com/urfave/cli/blob/master/docs/v2/manual.md#values-from-the-environment)
I don't know why no body deals with the issues and PRs.

[2021-02-07 16:23] KongchengPro commented on #1219
good idea, I think i can send a pull request when I am free. together?

[2021-02-07 17:22] r10r commented on #1206
Really ?  Then I don't understand why it is called `default` value.

[2021-02-08 01:17] dearchap commented on #1222
Dont think so. Would be a good feature to have though

[2021-02-08 01:18] dearchap commented on #1154
There is a PR for this feature. https://github.com/urfave/cli/pull/1234

[2021-02-08 01:38] dearchap commented on #1074
This is a good feature to have.  Theoretically this feature could be implemented in the Before function of the command with a standard set of validators, regex and filepath validator, so if the command is expecting arguments like

[param1] [param2] [file1] ....

It should work just fine. This along with a ExpectedMinNumArgs field in the command would solve the majority of the use cases for most pe

[2021-02-08 04:54] vipally opened #1238 "Accept multi-value input on slice flags"
## my urfave/cli version is

v2.3.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2021-02-08 10:52] vipally opened #1239 "slice flag value don't append to default values from ENV or file"
## my urfave/cli version is

v2.3.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2021-02-09 08:08] JohnStarich opened #1242 "Data race in app.Run with shared cli.Commands"
## my urfave/cli version is

`v2.3.0`

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github

[2021-02-09 13:27] g14a commented on #786
is this feature implemented?

[2021-02-09 17:39] r10r commented on #1206
Kindly ping @ lynncyrin . Can someone of the devs please comment whether this is a bug or not? Thanks!

[2021-02-10 06:51] lynncyrin commented on #1206
👀

[2021-02-10 06:51] lynncyrin commented on #786
no

[2021-02-10 06:54] lynncyrin commented on #1206
Because nobody is paid to pay attention to them 🙂

[2021-02-10 06:55] lynncyrin commented on #1206
I think this is unambiguously a bug, the `EnvVars` attribute isn't intended to mock the default value

[2021-02-10 06:59] lynncyrin commented on #1206
If the docs are currently expecting this behavior, then the docs should be changed too.

I think this is a bug from a logical point of view, but I think it's also important to consider whether or not fixing this would be a breaking change... hopefully the bug here is only with the help text display.

[2021-02-10 07:01] lynncyrin commented on #1181
This looks like a duplicate of https://github.com/urfave/cli/issues/1206, but I would have to dive into the code to say that with confidence.

[2021-02-10 07:24] lynncyrin commented on #1239
I'm slightly worried that this might be a breaking change for someone somewhere, but at a basic level the expected behavior you describe is definitely correct 👍🏼

[2021-02-10 07:30] lynncyrin commented on #1205
Good question! I'm not sure offhand how to do this 🤷🏼‍♀️  It definitely seems like something you should be able to do, though!

[2021-02-10 07:44] lynncyrin commented on #1242
Race conditions should never be an expected result 😄 I'm hoping the fix for this is straightforward and possible to cover with unit tests 🤞🏼🤞🏼🤞🏼

[2021-02-10 07:44] lynncyrin commented on #1242
PRs welcome ✨

[2021-02-10 08:17] r10r commented on #1206
Thanks for looking in :D

@vipally What about closing the duplicate issues and continue discussion here ?

[2021-02-10 14:19] vipally commented on #1206
In fact, my PR pays no attention on whether ENV values change the default.
I found some strange of the design, because flag.Value is the *default* value makes confuse.
In my sense, default value may named as *Default* but not *Value*.

[2021-02-10 14:28] vipally commented on #1206
Do you mean #1235 ?
I consider them as different and same kind of issues, but not duplicate ones.
I found lots of  unexpected behavior on *slice filags*.

[2021-02-12 05:23] KongchengPro commented on #1219
I try to add this feature in the package, but I met some problems. I add `RunAction(*Context) error` into the interface `Flag`, and invoke the function in `app.RunContext`, after normalize the flags, before show the help of the app. It can works, but it will invoke the action function of each flag, I don't know how to judge whether the flag is used or not.

[2021-02-12 10:30] dsotirakis opened #1243 "Is there a way to declare global options (global flags) to be printed with every command?"
## my question is...

_**Is there a way to declare global options (global flags) to be printed with every command?**_

Hi,

I am looking for a way to be able to have global options printed regardless of whether the command is a top-level or a sub command.

One solution that I came up with was to make the flags a Global var and then pass it through my top-level flags and through sub-command flags,

[2021-02-14 18:33] sshaw opened #1246 "v2 feature: ( Positional `Args` Type Checking and Conversion )"
## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2021-02-15 15:24] vipally commented on #1246
The flag-based cli style is based on *Name* but not possition. I guess you want to use a cli arg as *someapp foo* instead of *someapp -f=foo* .
Maybe you are intrested in #1237

[2021-02-16 22:16] 0xch4z opened #1247 "Can't run help without required global flags"
## my urfave/cli version is

v2.3.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2021-02-17 06:22] julian7 commented on #1205
There are two schools for this. The git command line, or for example, p4, separates gloval and command-local flags. Cobra, which is used in a lot of go CLIs, however, allows mixing global and local flags.

I believe the best way to do this latter is to put “common” flags into a func, and group them as such, before appending them into local flags.

[2021-02-18 07:07] JohnStarich commented on #1242
PR opened 😄 Let me know what you think!
https://github.com/urfave/cli/pull/1248

[2021-02-19 16:18] dsotirakis commented on #1243
Any news on that? ^^
Thanks!

[2021-02-22 18:59] kor44 commented on #976
A lot of CLI tools supports flags after arguments. Today switch one of my application to this package and fount this feature is not supported.

[2021-02-25 08:21] x2c3z4 opened #1249 "Could support the SkipFlagParsing is true with flags?"
## Could support the SkipFlagParsing is true with flags?

For example:
[code]
It outputs:
[code]

Expect:
[code]

[2021-02-27 08:50] ayoisaiah commented on #771
@acrisci Thanks, this was helpful :)

[2021-03-06 20:07] sshaw opened #1250 "altsrc with YAML: Flag is Never Assigned"
How to use a YAML config file to set flags? I've read the docs and tried a couple of things; then waited a month and read them again but, nothing seems to work.

I'm using v2.3.0.

[code]

[code]

But every time I run it I get an error because foo is required and not set.

I have also tried what sounds like a more verbose version of the above:

[code]

The config is printed and everything is there

[2021-03-08 07:37] Blakeinstein opened #1252 "Getting the error "no required module provides package " on windows"
## my question is...

_**( Getting the error "no required module provides package " on windows )**_

My import system is as follows,
[code]

Running `go build main.go` returns the following error.

[code]

I am new to GO, and I have tried setting GO111MODULE=on as most sources have suggested, both by using `go env -w GO111MODULE=on` and `set GO111MODULE=on`. I have even used `$env:GO111MODULE="on"

[2021-03-09 04:15] gregnr commented on #1237
Worth noting that other CLI frameworks call this a `positional` argument.

Eg in `yargs`:
https://yargs.js.org/docs/#api-reference-positionalkey-opt

[2021-03-09 14:24] rliebz commented on #1252
The relevant part of the error message is this:

This means that while module mode is enabled, the project that you're working on is not part of a module. If you have a project hosted at say `github.com/Blakeinstein/my-project`, you can convert your project to a module by running the following from the project's root directory:

[code]

This will create a `go.mod` file in your working directory, w

[2021-03-10 10:26] shtirlic commented on #557
Still interested in consistent for `-h` and `help`

[2021-03-11 03:21] Gerrard-YNWA opened #1253 "Required field in Flag not work as expected with Name with only one character"
## my urfave/cli version is
master branch

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [ ] Did you perform a search about this problem? Here's the [Github guide](https://help.gi

[2021-03-11 13:28] AkihiroSuda opened #1254 "StringSlice() with UseShortOptionHandling causes duplicated entries, depending on the ordering of the flags"
## my urfave/cli version is

_**v2.3.0**_

## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this problem? Here's the [Github guide](https://help.gi

[2021-03-21 12:34] dearchap commented on #1074
Here's my design take on full end to end flow of new Args feature

`// Arg specifies one group of arguments
type Arg interface {
	Parse(a cli.Args) (cli.Args, error)
	Name() string
	Usage() string
}

// IntArg presents an int argument
// Similar for other types
type IntArg struct {
	Name  string
	Value int64
	Destination *int64
}

type ArgsSet interface {
	// Get returns the nth argument, or else

[2021-03-23 03:22] brandond commented on #1092
Would love to see a fix for this one.

[2021-03-23 13:36] AkihiroSuda commented on #1092
There is a PR, but not merged yet https://github.com/urfave/cli/pull/1135

[2021-03-24 00:47] dearchap commented on #631
@lynncyrin yes this is still present in v2. The easiest way is to add a Visible() func to Flag interface and have every flag instance implement that. If we don't want to change Flag we can add a separate interface just for Visibility and use that as a runtime type check. Let me know which you prefer. I can implement this

[2021-03-28 22:38] dearchap commented on #786
Is there any interest in this ? I would like to add this feature. @asahasrabuddhe did you work on this previously ?

[2021-04-02 23:54] dearchap commented on #1205
This will be fixed by PR #1245

[2021-04-03 21:25] alekna opened #1263 "Flag names missing in cli.Context.FlagNames() if set via env. variables"
## my urfave/cli version is

**v2.3.0**

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.gith

[2021-04-03 23:45] dearchap commented on #557
Looking into submitting a PR for this.

[2021-04-07 08:16] dearchap commented on #1263
Context.FlagNames returns the flags that have been specified and set on the command line . But it does make sense to return those that have been set(either by env or cli)

[2021-04-08 01:10] dearchap commented on #833
Is there any appetite for re-organizing code ? I have begun some basic cleanup is #1264 but my main goal is to cleanup and app.go and command.go files. There is a lot of duplicate code in these two files which makes it hard to maintain. Any new feature needs to be added in two places. Its a nightmare for maintainers. What I would suggest is to have all the processing logic in command.go. App would

[2021-04-08 08:03] ebarped opened #1265 "Flags & Args ordering"
## Ordering of Flags & Args not interchangeable?

Hello,

I developed a simple app, that needs to receive an url mandatory, so i use an Argument, and allows to modify the behavior using Flags. Also, because is very simple and does only one thing, does not have subcommands.

If i execute the app in this way, everything works:
`./app -r flag1 -c flag2 --log-level debug localhost:5000`

But, i would

[2021-04-08 23:06] rliebz commented on #833
Thank you for your interest and contributions, I really appreciate the effort you've put in so far.

Absolutely. If there are ways to improve the code base that aren't breaking changes, we can slot those into `v2`, even if they're major refactors. I agree that there are lots of things we have that are less than ideal, and improvements are always welcome.

Unfortunately I think the time that's acti

[2021-04-09 00:11] dearchap commented on #833
@rliebz These are my thoughts exactly. I've been going through the PRs and issues and noticing the long lead time in responses/approvals. I dont mind waiting a month or so for a comment and 2-3 months for an approval. That absolutely fine with me. One of my PRs in kustomize has been "stuck" since August of last year. So I totally understand where you're coming from. Maintainers have so many other

[2021-04-14 11:47] Haransis commented on #1134
Well if there is no PR opened yet on this, I will submit one.

[2021-04-14 12:47] Haransis commented on #1134
Actually, this PR #1241 does exactly that.
It does not use a `CommaSeparated` flag but it should not break backwards compatibility.

[2021-04-16 02:17] leauneo opened #1266 "IntSliceFlag support issue"
## my urfave/cli version is
_**( Put the version of urfave/cli that you are using here )**_
v2
## Checklist

* [o] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [o] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [o] Did you perform a search about thi

[2021-04-16 14:24] altafan opened #1267 "How to pass string slice flags"
Hello, this is a dumb question but I found no mention in the doc on how a string slice should be defined when using the CLI.

I tried with `mycli example --names name1,name2` but when I parse the flag values with `ctx.StringSlice("names")` I get a slice of one long string `"name1,name2"` instead of a slice with 2 elems.

[2021-04-16 14:29] #1267 closed

[2021-04-18 23:14] frederikhors commented on #1196
Nope

[2021-04-22 14:54] makew0rld opened #1268 "Accessing global flags from subcommand"
Here is how I am accessing global flags from a subcommand. This func also handles accessing a global flag when the provided context is also global, because it simplifies code.

[code]

This has been working for me. Is there a better way or built-in way to do this? Also, do you know why I have to handle that special case? Is that a bug?

[2021-04-24 12:06] raima-zachariah opened #1269 "[Security] Potential Secret Leak"
It has been noticed that while using codecov/codecov-action@v1 your token 0a8cc73b-bb7c-480b-8626-38a461643761 is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-24 16:44] #1269 closed

[2021-04-24 16:44] rliebz commented on #1269
Thanks for the heads up here!

[2021-04-24 17:02] #1235 closed

[2021-04-26 19:23] Planutim opened #1271 "q: ( how to terminate after help command is typed )"
## my question is...

_**( So how to terminate app after help command is typed? Right now lets say if i put infinite loop after the `app.Run()` and call ./app help help still shows up AND for loop with some logic continues processing. Is there a way to detect help command and terminate the program?)**_

[2021-04-27 21:16] makeworld-the-better-one commented on #1247
Also experiencing this, it's frustrating. Here is the code I used to get around it:

[code]

It works well enough for me, but would get tricky with subcommands.

[2021-04-27 22:18] lynncyrin commented on #1247
It's not intended 👍🏼 asking for `--help` should definitely just output the help, and not output an error

The code change for this might be pretty straightforward, I think! Marking this as `help wanted` 🙏🏼

[2021-04-27 22:26] lynncyrin commented on #1237
This is the same feature as https://github.com/urfave/cli/issues/1074, more or less. @vipally @gregnr would either or you mind commenting on that issue with any ideas that you have? Please and thank you ✨

Closing this one as a duplicate, I would love to see more work happen on https://github.com/urfave/cli/issues/1074 though!!!

[2021-04-27 22:26] #1237 closed

[2021-04-27 22:26] lynncyrin commented on #1246
This is the same feature as https://github.com/urfave/cli/issues/1074, more or less. @sshaw would you mind commenting on that issue with any ideas that you have? Please and thank you ✨

Closing this one as a duplicate, I would love to see more work happen on https://github.com/urfave/cli/issues/1074 though!!!

[2021-04-27 22:26] #1246 closed

[2021-04-27 22:27] lynncyrin commented on #1074
Random FYI, people have since created https://github.com/urfave/cli/issues/1237 and https://github.com/urfave/cli/issues/1246 which as describing essentially the same functionality that's described here

[2021-04-27 22:28] lynncyrin commented on #1074
My understanding is that we would still love to see this happen, we just need someone to volunteer to take on the work of designing and building that feature 🙏🏼

[2021-04-28 02:25] vipally commented on #1074
As I mentioned in #1237，I had implement this feature at repo [cmdline](https://github.com/vipally/cmdline)，but it's a breeak implemention by extends from standard package flag.
I have some farther ideas on cli, but which maybe break v2 usage, so I  tried to bring out my ideas at [gxlb/cli](https://github.com/gxlb/cli) .
I found Flags is suits well of generic programming，so I tried to impliment it

[2021-04-29 12:58] refs commented on #914
This would actually be a nice addition, has it been considered at all?

[2021-04-29 16:06] Planutim commented on #1271
quick workaround code i found
[code]

still, if one decides to write -h instead, program will continue to run

[2021-04-29 16:07] #1271 closed

[2021-05-01 13:21] takumakei opened #1272 "v2 bug: The required GenericFlag cannot be specified with an environment variable"
## my urfave/cli version is

_**v2.3.0**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.gi

[2021-05-04 08:39] refs opened #1273 "q: is there a way / are there plans to provide lifecycle / hooks methods?"
Currently I'm providing structured config files alongside urfavecli, the problem with this is that config files for urfave are "just another way to declare flag values"; they are flat, not hyerarchical.

The workaround we're doing is ugly, as it goes against the defined priorities on urfavecli, since the only time I can set values on the flags are after these are already parsed (even the `Before`

[2021-05-13 04:39] fengqi commented on #1249
need that

[2021-05-15 01:27] imle commented on #1182
@lynncyrin the initial reason for this PR was misguided. I don't know why it wasn't obvious to me earlier but there are much better ways to do what I was trying to accomplish.

[2021-05-15 01:27] #1182 closed

[2021-05-18 15:06] issmeftah opened #1274 "q: ( how to disallow undefined commands/args )"
## my question is...

_**( Is there a way to disallow undefined commands/args? )**_

[code]
now if i run:
`./mycli server bla bla` the command will work using the default value : 8181

Is there a way to not allow adding undefined args?

Or I should run some check of the args inside cli.ActionFunc?

thank you

[2021-05-20 04:02] rliebz commented on #1274
This library does not handle arg validation, so I would recommend using either `Command.Before` or `Command.Action`.

[code]

[2021-05-21 01:22] codefromthecrypt opened #1275 "v2 bug: Man page section interferes with Markdown rendering"
## my urfave/cli version is

_**( Put the version of urfave/cli that you are using here )**_

## Checklist

* [x] Are you running the latest v2 release?
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this problem?

## Dependency Management

- [x] My project is using go modules.

## Describe the bug

Right now, the `MarkdownTemplate` is used for both markdown

[2021-05-21 07:02] Delgus opened #1276 "Unexpected value. i want set default value"
## my urfave/cli version is

_**( v.2.3.0)**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://hel

[2021-05-21 12:24] issmeftah commented on #1274
Got it! Thank you very much!

[2021-05-21 12:24] #1274 closed

[2021-05-27 09:55] seyoatda opened #1277 "can I remove default text when a flag's value is set"

[2021-05-27 10:07] seyoatda commented on #1277
It seems that when I set a flag's value, the help info will show a default text , even if I  do not try to set a default text hint.
for example, if I create a IntFlag, then its value is 0 as default, which is initialize by golang itself. then the default text is shown as `(default: 0)`. But I didn't set the value as 0, and the `default text` was not supposed to show

[2021-06-01 02:39] codefromthecrypt opened #1278 "v2 bug: multi-line UsageText doesn't consistently indent in help output"
## my urfave/cli version is

latest master

## Checklist

* [x] Are you running the latest v2 release? 581b769cf3ee996b7277e895b30afa3f3e6921bf
* [x] Did you check the manual for your release?
* [x] Did you perform a search about this problem? Looked at the issues list

## Dependency Management

- [x] My project is using go modules.

## Describe the bug

If your `UsageText` is multi-line, help out

[2021-06-02 00:33] kolyshkin commented on #1092
This is still the case with 1.22.5.

[2021-06-02 16:00] alertedsnake commented on #1113
I'm definitely still interested in the resolution of this issue, and still sticking with v1 for now because of the drastic change in behavior.

[2021-06-02 17:35] clok commented on #1278
I did some testing and digging on this issue. First, I believe that this is not a regression due to #1171. It appears to be in the code since at least `v2.0.0` (I have not checked `v1` at this point). Second, it should be a pretty straight forward feature to add.

The root cause is that the template used to generate the command help output will use the `UsageText` directly, with no formatting. See

[2021-06-02 17:54] clok commented on #1278
@codefromthecrypt and @rliebz Got a PR up to address this. #1279

[2021-06-03 07:30] kke commented on #1219
Still sounds like a good idea.

[2021-06-03 23:19] #1278 closed

[2021-06-05 00:17] sshaw commented on #1250
Still interested in it's resolution

[2021-06-05 00:30] sshaw opened #1280 "v2 bug: ( Grammer Error in Stale Bot Message )"
https://github.com/urfave/cli/blob/443c6a54a886a7d3aa79c70a046b4753c493626e/.github/stale.yml#L36

`it's` must be `its`.

[2021-06-07 17:05] lynncyrin commented on #1280
feel free to PR this if I don't get to it first 🙂

[2021-06-10 04:26] AkihiroSuda commented on #1254
no stale

[2021-06-14 23:55] tionis commented on #351
This should still be very relevant. Can I still bump this?

[2021-06-16 03:04] hsrzq opened #1282 "Is there anyway to support dynamic flag names?"
Suppose I have a go web program named `goweb`, and the subcommand `web` will starts a web daemon.
Most importantly, it can have multiple instances at the same time, of course, they have different port numbers.

This is my `/etc/goweb/config.conf` content:
[code]

What I expect is:
1. When I use `goweb web --config /etc/goweb/config.conf`, the web service is based on path `/var/lib/goweb/default` a

[2021-06-17 17:01] 92612ShiyuQiu opened #1283 "v2 bug: cannot find package "github.com/urfave/cli/v2" in any of: /Users/myusername/.goenv/versions/1.14.2/src/github.com/urfave/cli/v2 (from $GOROOT) /Users/myusername/go/1.14.2/src/github.com/urfave/cli/v2 (from $GOPATH)"
## my urfave/cli version is

_**( Put the version of urfave/cli that you are using here )**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this

[2021-06-18 01:25] rliebz commented on #1283
It sounds like modules might not be correctly enabled in your project—the thing to check for is a `go.mod` file.

If it's missing, assuming you're working on a project at `github.com/92612ShiyuQiu/my-project`, at the root of your repo, run:

[code]

This will create a `go.mod` file for you. From there, `go get github.com/urfave/cli/v2` should work without setting `GO111MODULE=on` explicitly, and r

[2021-06-18 01:34] rliebz commented on #1282
I don't think there's native support for what you're trying to do.

I've accomplished something similar by parsing CLI flags twice—once to get the non-dynamic flags (in your case, `--user`) and then afterwards, create a new `cli.App` with configuration based on the options parsed the first go around. Unfortunately, that was rather complex, and I'm not sure that the way I did it was necessarily the

[2021-06-18 16:19] HmzAli opened #1284 "Is there a way to have flags that don't require arguments/values? e.g. --flag"
## my question is...

_**( I have to say this... Thank you for crafting such awesome CLI tool!  it's a major component of a very exciting project I'm working on. Anyway, I was wonder if it's possible to have a flag that don't require values/arguments. currently if a flag is specified without an argument, `flag needs an argument:` error is thrown. Some other cli tools support this feature,  e.g. np

[2021-06-18 17:00] lynncyrin commented on #1284
A `BoolFlag` is what you're looking for 🙂

[2021-06-22 07:33] jaimem88 commented on #1247
I believe the problem only happens when using the word `help` as a command. Using `--help`does not cause the error. Here is a simple attempt to fix this https://github.com/urfave/cli/pull/1285

[2021-06-23 05:24] HmzAli commented on #1284
Thanks @lynncyrin !

[2021-06-23 05:24] #1284 closed

[2021-06-24 11:10] igungor commented on #1242
Actually it is :) https://github.com/peak/s5cmd/issues/301

[2021-06-30 17:36] subpop opened #1286 "v2 feature: Use app.Description in templates"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2021-07-04 12:42] 6543 commented on #1215
I think this should stay open ...

[2021-07-05 23:26] heyvito commented on #1113
Thanks to this issue I learned downgrading to v1 fixes CLI ergonomics.
Is this planned to be fixed by v3?

[2021-07-05 23:30] heyvito commented on #833
Hey @lynncyrin (or maybe @rliebz?)! Could you kindly consider adding something so we can choose between how args and flags are parsed? There's a discussion over at #1113.

Not sure this is the right place to ask for that. I do apologise in case it isn't.

[2021-07-06 11:01] XANi commented on #1113
@heyvito for the project that really hurt on the ergonomics I just used spf13/cobra but that one is on the other hand really unergonomic when it comes to setting up commands, we're talking more boilerplate and less readable

[2021-07-06 12:53] heyvito commented on #1113
@XANi Yes, Cobra is a pain to setup. I actually migrated this project I'm working on from cobra+viper to urfave/cli. I'll be sticking with v1 for now, but I'd really like to see this fixed on v3 :(
I also raised this question on #833, so hopefully a maintainer can try to figure this out somehow if they have the time. I'd love to open a PR, but right now it's infeasible.

Thank you for replying! 🙌🏻

[2021-07-07 00:03] rliebz commented on #1113
I'm not sure that we have the maintenance resources to push forward with a 3.X release right now. But I don't think we need to make a breaking change to do this. I would be happy to review a change that makes this an opt-in feature for v2, if you were interested in contributing.

Maybe a `UseRelaxedOptionOrdering` flag (similar to `UseShortOptionHandling`), which when explicitly passed, uses a dif

[2021-07-07 00:09] rliebz commented on #833
The status of a 3.X release is pretty unlikely right now, since the maintenance overhead is probably higher than we have folks who can support it (although we haven't dropped support for v1 yet!).

That said we are still accepting backward-compatible contributions for v2, so definitely feel free to open or comment on individual issues. This issue in particularis probably best suited for discussing

[2021-07-07 00:20] #1286 closed

[2021-07-12 05:04] codefromthecrypt opened #1288 "Opt-out of old-school windows ENV flags"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2021-07-12 18:07] WestleyK opened #1289 "Flag with no name, only for environment variables parsing"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2021-07-13 00:22] rliebz commented on #1289
AFAIK what you want to do isn't possible—there a lot of assumptions in the code base about flags being command-line flags, and those are unlikely to change. For example, the primary way of accessing a variable through a `*cli.Context` is through it's name, which is the same as the name of the CLI flag.

I'd personally recommend using hidden—you can use a nonsense name so that users are unlikely to

[2021-07-14 19:18] #1283 closed

[2021-07-15 02:33] Roxxers opened #1290 "Using -h on command with HideHelp causes error"
## my urfave/cli version is

_**( v2.3.0 )**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://hel

[2021-07-19 19:05] frederikhors commented on #1196
Nope

[2021-07-19 20:25] alekna commented on #1263
Bump. The Issue is still unfixed.

[2021-07-21 07:58] ebarped commented on #1222
would love to see this

[2021-07-22 18:53] makeworld-the-better-one commented on #1268
Bump

[2021-07-23 23:21] abdennour commented on #620
/reopen /open /re-open

[2021-07-23 23:22] abdennour commented on #1154
Wy Wy Wy! should we open it again?

[2021-07-24 21:16] rliebz commented on #1242
I'm actually going to push back here and say this is a data race in the application, not a data race in the library. This package does not advertise concurrency, immutability, or thread-safety. To that point, it also does not perform any concurrent operations.

I think the `Commands` type in the example here hides what's really going on under the hood—absolutely to the fault of the library. But he

[2021-07-24 22:09] rliebz commented on #620
@abdennour I re-opened and pinned #1154 (so it won't go stale), let me know if there's anything from this issue that warrants re-opening in addition.

[2021-07-25 00:10] dearchap commented on #1154
There are 2 ways to approach this. One is with PR #1234 . The other is using validations as in PR #1261 . Its upto the maintainers to choose the way forward.

[2021-07-29 08:20] sairson opened #1291 "I want to know if the location of the name can be case insensitive, if I can how to do it"
I want to know if the location of the name can be case insensitive, if I can how to do it

[2021-08-03 17:21] dargueta commented on #1268
Duplicate of #427? Looks like this has been asked about several times over the span of years.

[2021-08-03 18:39] makeworld-the-better-one commented on #1268
@dargueta no, I'm interested in global flags staying in their usual place, but being accessible from within subcommand code.

[2021-08-03 23:00] gustavomassa opened #1292 "q: How to test flags (v2)"
I'm trying to test the flag values, but I'm receiving a panic about invalid memory addresses, I'm missing some important initialization about the cli.Context struct

**cli.go**
[code]

**cli_test.go**
[code]

**Panic example:**
[code]

What I'm missing/doing wrong? Is there any mock that I could use?
Thanks!

[2021-08-04 22:02] dargueta commented on #1268
Oh, I misunderstood. Ignore me! 😅

[2021-08-13 04:08] WestleyK opened #1293 "Usage does not auto indent newlines"
## my urfave/cli version is

[code]

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2021-08-13 04:12] WestleyK commented on #1289
It would be handy if this cli package automatically handles this (either internally generate a uuid, or just dont have any flag). Maybe for v3?

[2021-08-14 03:27] Turing-Chu opened #1294 "q: what should I do if just input help/version and show help/version info and exit 0"
## my question is...

I have a flag named config to specify config file path. However, when user input -h,-v,--version,--help and without --config, I want to just show help / version information and exit 0.

so what should I do for my question.

[2021-08-17 03:02] WestleyK commented on #1294
Hi @Turing-Chu, here is some functions that may help:
 - [`ShowAppHelp()`](https://pkg.go.dev/github.com/urfave/cli#ShowAppHelp)
 - [`ShowAppHelpAndExit()`](https://pkg.go.dev/github.com/urfave/cli#ShowAppHelpAndExit) Or:
 - [`ShowCommandHelp`](https://pkg.go.dev/github.com/urfave/cli#ShowCommandHelp)
 - [`ShowCommandHelpAndExit`](https://pkg.go.dev/github.com/urfave/cli#ShowCommandHelpAndExit)

I

[2021-08-17 14:48] kktk-KO opened #1295 "v2 bug: Value function of cli.Context conflicts one of context.Context interface"
## my urfave/cli version is

v.2.3.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.

[2021-08-17 15:02] kktk-KO commented on #1295
Actually seems this issue is recognized and intentionally left as is for now. https://github.com/urfave/cli/pull/1039

[2021-08-17 15:02] #1295 closed

[2021-08-18 12:49] xyb commented on #1249
+1

[2021-08-20 12:37] Turing-Chu commented on #1294
thanks for your help. Now I have another question: I define app in another package `init` function, and called before `main` function. but I can not get Arg. the code as follows:

project struct:
[code]

main.go:
[code]

config/init.go:
[code]

when I run with `go run main.go -c config/init.go`, it exit at `if ctx.NArg() == 0 {`

[2021-08-20 17:20] WestleyK commented on #1294
So, you code should work just fine. When you run `go run main.go -c config/init.go`, you are passing flag `-c string`, which is a flag. `ctx.NArg()` only returns the args count, eg. `go run main.go -c foo arg1` -> `NArg() = 1`.

If you want to get the value of `--config`, you will need to do this:

[code]

And remove the `if ctx.NArg()` unless you are expecting arguments in addition to flags.

[2021-08-22 06:15] Turing-Chu commented on #1294
and another question: how can I run `go test` success?

before [urfave/cli](https://github.com/urfave/cli), I used [alecthomas/kingpin](https://github.com/alecthomas/kingpin).
But alecthomas/kingpin panic with `error: unknown short flag '-t', try --help` when run `go test`.
Now I intend to change kingpin to urfave/cli to resolve this, ie. kingpin or urfave/cli can parse command line arguments and

[2021-08-24 23:42] WestleyK commented on #1294
I'm not sure what testing framework (end-2-end vs unit tests) you use, or your test code. Check your test code for for undefined flags. Testing frameworks are usually very verbose on which test failed.

[2021-08-25 00:27] rliebz commented on #1294
@Turing-Chu it sounds like you may be running something like `app.Run(os.Args)` in your tests. That will pass the arguments used internally by `go test` to your application, where presumably you're interested in passing a set of arguments particular to the test case, rather than the test runner.

Make sure that the flags your test uses are the flags you want to test. That should start with the nam

[2021-08-25 08:11] Turing-Chu commented on #1294
yes, I used same to `app.Run(os.Args)`, and I have some test cases which have nothing to `app.Run(os.Args)`. By the way , `app.Run(os.Args)` was written at an init function. so, when run `go test`, some package contain test case  and import package with init function which contain app.Run(os.Args). then it exit with panic. Let me have a look at  what I can do about it.

[2021-08-25 08:31] Turing-Chu commented on #1294
Now for test my code that has nothing to parse arguments, I add the following code in init function first line😄 :

[code]

[2021-08-25 08:31] #1294 closed

[2021-08-29 13:01] dearchap commented on #786
Well. I tried and added a sample PR of how validation might work for int/intslice flags. No-one reviewed it so the PR got closed as stale. Most of these requested features seem to be nice-to-haves that occur on the spur of the moment.

[2021-08-31 19:44] GlenPickle opened #1298 "v2 bug: TestApp_RunAsSubCommandIncorrectUsage panics with Go 1.17"
## my urfave/cli version is

2.3.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.co

[2021-09-02 04:00] shaneday commented on #1122
For others finding this problem, you can work around it without editing urfave/cli like this:

[code]

[2021-09-04 23:42] sshaw commented on #1250
Still interested in its resolution

[2021-09-06 12:52] kke commented on #1219
Still sounds like a good idea, stalebot.

[2021-09-10 16:53] rhugga opened #1302 "Issue Writing Tests"
I'm having a hell of a time getting tests written for the library that will past the most of my org at work. I end up with this ungodly multi-page mess of code to test even the most simple programs.

Here I've just written a function to test flag parsing.
`
func FlagTest() {
	testArgs := []string{"foo", "--debug", "list", "--username", "foo"}
	app := &cli.App{Writer: ioutil.Discard}
	app.Commands

[2021-09-10 18:48] kristofferahl opened #1303 "Custom SubcommandHelpTemplate"
## Is there a way to set a custom help template for subcommands?
_**I know it's totally possible to set custom templates for the app (CustomAppHelpTemplate) and for commands (CustomHelpTemplate) but I can't find how to override the SubcommandHelpTemplate. What am I missing?**_

[2021-09-10 22:18] rhugga commented on #1302
Closing issue, moving to different library. This one is just too difficult to right tests for.

[2021-09-15 19:55] thockin commented on #1092
Is this library still alive?

[2021-09-16 03:36] rliebz commented on #1092
Yes, but unfortunately I and other maintainers have not been able to dedicate as much time as we would like to. That said, definitely interested in keeping this alive, especially for bug fixes.

From the linked PR, it looks like there are issues with the proposed fix that haven't been addressed. I'm not sure what the best path forward is from here.

[2021-09-16 08:04] thaJeztah commented on #1092
Apologies for that; it had been dropping down my list to spend time on diving into it again, and not sure when I'm able to. I will try to find some time for it, but if someone wants to carry my changes from https://github.com/urfave/cli/pull/1135, feel free to do so (feel free to take my patch as a starting point if that helps)

[2021-09-29 19:49] flowchartsman opened #1305 "Return explicit usage error"
## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [X] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2021-09-29 20:35] flowchartsman commented on #1305
Notes after digging somewhat: the most straightforward implementation would be changing `handleExitCoder` to `handleErrorTypes`, which could use `errors.As()` and either retrofitting `exitError` to implement `Unwrap() error`, or ideally changing `message` from `interface{}` to `error` (unsure how feasible this is yet). Then it would be a matter of adding a new `UsageError` type, also implementing

[2021-09-29 21:12] flowchartsman commented on #1305
Something like this: https://play.golang.org/p/jGF1iYuBl9z

[2021-09-29 21:33] flowchartsman commented on #1305
Functional error options are also a possibility: https://play.golang.org/p/HMkLILVU3FP

[2021-09-30 08:36] amoghrajesh commented on #809
@coilysiren @kb-equinox I am new to OSS and would like to try to contribute to this issue if it is a mere reordering of the struct fields if I understand it correctly.

[2021-10-01 10:35] dzonerzy opened #1306 "Command accept any flags"
I'm making a wrapper around the go build tool , so basically I made a build command and I need it to accept any flags without having to specify them so i can forward those flags to the go build command line, is that actually possible?

[2021-10-01 14:02] rliebz commented on #809
While it's definitely unfortunate that real world code has had to break because of this change, I'm not sure that the assumption that struct fields will stay in order when new fields are added was ever safe to make.

From the Go 1 Compatibility Promise:

Ref: https://golang.org/doc/go1compat

Two things here—

1. The recommendation by the Go authors is to not use unkeyed struct literals for types

[2021-10-01 14:05] kevinburke commented on #809
One thing you could do is eg

[code]

The new field would require all callers to list the parameters instead of adding them implicitly.

[2021-10-14 16:29] jalavosus opened #1307 "Allow default command if one is not passed"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2021-10-19 02:09] Bdl-1989 opened #1308 "q: How to debug with command line app based on urfave/cli by vscode?"
## my question is...

as the title

[2021-10-20 15:34] AleksandraSp opened #1309 "v2 bug: Default:false value for BoolFlag is true"
## my urfave/cli version is

_**v2**_

## Checklist

* [x ] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x ] Did you perform a search about this problem? Here's the [Github guide](https://help.git

[2021-10-22 01:05] #1309 closed, assigned to nobody

[2021-10-27 02:30] liuwangchen opened #1310 "Support dynamic completion"
Can i write dynamic completion? like cobra :)
![image](https://user-images.githubusercontent.com/25526033/138989713-30d1734a-d648-45e2-9b11-fc85df1391e4.png)

[2021-11-01 15:59] valorl commented on #1277
@Toady00 One thing I found you can do is set `DefaultText: ""` on the flag.

[2021-11-05 11:00] souleb commented on #1250
I have the same issue. I can confirm that the `inputsource` generation is going as expected.

But we have a `nil`set returned as art of the struct when declaring the flag: https://github.com/urfave/cli/blob/1259f1efc973b210de2c7b448b6302d6f52081d1/altsrc/flag_generated.go#L191

And then we apply the `inputSourceValue` only if the set is not nil...
https://github.com/urfave/cli/blob/1259f1efc973b21

[2021-11-06 11:37] #1275 closed

[2021-11-06 18:57] ddouglas commented on #1308
Create a folder in VS Code called .vscode then a file called `launch.json`. Copy the below contents

[code]

Once you have this config in place, click on the debug menu on the left, play symbol with a bug in the lower left of the symbol. In the drop down menu at the top you should see your debug command from above. Select it, click the play symbol. If you don't have dap-delv (may have misspelled t

[2021-11-06 19:08] ddouglas commented on #1303
Jesus Christ, I just spent an hour in the VS Code Debugger trying to figure out why my SubCommand Template is not being picked up and printed. The issue is here

https://github.com/urfave/cli/blob/master/app.go#L391

`a` is a new `*cli.App` that contains all configs for the command being executed, but it is not passed to checkSubcommandHelp, so when this if logic:
https://github.com/urfave/cli/blo

[2021-11-06 19:26] ddouglas commented on #1303
Yeah I have no clue what to do here, well "properly". I can see the data in the `*cli.App` that is in the `*cli.Context` here:

![Code_BGgJAZjpgS](https://user-images.githubusercontent.com/48367195/140621462-1f74808d-03da-4c67-83ed-f38e3ba3d79f.png)

The issue is that the Name that is being passed to `ShowCommandHelp` is bare because when `RunAsSubcommand` is call and that calls `NewContext`, this

[2021-11-06 19:49] ddouglas commented on #1303
Okay, I've put a PR in for this. I do not consider this an ideal fix, but it works.

[2021-11-10 01:07] potuz commented on #1134
bumping this issue as is a very useful feature, with a PR (albeit unmantained)

[2021-11-10 06:16] Bdl-1989 commented on #1308
Thanks. It can be closed.

[2021-11-10 06:16] #1308 closed

[2021-11-13 17:46] halvfigur opened #1313 "q: Passing resources from Command to Subcommand"
## Is it possible to pass a resource created in a Command down to its Subcommands?

Hi,

Is it possible to have a command initialize some resource and put it into the `cli.Context` so that it becomes available to Subcommands? I want to do something like this

$ mycmd db -connect=<addr> create <entry>
$ mycmd db -connect=<addr> update <entry>

where `db --connect` initializes some resource that is

[2021-11-13 18:58] mem opened #1314 "q: how to get the typed value of a generic flag?"
## my question is...

_**Is it possible to get typed value of a generic flag?**_

What I mean is that I have declared a generic flag, and I have a type that implements the necessary interface.

If I use `c.Generic("name")` I get something that doens't wrap the instance passed to the `Value` field of the flag. If I use `c.String("name")` I get a string. I cannot find a way of getting the instance i

[2021-11-13 22:18] mem commented on #1314
Aha, I was missing something. `c.Value("name")` does return the `Value` field for the named flag. From there it's enough to type-assert the returned `interface {}` to get the typed-value.

Also, `c.Generic("name")` does return an `interface {}` wrapping the corresponding `Value` field. PEBCAK for sure. Sorry.

[2021-11-13 22:18] #1314 closed

[2021-11-18 17:52] jakegut commented on #1313
I was able to add data to the context like so:

[code]

  And then getting the value from the context:
[code]

[2021-11-19 05:18] halvfigur commented on #1313
Great thanks!

[2021-11-19 05:18] #1313 closed

[2021-12-02 17:20] toaster opened #1316 "Simplify accessing flag values"
Would it be reasonable to add convenient value accessors to flags like `myFlag.Value(context)` instead of `context.String(myFlag.Name)`?

Currently, I have to choose the correct accessor (`ctx.String()`, `ctx.StringSlice()`) or use the correct type assertion (`ctx.Value(…).(String)`). I think this part could be moved into the flag which already knows its correct type.

[2021-12-05 19:56] #1298 closed

[2021-12-16 20:51] factoidforrest commented on #734
It would be better if the global flags worked after a subcommand.  In our tool it makes much more sense to do
`tool subcommand --flag`
than
`tool --flag subcommand`

[2021-12-24 17:48] greenpau opened #1318 "Attach an instance of a struct to app and make it available via *cli.Context"
## How to attach an instance of a struct to app and make it available via *cli.Context?

Initialized an app:

[code]

Then, in one of my command I initialize a logger.

[code]

I want to initialize the logger in the app setup and then have it available in any command via Context:

[code]

How can I do it?

P.S. Looked at the below to store the `logger` there.

https://github.com/urfave/cli/blob/b7

[2021-12-31 13:58] zekth commented on #965
Github has now automated release note generator: https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes

[2022-01-03 14:09] thomas-imi opened #1322 "gopkg.in/yaml.v2 needs update to >= v2.2.8"
## my urfave/cli version is

v2.3.0

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).

## Dependency Management

- [x] My project is using go modules.

## Describe the bug

GitHub's Dependabot flags `gopkg.in/yaml.v2` < `v2.2.8` as vulnerable to `CVE-2019-11254`.

 `gopkg.in/yaml.v2` should be updated to a version >=

[2022-01-10 12:49] jurisbu opened #1324 "Nitpicking on consistency with dashes for Flags"
## Is it expected that flags in command help output and error messages are inconsistent in terms of dash count to used?

Bare in mind these are my first steps with this wonderful library, I went over the manual and just tried some simple toy tools to get the feel. And this sort of caught my eye.

Suppose I have a very simple CLI application that defined a required flag `conf`:
[code]

As a user wh

[2022-01-10 20:30] abdennour commented on #964
For me i get similar error, but it's nothing to do with migration.

Simply, it's was a typo that the function does not return error in its signature:

[code]

[2022-01-11 10:54] WUST-mengqinyu opened #1325 "Nil pointer when getting context's flagSet in UsageError function."
## my urfave/cli version is

_**v2.3.0**_

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
- [x] Did you perform a search about this problem? Here's the [Github guide](https://help.gi

[2022-01-17 00:22] #1325 closed

[2022-01-17 04:28] abdennour opened #1328 "v2 feature: Values from a function return"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2022-01-17 07:42] zhiqiangxu opened #1329 "Is there an easy way to toggle the Required attribute of a cli.Flag ?"
Now I have to create separate `cli.Flag` flag instances for `Required` and `Optional`, which is quite tedious:

[code]

[2022-01-18 12:08] decentral1se commented on #1113
I'm migrating from v2 -> v1 for this, thanks for opening this ticket. I'm moving all global flags to normal flags so I can get the same flexible support. Folks are complaining a lot about this in our cli. It's a major usability concern imho. https://github.com/urfave/cli/issues/1113#issuecomment-875162737 seems like a good step forward for v2.

[2022-01-19 21:20] Necoro commented on #1329
What about
[code]

[2022-01-19 23:37] zhiqiangxu commented on #1329
It still requires 2 variables, if there is a method like `toggleRequired()`, then only 1 is enough.

[2022-01-20 17:39] abdennour commented on #620
Thank you @rliebz  ! should this answer  https://github.com/urfave/cli/issues/602#issuecomment-416000118 cover this issue ?

[2022-01-21 20:14] rliebz commented on #620
I think so, seems pretty straightforward.

[2022-01-30 02:21] rxliuli opened #1331 "Does urfave cli meet the following requirements"
I tried to use urfave's api to do it, but I didn't find it, maybe I don't know?

[code]

[2022-02-03 22:13] varun06 opened #1332 "correct way to enable autocompletion in zsh"
I am adding auto completion to my cli app. I am following doc and set `app.EnableBashCompletion = true` and made changes to zsh shell config. But we I am trying to auto complete, I am getting these errors in shell.

[code]

am I missing something?

[2022-02-04 00:11] binwiederhier opened #1333 "q: Are there plans for new releases?"
Thank you for a fantastic library! I've used it in many of my projects.

My question is: The last release was in 2020, and it's obvious that you guys are still working on the lib. Are there plans for new releases any time soon? I've found a bug that I was going to report, but I saw it's fixed in master. I'm just curious.

[2022-02-04 01:11] rliebz commented on #1333
Hopefully this weekend: https://github.com/urfave/cli/pull/1326#issuecomment-1026904132

[2022-02-13 15:46] td0m opened #1334 "Add `UInt64Slice`"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2022-02-14 13:43] xwjdsh commented on #1219
good idea.

[2022-02-20 13:39] Or-Geva opened #1338 "SkipFlagParsing is not working if there are Subcommands"
## my urfave/cli version is

_**v1.22.5**_

## Checklist

* [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/master/docs/v1/manual.md)
* [x] Did you perform a search about this problem? Here's the [Github guide](https://help.g

[2022-02-21 16:59] 6543 opened #1339 "v2 bug: panics if EnvVar of a StringSliceFlag is wrong"
## my urfave/cli version is

_**github.com/urfave/cli/v2 v2.3.0**_

## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [ ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [ ] Did you perform a search about this problem? Here's the [Gith

[2022-02-21 17:06] #1339 closed

[2022-02-21 17:06] 6543 commented on #1339
sorry should have looked closer to the stactrasce :D

[2022-03-08 11:23] tomaswarynyca commented on #1333
Any news? :rocket:

[2022-03-15 07:32] asahasrabuddhe commented on #1333
Sorry for the delay. Release v2.4.0 is live - https://github.com/urfave/cli/releases/tag/v2.4.0

[2022-03-15 07:32] #1333 closed

[2022-03-18 10:26] AnuragThePathak opened #1341 "Zsh autocompletion not working"
Zsh autocompletion not working in Fedora 35

Hello I was trying to get completions in a cli app. I have followed instructions as provided [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md#bash-completion). I was trying to use default auto-completion only at this moment. I got the completions working in bash but in zsh it is not working.

I have set the .zshrc file as mentioned her

[2022-03-22 23:55] binwiederhier commented on #1333
Much appreciated. I was most excited about the `App.Reader` propagation bug in subcommands (in https://github.com/urfave/cli/pull/1225 via @Coderlane). Thank you folks.

[2022-03-23 05:08] JamieSlome opened #1342 "Responsible disclosure policy"
Hey there!

I belong to an open source security research community, and a member (@ktg9) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to

[2022-03-25 10:09] JamieSlome commented on #1342
Just for reference, the report can be found here:
https://huntr.dev/bounties/19f9d99b-2c20-47d0-b84e-46094be2841f/

It is currently private and only accessible to maintainers with repository write permissions 👍

[2022-04-03 16:22] saintmalik opened #1343 "Responsive and friendly Documentation page"
## Checklist

* [X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [X] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/master/docs/v2/manual.md)
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-gi

[2022-04-09 13:07] wayan opened #1344 "How to describe a flag in autogenerated help"
Is there a simple way how to describe a command option (flag) on a few lines in generated help? The similar way how git options are described, see OPTIONS in the output of `git fetch help` as an example. I found no UsageText or anything similar in Flag types.

I appreciate any recommendations.

[2022-04-09 13:20] tpnfocal opened #1345 "golang: flag redefined: jwt_issuerq: ( your question title goes here )"
I'm using flag and cli.Flag in my project for upgrade go version for this project but it have issue.

When i used &cli.StringFlag for set command line config, it show error when I run this project by realize

[code]

[2022-04-10 19:17] rliebz commented on #1345
This looks a lot like an app named `myproject` with a flag named `jwt_issuer` defined more than once. Each flag defined must have a unique name.

See here for a reproduction: https://play.golang.com/p/8xkHoHY4tIx

Remove one of the duplicate flags, and the error goes away.

[2022-04-11 04:52] tpnfocal commented on #1345
Oh god! Thanks for my answer my issuer.

[2022-04-11 04:52] #1345 closed

[2022-04-17 04:19] #1292 closed

[2022-04-19 19:32] meatballhat opened #1349 "Switch from `master` to `main`"
I would like to propose switching the primary development branch from `master` to `main` given current best practices and cultural norms. This would be a one-time change at the level of repository administrative settings, ~so no pull request or similar artifact~ and likely one associated pull request will be created. My understanding is that any open pull requests currently targeting `master` woul

[2022-04-21 12:15] meatballhat commented on #833
For anyone happening across this end of the discussion, I'm working on building up my understanding of this whole situation and I'm hoping to have an updated roadmap for 3.X in the OP in the next few days 🤞🏼

[2022-04-21 13:22] asahasrabuddhe commented on #833
@meatballhat im also open to have a zoom or google meets meeting for us to get together and plan the future of this library.

[2022-04-21 13:40] meatballhat commented on #809
I fear this may be a case of `#wontfix`. Please holler if you feel otherwise and would like to see action taken ❤️

[2022-04-21 13:40] #809 closed

[2022-04-21 14:47] meatballhat commented on #1291
@sairson Hello and sorry for the delay! Can you provide more details, such as what version of the library you are using and some example code covering your use case?

[2022-04-21 14:48] meatballhat commented on #1302
@rhugga did you mean to close this issue?

[2022-04-21 17:08] coilysiren commented on #833
😆 lol yes busy with other life adventures

[2022-04-21 17:46] toaster commented on #1316
Yeah, but I’ll need some time to dig into the code and do the work :).

[2022-04-21 18:47] meatballhat commented on #785
@ruzaikr Hello and sorry for the big delay 😭  Any chance you're interested in picking up this work again?

[2022-04-21 18:49] ruzaikr commented on #785
@meatballhat Hello, my friend! Actually, it is my bad because I didn’t follow up on the last feedback I received.

Unfortunately, I am in between jobs right now and time is a bit tight. Is 3 weeks from now acceptable?

[2022-04-21 18:50] meatballhat commented on #785
@ruzaikr Hello and thank you so much for the incredibly fast reply! 3 weeks from now is more than acceptable 🎉 I'm looking forward to seeing your work 🤘🏼

[2022-04-21 19:35] meatballhat commented on #1092
IIUC this should now be resolved via #1356 Please holler if that's not true!

[2022-04-21 19:35] #1092 closed

[2022-04-21 21:52] meatballhat commented on #933
Superseded by the [Release 1.22.7](https://github.com/urfave/cli/milestone/9) milestone.

[2022-04-21 21:52] #933 closed

[2022-04-21 21:55] #1349 closed

[2022-04-21 23:21] #1322 closed

[2022-04-22 00:15] #1184 closed

[2022-04-22 03:07] #631 closed

[2022-04-22 16:15] meatballhat commented on #980
Yes please

[2022-04-22 16:25] meatballhat commented on #1114
Reopening given stalebot's involvement; will be re-verifying 🔜

[2022-04-22 23:24] meatballhat commented on #600
I'm adding this to the 3.x milestone as something of a punt since I suspect the answer is going to be using a different argument parser than stdlib `flag`

[2022-04-22 23:52] meatballhat commented on #1066
Actually closed by #1208 yay

[2022-04-22 23:52] #1066 closed

[2022-04-23 00:03] #1110 closed

[2022-04-23 00:05] meatballhat commented on #1112
Actually closed via #1183

[2022-04-23 00:05] #1112 closed

[2022-04-23 12:07] meatballhat commented on #1140
Folding this into #1154

[2022-04-23 12:07] #1140 closed

[2022-04-23 12:38] meatballhat opened #1369 "Priorities (circa late April 2022)"
Hello and welcome to the `urfave/cli` issues and/or pull requests 🎉 It's been a heck of a last few years what with this ongoing global pandemic and other life adventures and you may have noticed that the work has been piling up. Thank you so much for your patience while we (the @urfave/cli team) attempt to get stuff flowing again. This issue is a *discussion*, so please do leave comments and I'll

[2022-04-23 13:07] meatballhat commented on #1239
Actually closed via #1240

[2022-04-23 13:07] #1239 closed

[2022-04-23 15:50] meatballhat commented on #790
As far as I can tell, this is no longer a problem on current `v2`. Modified from @michaeljs1990 example:

[code]

[code]

Please holler if this problem is still affecting you on `v2` 🙇🏼

[2022-04-23 15:50] #790 closed

[2022-04-24 00:45] meatballhat commented on #1064
While it may not be exactly what you need, `{{ .HelpName }}` includes the full "lineage" of the current subcommand, e.g.:

<details>
  <summary>source code in here</summary>

[code]

</details>

[code]

[2022-04-24 00:45] #1064 closed

[2022-04-24 11:55] meatballhat commented on #1103
From what I can tell, at the time of `v1` ➡️ `v2` we made the call to silently trim right rather than break everyone's `Name` values 🙁

https://github.com/urfave/cli/blob/6033c008f2f3e1a1e367e5467ade7383e6ff7e98/flag.go#L262-L274

Given that we don't really have a compile-time or type-enforced way of preventing `v1` style values, I think I'd like to incorporate some validation feedback as part of

[2022-04-24 12:25] #1254 closed

[2022-04-24 12:47] asmaloney opened #1372 "Why all the tiny releases?"
Seven releases in the last three days? It looks like there's a release for every commit.

Is something broken in the GitHub actions?

[2022-04-24 13:36] meatballhat commented on #1372
@asmaloney This is intentional. More details coming [over here](https://github.com/urfave/cli/pull/1371) 👍🏼

[2022-04-24 13:43] asmaloney commented on #1372
OK thank you.

Small stable releases are great, but a release for every commit is painful. Way too much noise, harder to track, and it's distracting.

If this were the only package I were using, maybe it would be fine, but when dealing with dozens or hundreds of dependencies, it's not.

My 2 cents! 😄

[2022-04-24 17:14] #1199 closed

[2022-04-24 17:18] meatballhat commented on #1372
@asmaloney fwiw it's not release-per-commit but closer to release-per-PR-merged. Better, I hope? 😅

[2022-04-24 17:19] meatballhat commented on #1372
@asmaloney ooh also, can you describe your dependency tracking process? Do you have anything like automated `go get github.com/urfave/cli/v2@latest` going on?

[2022-04-24 17:42] meatballhat commented on #1104
I think (?) this is resolved? @hnistlzy Please let us know if this should be reopened if that's not the case 😁

[2022-04-24 17:42] #1104 closed

[2022-04-24 17:48] meatballhat commented on #1143
@erikwilson Belated thank you for the lovely issue! I'm working on a fix now 👍🏼

[2022-04-24 18:49] dearchap commented on #1344
@wayan
[code]

and the output

[code]

[2022-04-24 19:01] dearchap commented on #1341
@AnuragThePathak Did you replace the $PROG in the  zsh autocomplete with the name of your binary ?

[2022-04-24 19:05] dearchap commented on #1338
@meatballhat I can take a look at this

[2022-04-24 19:49] decentral1se commented on #1372
Sorry but this is still "Way too much noise, harder to track, and it's distracting."

I want stable releases but not 5 in a week?

[2022-04-24 20:00] meatballhat commented on #1338
@dearchap thank you much!

[2022-04-24 20:06] meatballhat commented on #1372
@decentral1se Right now the priority is to get bug fixes out as soon as possible, which means you're going to see a lot of patch releases. I don't expect this will be the case indefinitely, given we're coming out of a period of work piling up.

That being said, can you help me with more details behind what's noisy, harder to track, and distracting about this?

[2022-04-24 23:00] decentral1se commented on #1372
Can appreciate you're diving in to a backlog, thank you very much!

We had 10 releases in a week. If you can't understand that as being hard to track, there's not much more I can do for you.

![image](https://user-images.githubusercontent.com/1991377/165000244-8850998c-19cf-45a0-89ca-7f49dcbb1877.png)

2.4.1 -> 2.4.8 should have been 1 release.

[2022-04-25 00:24] dearchap commented on #1338
@meatballhat Are we still fixing v1 issues ? I verified that this issue doesnt exist in v2.

[2022-04-25 00:32] meatballhat commented on #1338
@dearchap I'd love to know 😅 I asked a question a few days ago in @urfave/maintainers discussions but I've re-posted now in @urfave/cli discussions. If having this conversation in a public issue is acceptable, I'll gladly go that route instead.

[2022-04-25 00:37] dearchap commented on #1338
@Or-Geva By definition you should not use subcommands when you set skip flag parsing

[2022-04-25 00:39] meatballhat commented on #1372
@decentral1se This is volunteer labor for all of us, and at least in my case I don't know exactly when I'll next have a chunk of time to devote to this work. If I'd known I would have the opportunity to release all of `v2.4.1` through `v2.4.8`, maybe I would have batched releases together differently 🤷🏼.

Who is tracking what in this case? It's not obvious to me how the releases in question came t

[2022-04-25 00:57] binwiederhier opened #1373 "v2.4.8 breaks duration default"
## My urfave/cli version is

v2.4.8

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com

[2022-04-25 01:14] binwiederhier commented on #1373
This is the output of my own tool (https://github.com/binwiederhier/ntfy) when running with 2.4.8:
[code]

The error comes from [serve.go](https://github.com/binwiederhier/ntfy/blob/c5ce51f2425b0c71ffb476053cd5cc9693fe8cec/cmd/serve.go#L120), which reads the value [here](https://github.com/binwiederhier/ntfy/blob/c5ce51f2425b0c71ffb476053cd5cc9693fe8cec/cmd/serve.go#L95).

Looking at the [diff bet

[2022-04-25 01:25] binwiederhier commented on #1373
I forgot to say: Thank you very much for a fantastic piece of software. I use it in all of my tools! :partying_face:

[2022-04-25 01:28] meatballhat commented on #1373
@binwiederhier Thank you for reporting this! ❤️ 🤘🏼

[2022-04-25 01:40] binwiederhier commented on #1373
I found a way to reproduce it:
https://gist.github.com/binwiederhier/b925ee20822257f55ec04271e40a1437

[2022-04-25 02:40] AnuragThePathak commented on #1341
I exported the name of the binary as PROG environment variable.

[2022-04-25 07:38] dearchap commented on #1341
Just a sanity check. Did you export PROG prior to sourcing the completion file?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Anurag Pathak ***@***.***>
Sent: Sunday, April 24, 2022 10:40:48 PM
To: urfave/cli ***@***.***>
Cc: dearchap ***@***.***>; Comment ***@***.***>
Subject: Re: [urfave/cli] Zsh autocompletion not working (Issue #1341)

I exported the name o

[2022-04-25 08:12] AnuragThePathak commented on #1341
Yes I did that

[2022-04-25 08:49] wayan commented on #1344
But what are the rules for formatting multiline Usage texts? In your example (which I tried) it looks like that every line of Usage but first if started by the tab character is indented by 16 spaces. But when I tried some combinations it made me confused.

[code]

yields

[code]

while

[code]

yields

[code]

What am I missing?

[2022-04-25 09:02] piepmatz commented on #1372
Example of noise: We have several repositories using this package. Their dependencies are kept up to date with https://github.com/renovatebot/renovate. When there is a newer release, renovate will create one PR per repository.
This quickly leads to lots of PRs. Which is fine, that's what we have renovate for.

But when this happens again for `cli` after just a couple of days, I tend to start ignor

[2022-04-25 12:07] dearchap commented on #1334
@meatballhat I can take this up

[2022-04-25 12:23] decentral1se commented on #1372
I am a developer of a tool which relies on this package. I am tracking updates for this package. When there is an update, there is work to do for me. If I see a stream of 10 updates, I need to review them all, see what is going on, make a decision how I want to do my upgrade work. That's more work than usual.

Well it's up to the maintainer (you?) when you feel like it, usually. Depends on the per

[2022-04-25 13:51] dearchap commented on #1341
can you share the snippet of .zshrc where you do this ?

On Mon, Apr 25, 2022 at 4:12 AM Anurag Pathak ***@***.***>
wrote:

[2022-04-25 14:07] meatballhat commented on #1372
TIL that renovate is a thing! :tada: Thank you, @piepmatz

A pull request for every patch release sounds like no fun at all! I'm sorry you've had to deal with this. I looked a bit at the renovate docs and realized there's more there than I can understand in a few minutes. Do you know if there's a way to configure renovate to check based on a time interval or some other way to sidestep the PR-per-r

[2022-04-25 14:19] piepmatz commented on #1372
Yes, https://docs.renovatebot.com/noise-reduction/ and especially https://docs.renovatebot.com/noise-reduction/#selective-scheduling. This would work for me if you decide to continue with many small releases.

[2022-04-25 14:24] meatballhat commented on #1372
Excellent! If that's available to you, please yes go ahead with the noise-reduction mitigations that work for you. I can't predict exactly what the release frequency will look like given the nature of our volunteer labor pool, but my intention for the near future is to follow this [priority list](https://github.com/urfave/cli/issues/1369) and opportunistically push out patches ASAP.

[2022-04-25 23:56] dearchap commented on #1332
@varun06 did you export PROG to name of your executable and source the zsh completion file ?

[2022-04-26 00:34] dearchap commented on #1373
@binwiederhier Thank you for the detailed bug report. It is amazing. Looks like my "fix" broke this behaviour.
@meatballhat There are 2 ways to fix this, one is to check if a special type of error is returned from the inputSource.XXX(name) to determine if the key doesnt exist otherwise we change the InputSourceContext interface to return 3 elements, (val, err, exists) to determine the next steps t

[2022-04-26 00:41] dearchap commented on #1344
@wayan There is no special treatment for multiline strings. Everything is treated exactly as given by user. It might be possible to add a feature in a future release to make this easier but for now we are stuck with what we have

[2022-04-26 00:44] meatballhat commented on #1373
@dearchap I've got a fix incoming shortly!

[2022-04-26 02:30] #1373 closed

[2022-04-26 07:34] xoxys commented on #1372
While the noise reduction in dependency management tools works in general, it might still be an issue. If someone schedules PR creation on a weekly or monthly basis, how would I notice an important security release?

Yes, I could subscribe to the mailing lists (if available) for every direct and  indirect dependency, but that's a nightmare as well. So applying time based schedules might delay secu

[2022-04-26 11:36] dearchap commented on #1372
I think we are talking about a transient situation here. There have been lots of issues/PRs piled up in the past one year or so with minimal reviews/comments/releases by the original maintainers. We have some new maintainers who have the time to speed up this process so we are willing to knock off PRs asap. Thats why you see this flurry of releases. This is not sustainable in the long term since t

[2022-04-26 11:58] #1372 closed

[2022-04-26 12:09] #1238 closed

[2022-04-26 13:56] meatballhat commented on #1344
@wayan perhaps something like https://github.com/lithammer/dedent would be helpful? Then you can format your multiline strings with any amount of common leading blankspace.

[2022-04-27 10:01] wayan commented on #1344
I still do not understand. In your source code example, the second and third line of Usage multiline text is indented by **one tab**, while in the help output those lines are indented by **16 spaces** (real spaces]. What code causes this transformation and what are the rules?

 If I just fmt.Print the Usage from your example, then those lines are indented by one tab - no change.

[2022-04-29 00:27] meatballhat commented on #1122
See closing comment https://github.com/urfave/cli/pull/1128#issuecomment-1112772833

[2022-04-29 00:27] #1122 closed

[2022-05-01 00:53] #1316 closed

[2022-05-01 15:08] meatballhat opened #1380 "Drop markdown-toc in favor of default GitHub toc"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-05-01 16:35] meatballhat opened #1381 "(re)introduce flag type generation"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [x] Did you perform a search about this feature? Here's the [GitHub guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-05-01 18:32] dearchap commented on #1381
I still think its a good idea. The only problem may have been if a certain flag type needs some customization which deviates from other types. I would prefer go generation mechanism since that would require no new tools except for go 1.14+ . Have to check if this would be a problem for users using pre go 1.14 versions when they include this library.

[2022-05-01 20:00] meatballhat commented on #1381
I think we can safely say that we don't support Go `<= 1.14` since the Go team themselves don't support it anymore.

[2022-05-01 21:07] dearchap commented on #1381
Do you have a small sample of what you have in mind reg code generation ?

[2022-05-01 21:26] meatballhat commented on #1381
@dearchap I'll have a PR up soon, I think 🤞🏼 I could have worked harder at keeping it smaller 😂

[2022-05-01 23:03] meatballhat commented on #1343
FYI fellow @urfave/cli and @urfave/maintainers folks, I squatted urfave.org (via dnsimple) with intent to experiment with docs hosting. If interested, I'm ready to do stuff like adding a `.github` repo and doing CNAME things or whatever is needed.

[2022-05-02 08:16] saintmalik commented on #1343
Sure, I am interested

[2022-05-02 12:04] rliebz commented on #1343
I've had some success with mkdocs and GitHub pages in the past. My criteria were being able to write plain markdown, having a simple build process I could replicate locally and in CI, having minimal configuration.

For reference:
- The docs: https://rliebz.github.io/tusk/
- [The config](https://github.com/rliebz/tusk/blob/ea333e20b6136b048a120e03afdfb2ca4cc479bf/mkdocs.yml)
- [The documentation](h

[2022-05-02 12:23] saintmalik commented on #1343
Yeah, mkdocs is also great and awesome, but have you checked docusaurus? its less complex and easy, little to no configurations and you can spin it up locally via cli too, and a simple ``docusaurus serve`` will get it up.

The easiness and nice design is a great thing to also consider.

[2022-05-05 11:44] meatballhat commented on #1343
@saintmalik Are you up for proposing something using docusaurus in a PR?

[2022-05-05 12:18] meatballhat commented on #1230
This is intentional behavior. The `Args` type may be coerced (back) to `[]string` when needed:

[code]

[code]

[2022-05-05 12:18] #1230 closed

[2022-05-06 01:53] meatballhat commented on #1072
I think I have a reprex 🤔

[code]

[code]

[code]

[2022-05-06 04:28] jalavosus commented on #585
@AndreasBackx I know I'm necrobumping this and I hope you've found some workaround, but for other devs who are seeing this and thinking of [XKCD 979](https://xkcd.com/979/), here's something I've cobbled together which actually works for finding flag values from variously nested levels of `cli.Context`s.

[code]

[2022-05-07 02:25] #1381 closed

[2022-05-07 12:29] dearchap commented on #1343
I think mkdocs should be good enough. docusaurus is js which is not my cup of tea

[2022-05-07 13:47] meatballhat commented on #1307
@jalavosus Thank you for your thoughtful issue! I'm having trouble understanding how this would differ from the current behavior of running `Action` 🤔 e.g.:

[code]

[code]

[2022-05-07 13:50] meatballhat commented on #1307
🤦🏼 it's the flag parsing bit that's the problem, right? Because of the long-standing weirdness with command-level flags vs global flags?

[2022-05-08 06:31] lizhifengones opened #1391 "Why design global options need to be before subcommands?"
Global options need to appear before subcommands, not anywhere, why are they designed this way?

This is not the same as spf13/cobra. `In urfave/cli, global options are not visible in subcommands`.

I like cobra's global options, but urfave/cli is simpler, that's why I use urfave/cli. Hope someone can explain my doubts...
[code]

[2022-05-08 21:39] saintmalik commented on #1343
Yeah sure, am up

[2022-05-08 21:47] saintmalik commented on #1343
Yeah I understand,

If you don't like docusaurus because it's js based, it's okay, mkdocs is okay too

[2022-05-08 21:58] meatballhat commented on #1343
@saintmalik Are you available to take a look at #1392 ?

[2022-05-08 22:01] saintmalik commented on #1343
Yeah, on it

[2022-05-11 20:15] fjl commented on #1391
I have to say, I find this extremely annoying as well. We use urfave/cli in go-ethereum, and are kind of stuck with it because we have so much code relying on it.

It would be nice to be able to tweak this behavior using e.g.

[code]

and the implementation of it would be straightforward, just construct the flag set a bit differently.

[2022-05-13 23:02] tonglil commented on #1391
Funny, just stumbled upon this UX issue today as well.

[2022-05-16 19:28] binwiederhier opened #1394 "Support aliases in .yml files (altsrc.InitConfigFileInputSourceFunc)"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [ ] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-05-17 10:47] klueska opened #1395 "Unable to explicitly set flag to 'zero' value using altsrc"
The following check prevents one from explicitly setting a `bool` flag to `false` when using an `altsrc` input:
https://github.com/urfave/cli/blob/c11460548df8d468af55d678ccccf50e970e71b1/altsrc/flag.go#L129

This can cause issues (for example) if the default value from the command line is `true` and you want to explicitly set the flag to `false` in a config file.

This is not just true for `bool`

[2022-05-17 12:43] #1343 closed

[2022-05-17 12:43] #1380 closed

[2022-05-17 12:59] #895 closed

[2022-05-19 02:28] meatballhat opened #1398 "docs publishing is not working"
The documentation publish step that uses the `mhausenblas/mkdocs-deploy-gh-pages@master` action is currently very sad, e.g. <https://github.com/urfave/cli/runs/6500067140?check_suite_focus=true>

[2022-05-19 03:23] #1398 closed

[2022-05-20 08:55] sjp00556 commented on #1395
we meet the same issue.  should drop if value { condition

[2022-05-21 16:29] erikwilson commented on #833
FWIW this is an abandoned refactor: https://github.com/rancher/spur/

[2022-05-22 13:49] meatballhat commented on #833
Hello, @asahasrabuddhe! Sorry for not seeing this reply earlier 😩  If you're able, can we coordinate meeting via the team discussions? https://github.com/orgs/urfave/teams/cli

[2022-05-22 13:53] #1342 closed

[2022-05-22 14:18] mostynb commented on #1167
#1168 was merged (thanks!) - closing this.

[2022-05-22 14:18] #1167 closed

[2022-05-22 15:14] #259 closed

[2022-05-23 10:32] AkihiroSuda opened #1404 ">= v2.7.0 can't be used with GPL2-incompatible projects"
https://github.com/urfave/cli/blob/e770ee97944d94d107809c07dd1d274899d941da/go.mod#L7

I saw urfave/cli v2.7.0 introduced a GPL2 dependency: https://github.com/antzucaro/matchr/blob/master/COPYING.txt

Would it be possible to replace (or relicense) the dependency?
Otherwise urfave/cli can no longer be used in GPL2-incompatible (e.g., Apache License 2.0) projects AFAICS.

[2022-05-23 11:54] meatballhat commented on #1404
@AkihiroSuda Would it be acceptable to introduce a build tag to exclude this dependency, e.g. `-tags urfave_cli_no_suggest`?

[2022-05-24 06:21] AkihiroSuda commented on #1404
Opened PR
- https://github.com/urfave/cli/pull/1405

Build tags are not preferable IMHO as it complicates downstream Makefiles and may produce false-positives with license validation tools.

[2022-05-24 12:07] #1404 closed

[2022-05-25 12:27] #1369 closed

[2022-05-26 15:57] Icarus9913 commented on #1391
Yeah, as @tonglil said. It would be nice to show `Global options` through the whole cmd cli phase from top to bottom.
For users to get understand the global options better.

[2022-06-06 16:17] icholy opened #1408 "Strict flag lookup"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-06-07 12:11] asiffer commented on #1395
The same too but it took me a while to figure out where my bug came from 😅  Is there any plan to fix this?

[2022-06-07 22:45] joeycumines opened #1410 "IntSliceFlag and friends don't work correctly with destination (+ behavior quirks relating to value)"
## My urfave/cli version is

v2.8.1

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com

[2022-06-08 21:11] maeglindeveloper commented on #1267
hey @altafan , any chance to have a example for this ? :)

[2022-06-16 08:23] FGYFFFF opened #1411 "How to stop flag from sorting automatically for --help？"
Previously I was using "github.com/urfave/cli" v1 and when I entered --help it displayed the flags in the order I filled them in, but when I used v2 all the flags were automatically sorted, how can I stop the automatic sorting? I didn't find any place where I can set it.

[2022-06-18 12:48] #1410 closed

[2022-06-18 13:52] meatballhat commented on #1408
@icholy you may want to consider using the recently-added (by @toaster 🙇🏼) ability to [get the value directly from a given flag](https://github.com/urfave/cli/pull/1367#issuecomment-1133478036)

[2022-06-18 13:57] meatballhat commented on #1411
@FGYFFFF This behavior was introduced recently in the `v2` series via [flag category support](https://github.com/urfave/cli/pull/1368). Given that there's an expectation that the default sort order should _not_ be by name, I'd like to explore reverting to the previous behavior. Is this something you're willing and able to contribute?

[2022-06-18 13:58] meatballhat commented on #1395
@klueska sorry for my long delay! Given some recent related work by @joeycumines at the top-level package, I'd love to see if there's a solution to `altsrc/` that can follow the same rules. @joeycumines WDYT?

[2022-06-19 02:23] joeycumines commented on #1395
@meatballhat I am probably lacking some context, but this appears to be an issue stemming from the use of a default value guard, to check if values are set. It seems to me that following through on https://github.com/urfave/cli/pull/1376, and removing the guards for all cases (as I think @klueska and @sjp00556 are suggesting) would resolve this issue.

**Side note, #1376 is a breaking change.** I'

[2022-06-19 03:30] joeycumines commented on #1395
Mmmm actually, addressing this issue (w/o a breaking change) is more difficult than I'd thought.

Regardless of the mechanism used to indicate "not set", removal of the default value checks will still (potentially) break input source implementations that don't support said mechanism. Even assuming `altsrc` is the lowest priority, this seems like it would effectively break default values.

Alternat

[2022-06-19 04:13] FGYFFFF commented on #1411
Yes，I am willing to do it

[2022-06-19 14:53] meatballhat commented on #1395
@joeycumines I hope I'm understanding you correctly, but making `altsrc` lower precedence than the default defined in code would be different ordering than is claimed in the documentation:

https://cli.urfave.org/v2/#precedence

In any case, I think I'm in favor of:

[2022-06-19 14:55] meatballhat commented on #1411
@FGYFFFF Great! Thank you!

[2022-06-19 20:52] joeycumines commented on #1395
My bad, when I said

I wasn't including default. Sorry, that was unclear.

[2022-06-19 21:54] meatballhat commented on #1395
No worries! Thank you!

[2022-06-20 13:38] meatballhat commented on #1394
@binwiederhier Hello and sorry for the delay! 😭  This looks like a welcome change to me. Are you up for proposing a PR?

[2022-06-20 13:43] binwiederhier commented on #1394
Sure, I'll give it a shot. No promises :-D

[2022-06-20 18:17] meatballhat commented on #1411
Looking at this again, I think the change to automatically sorting the flags is arguably a regression because the current documentation claims that the default ordering is *not* sorted.:

https://cli.urfave.org/v2/#ordering

[2022-06-20 18:30] meatballhat opened #1420 "Flags no longer sort by definition order"
## My urfave/cli version is

v2.10.2

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.co

[2022-06-23 12:34] ktock opened #1424 "`SkipArgReorder=false` reorders args after `--`"
## My urfave/cli version is

v1.22.9

## Checklist

- [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/main/docs/v1/manual.md).
- [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2022-06-24 11:52] #1307 closed

[2022-06-24 19:44] jalavosus commented on #1318
I feel like a Dependency Injection framework such as [fx](https://github.com/uber-go/fx) might be better suited here, no?

[2022-06-25 07:45] guptanitin280 opened #1427 "An Array in Command Line"
I read through the doc but could not find, how to parser argument like:-
["hello", "world"]  "Golang"
so when i use context.Args().Get(0) i get ["hello","world"] , context.Args().Get(1) i get "Golang"

[2022-06-25 13:04] meatballhat commented on #1424
@ktock This is definitely not expected behavior. I fully admit that the arg reordering in the v1 series has long been a source of bugs and this is one of the reasons why reordering was removed in the v2 series. Are you able to update the relevant code to use the latest `v2.x` instead?

[2022-06-25 13:41] meatballhat commented on #1318
Yep! Either go with a dependency injection framework like @jalavosus suggests or use the `Metadata` bag like you found 😁

[2022-06-25 13:41] #1318 closed

[2022-06-25 13:42] meatballhat commented on #1318
(ok so `Metadata` is not technically a bag, it's a `map`, and probably has a much more fancy name; I don't data structure goodly)

[2022-06-30 00:54] yxxhero commented on #1391
any update?

[2022-07-02 09:29] FGYFFFF commented on #1420
I've found out why "cli/v2" is sorting the flags.
In "cli/v2" all the flags are stored in the map, so the order of the flags is not the same each time they are traversed. Therefore, "cli/v2" will sort the flags obtained by traversing the map by default to prevent different results for each "--help".
I don't know why there was such a design at that time, so I would like to ask first if this design

[2022-07-08 03:35] xbsummer opened #1431 "change the location of args and options."
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-07-09 14:44] meatballhat commented on #1431
@xbsummer Thank you for taking the time to write this up ❤️ I hope I'm understanding correctly here, so please do say if I'm way off base 😅

Introducing an alternate parser continues to be a popular topic (e.g. https://github.com/urfave/cli/issues/1391), so I don't want to give you the impression that maintainers don't care. The attempts to take on this work _so far_ haven't gone beyond the experi

[2022-07-12 13:49] icholy commented on #1408
I'd much prefer to keep my existing code and just enable some type of "strict mode" flag.

[2022-07-21 11:42] dbarrosop commented on #1094
Hello, probably related to this, if you have a flag that is required autocompletion for flags seems to break as well.

[2022-07-21 12:10] gaocegege commented on #1134
I am wondering how to disable it without the flag `CommaSeparated`. I upgraded the package from v1 to v2 and found it broken. Could we provide such a flag for customization?

[2022-07-26 13:12] nkuba opened #1441 "GenericFlag doesn't work with Destination: type *Generic is pointer to interface, not interface"
## My urfave/cli version is

v2.11.1

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.co

[2022-07-28 10:59] Dokiys commented on #1155
I think, if you use `--help`, it should exit after `App.After` method rather than run `App.Action`. But my problem is `App.After` doesn't run too. It may becase of  `App.After` is added after [checkHelp()](https://github.com/urfave/cli/blob/main/app.go#L303). I will make a pr, hope it works, and forgive my plastic English.

[2022-08-01 00:32] dearchap commented on #1134
v1 to v2 is expected to have  breaking changes.

[2022-08-01 00:40] dearchap commented on #1408
@icholy This would be nice, are you willing to submit a PR ?

[2022-08-01 00:41] icholy commented on #1408
@dearchap if you want to, go for it.

[2022-08-01 00:43] dearchap commented on #1318
Yes I think the metadata should suffice for this.

[2022-08-01 01:03] dearchap commented on #1267
@maeglindeveloper it will be

`--names name1 --names name2`

@meatballhat Probably a good idea to add this to the docs.

[2022-08-03 11:39] decentral1se opened #1447 ""--" not present in c.Args() between v1.22.5 & v1.22.6"
## My urfave/cli version is

v1.22.5

## Checklist

- [x] Are you running the latest v1 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v1 manual is [here](https://github.com/urfave/cli/blob/main/docs/v1/manual.md).
- [x] Did you perform a search about this problem? Here's the [Github guide](https://help.github.c

[2022-08-03 12:11] dearchap commented on #1447
@decentral1se I believe this was intentional. @meatballhat should be able to provide more info

[2022-08-03 18:09] jtagcat commented on #1113
Errors solved:
 - Filler `Type()` for flag interface(s).
 - Using own fork, where PR for `Getter()` implementation in pflag is merged.

Problem: Parser loops multiple times and goes a level lower in (p)flag, that is normally expected.
(tests failing) It errors to parse arguments, since on the first loop ((global?) arguments parsing), the (local) argument definitions aren't populated.

[jtagcat/urf

[2022-08-04 20:11] decentral1se commented on #1447
Thanks @dearchap! It would then be definitely good to hear from @meatballhat about this. Currently pinning to v1.22.5 as my code attempts to detect if the `--` was present, so this broke it :sweat_smile:

[2022-08-05 01:00] meatballhat commented on #1447
Hey @decentral1se sorry for my delay. @dearchap is right: this behavior change was intentional and considered a bug fix.

Are you able to upgrade to the latest in the 1.22.x series (currently 1.22.9) knowing that this behavior is correct/expected and won't revert to including the `"--"` delimiter?

[2022-08-05 12:02] decentral1se commented on #1447
Yebbo, will figure something out, thanks for the updates!

[2022-08-05 12:02] #1447 closed

[2022-08-07 22:34] #1290 closed

[2022-08-13 12:27] #1155 closed

[2022-08-13 17:11] dearchap commented on #1289
@WestleyK I agree with @rliebz . You are using the incorrect tools for your use case. envconfig will better serve you well.

[2022-08-13 17:15] dearchap commented on #1272
@takumakei Can you submit a PR for this patch ? Thanks

[2022-08-13 17:18] dearchap commented on #1224
Latest v2.x code has support for destination field for all flags.

[2022-08-13 17:18] #1224 closed

[2022-08-13 17:20] dearchap commented on #1253
@Gerrard-YNWA Do you plan to submit a PR for this ?

[2022-08-13 21:30] dearchap commented on #1222
@meatballhat I actually begun working on this sometime back but stopped due to all the generated flag changes etc. Do you have any suggestion on what the output of help for a "flag group" would look like. Something like this ? What about defaults, envs etc ?

[ --foo value --bar value ] | --zz value

[2022-08-14 12:38] Gerrard-YNWA commented on #1253
Hi @dearchap Sorry for the late reply.  I've just send a PR and  please take a glance when you  have time :)

[2022-08-14 12:47] meatballhat commented on #1094
@dbarrosop Thank you for reporting this! Are you seeing this behavior with the latest `1.22.x` release? I have no reason to believe that the bug has been fixed, but I'd like to make sure your report is in the right bucket.

[2022-08-14 12:57] meatballhat commented on #1113
@jtagcat Thank you for working on this problem!

I admit that I'm more than a bit nervous about depending on spf13/pflag 😅 because it was forked from https://github.com/ogier/pflag for whatever reason, but diverged (?) enough that it's not being kept up to date, and is not being directly maintained with much regularity (last commit at time of this writing was over a year ago).

That being said, sw

[2022-08-14 14:17] meatballhat commented on #1222
@dearchap there's certainly a lot to consider! I think the help output with `|` separating mutually exclusive values works well. Do the displayed text for defaults or env vars need to change? 🤔

[2022-08-14 16:16] jtagcat commented on #1113
To be honest, I'm not a fan of pflag either.

The concern we have with making it v3, as mentioned above, is that the change would be ready, but not available (waiting indefinitely on other v3 features). From my perspective, v2 behavior is utterly unusable on the CLI. If I could, instead of large major version iterations, I'd ship many major versions with a feature or two each, but it's leaving use

[2022-08-14 17:46] VirrageS commented on #1094
@meatballhat it still reproduces on latest release.

[2022-08-14 23:43] meatballhat commented on #1113
@jtagcat I'm happy to start publishing releases in the `v3` series, fwiw, with the stipulation that versions would have a `beta` suffix or whatever is necessary to ensure clarity about it being more volatile than `v2`. Does that change anything for you?

[2022-08-15 00:52] dearchap commented on #1094
@VirrageS I dont think this is an easy fix. All the Before functions are called before the CompletionFunc all the way down the chain . So none of the Before functions should be executed during command completion.

[2022-08-15 21:23] jtagcat commented on #1113
@meatballhat: Yeah, that'd work. Though, that doesn't change the fact I don't have the time to contribute meaningfully. I'm mostly booked(, and this is work for me). Every now and then I can take 1-2 day spurt chunks/bites.

[2022-08-16 06:30] jvilhuber opened #1455 "BoolFlag from file/altsrc default handling"
## My urfave/cli version is

v2

## Checklist

- [ X] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [X ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [X ] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com/

[2022-08-16 06:36] jvilhuber commented on #1455
When the flag is modified via CLI
[code]
it works as expected. Reading from file, however, does not.

[2022-08-16 13:24] dearchap commented on #1455
@jvilhuber You are correct. This is a bug. Would you like to submit a PR for this ? I would be happy to review asap.

[2022-08-16 13:27] VirrageS commented on #1094
Yup, that's sounds correct.

[2022-08-16 13:51] jvilhuber commented on #1455
I could, but I don't know nearly enough about cli/v2, nor the development environment (tests?) etc to be confident in doing so. If it's just a matter of removing the "if value" statement and setting the value in all cases, I could do that.

[2022-08-16 22:18] dearchap commented on #1455
@jvilhuber Actually I realised this is a long standing bug. This is a workaround due to the fact that there is no way to indicate that a particular flag isnt defined in the file. Not a trivial change and many attempts have been made.

[2022-08-18 01:25] dearchap commented on #1094
Looks like the fix was simple after all. See PR #1457 . Can you test @VirrageS ?

[2022-08-18 19:11] dearchap commented on #1306
@dzonerzy you could always do command -- --flag1 --flag2 ....

Any strings after the "--" are not parsed as flags

[2022-08-19 00:52] dearchap commented on #1328
@abdennour Cant you use a Before func for the command to do the Global Initialization for all the subcommands. The App/Command/Subcommand all have Before funcs, so you can do multi level initialization depending on your needs

[2022-08-19 01:29] dearchap commented on #1097
@cvik This is not a bug. For non string slice flags you need to give --flag=1 --flag=2 --flag=3 to get the slice contents. The reason it works for string slice is that the string "1,2,3" is a valid string. However if you look at the string slice it would be of length 1 with string "1,2,3" instead of "1", "2", "3"

[2022-08-19 18:49] VirrageS commented on #1094
@dearchap from what I see the PR targets v2. But the issue is raised for v1.

[2022-08-19 22:44] dearchap commented on #1094
@VirrageS See PR #1459

[2022-08-19 23:22] jtagcat commented on #1113
@meatballhat I looked at argh. I don't really have any comments.

I sat down for https://github.com/jtagcat/harg (going crazy noises)

[2022-08-20 00:33] dearchap commented on #1113
@jtagcat Love your effort. Please make sure to add unit tests. In fact I would write the test code first and then keep coding !!!!!

[2022-08-20 23:17] dearchap commented on #1293
@WestleyK I have a new PR #1460 which fixes this. Can you test and see ?

[2022-08-21 13:20] dearchap commented on #62
Fixed and merged. https://github.com/urfave/cli/commit/b80ff3d32f03cb2d992f1e28f7ddb0881de40460

[2022-08-21 13:20] #62 closed

[2022-08-21 19:13] dearchap commented on #1114
Verified this behaviour using a unit test. Yes the bug is in the golang flag library. Until we replace that with our own parsing dont think its an easy fix.

[2022-08-23 12:03] ccremer opened #1462 "Allow to configure the base for Integer parsing"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [x] Did you perform a search about this feature? Here's the [Github guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-08-23 12:16] davidgubler commented on #1462
In my opinion the default should be base 10 parsing and only base 10 parsing, as that is what a user would expect. Having such magic enabled by default causes unexpected reliability issues. Note that, in our case of parsing months, '01' through to '07' parse correctly, as do '10', '11' and '12'; the issue in this case is very subtle as it only applies to '08' and '09'. This is exactly why this kin

[2022-08-23 12:47] dearchap commented on #1462
@ccremer Have you looked at using the cli.TimestampFlag for this purpose, you could do something like

[code]

[2022-08-23 13:43] ccremer commented on #1462
@dearchap , yes I'm aware, I've listed it as a workaround in the alternatives already.

[2022-08-23 15:21] theprobugmaker opened #1463 "Add flags dynamically"
I want to dynamically add more flags to the application.

Imagine that I have a flag that is `--extra-features`. I want to add more flags dynamically if this one is present. How can I do something like that?

Thank you.

[2022-08-24 01:16] dearchap commented on #1462
@ccremer Would you like to submit a PR for this ? Theoretically you could have your own implementation of a different base using GenericFlag. Adding it to all Int Flag types is a lot of work for us right now.

[2022-08-24 07:39] ccremer commented on #1462
@dearchap I can try. I might be able to find a bit of time this week.

[2022-08-25 12:12] ccremer commented on #1394
Hi. Just chiming into the discussion, my suggestion/idea is related to having aliases in altsrc.
What I'm currently missing in altsrc, is the ability to have an alternate structure in the alternative source (e.g. YAML) (correct me if I'm missing something).
For example, for CLI flags and Env vars I'd keep a short and user friendly name, e.g. `--namespace` or `--some-flag=true`. Yet in an alternate

[2022-08-25 14:13] ccremer commented on #1462
@dearchap I've opened #1464 as a start.

[2022-08-26 19:44] #1463 closed

[2022-08-28 12:57] dearchap commented on #1293
PR #1460 fixes this.

[2022-08-28 12:57] #1293 closed

[2022-08-28 13:00] dearchap commented on #1289
Not a good use case to implement directly in urfave/cli. User could use alternative mechanisms.

[2022-08-28 13:00] #1289 closed

[2022-08-28 13:01] #1282 closed

[2022-08-28 13:13] dearchap commented on #1268
@makeworld-the-better-one The way you do it is fine. I dont think there is a better way.

[2022-08-28 13:16] dearchap commented on #1265
@ebarped Yes this is an ongoing discussion. Thanks for raising this issue.

[2022-08-28 13:16] #1265 closed

[2022-08-28 13:20] dearchap commented on #1136
I like this feature. Would make user code much easier to handle.

[2022-08-28 13:21] #1097 closed

[2022-08-28 13:32] dearchap commented on #780
Works with latest release.

[2022-08-28 13:32] #780 closed

[2022-08-28 18:20] makeworld-the-better-one commented on #1268
@dearchap Well this is obviously kind of a hack, and not something simple for a library user to figure out on their own. If what I'm doing is the best way, then it should be added to the library API as function for getting global args.

[2022-08-29 11:25] #1253 closed

[2022-08-29 12:39] peterwillcn commented on #1455
cli/v2  c.Bool(cmd.DisableColourFlag.Name) True is always true whether set to false, why ?

[code]

[2022-08-30 10:51] #1394 closed

[2022-08-30 17:39] autarch opened #1465 "How to actually implement word wrapping?"
I copied some code from the tests and got this:

[code]

But when I look at the help output, nothing is wrapped. Am I doing this right?

It'd be really nice if this was better documented. Right now there's just has a passing mention of `wrapAt` in the docs but no examples.

[2022-08-31 00:49] raymonstah opened #1467 "shell script truncates StringFlag, and affects other string flags"
## My urfave/cli version is

_**v2.11.2**_

## Checklist

- [ X ] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [ X ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [ X ] Did you perform a search about this problem? Here's the [Github guide](https://he

[2022-08-31 02:31] jvilhuber commented on #1455
Looks like this was fixed via https://github.com/urfave/cli/commit/f394c3779d49afc01311dde81b3f11407c0ebe4f

[2022-08-31 02:31] #1455 closed

[2022-08-31 05:16] raymonstah commented on #1467
Commenting with an update in case anyone else stumbles across this issue:

It turns out that modifying the shell script to wrap the variables in double quotes produces the desired results.
[code]

[2022-08-31 05:16] #1467 closed

[2022-08-31 11:56] dearchap commented on #1455
Thanks @jvilhuber

[2022-09-01 03:36] Dokiys commented on #1465
Specifically which content will be wrapped, you can refer to `cli.AppHelpTemplate`:
https://github.com/urfave/cli/blob/254c38ea72e18e58f2ba8a4e25c7c553f19161e6/template.go#L3-L38

[2022-09-01 03:40] autarch commented on #1465
Hi @Dokiys, that's not what I was getting at. I'm saying that how to inject wrapping wasn't documented, nor is what will be wrapped. Looking at a template doesn't really help that much.

[2022-09-01 06:56] Dokiys commented on #1465
Hi @autarch I think if you want to custom HelpPrinter by default template and implementation of HelpPrinterCustom, you should know about what its handling. About 'how to inject wrapping', there are notes here: https://github.com/urfave/cli/blob/ca9df40abd0db61673fb645f9826d8fbb061b6bb/help.go#L289-L293
About 'what will be wrapped', you can find in `AppHelpTemplate` and here:
https://github.com/urf

[2022-09-01 15:04] xoxys opened #1468 "No releases anymore?"
Hi, are there no GH releases anymore? There were a **lot** of tags created during the last hours, but no corresponding GH Releases + Changelog. Is this intended?

[2022-09-01 15:17] dearchap commented on #1468
I created the tags just for reference. Im waiting on @meatballhat to make the releases. Im not aware of how to create the change log for a release automatically

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Robert Kaussow ***@***.***>
Sent: Thursday, September 1, 2022 11:04:23 AM
To: urfave/cli ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [urfave/cli] No r

[2022-09-01 15:20] xoxys commented on #1468
The problem is, tags will create a proper release of the package on gopkg and update mechanisms like dependabot, renovate or even `go mod update` will fetch those versions already. That's why creating a lot of tags "just for reference" without a real release is IMO not a good way in this context.

![image](https://user-images.githubusercontent.com/3391958/187951205-d51875c9-bfc6-40ad-8d58-d59ee399

[2022-09-01 15:35] talarian1 commented on #1094
@meatballhat, @dearchap any planned release for v1 with a fix?
Thanks anyway.

[2022-09-01 16:08] dearchap commented on #1094
@talarian1 Its already merged to v1. Just waiting on @meatballhat to create a release tag. Thanks

[2022-09-01 17:23] AkihiroSuda commented on #1468
The v2.14.0 tag was removed?
https://github.com/urfave/cli/releases/tag/v2.14.0 is now 404

[2022-09-02 22:14] Stoica-Mihai opened #1470 "Is there a way to disable help info when all parameters are provided?"
So I made a simple cli app and everytime I run it, even if all the parameters were provided, the help info is being printed first and after the app executes. Is there a way to only show the help menu when an arguments is missing/wrong or when you explicitly set the help flag to be displayed?

Thanks.

[2022-09-04 16:38] dearchap commented on #833
Updated requirements for 3.X release

- [ ] New flag parser, written from ground up to overcome golang flag limitations
- [ ] Remove public fields in App/Command structs and replace with an Options interface for configuration
- [ ] Single Flag interface which encapsulates all the functions in the other *Flag interfaces, Required(), Category() etc etc
- [ ] Target go 1.18+ as a minimum
- [ ] Remove

[2022-09-05 13:51] meatballhat commented on #1463
@theprobugmaker if you have time, can you add some details about how you solved this?

[2022-09-05 13:58] meatballhat commented on #1136
ftr some prior work exists that is compatible with urfave/cli v1: https://github.com/octago/sflags/blob/20f2a9c31dfce88b6e1ac276bfd395817089e0a0/examples/urfave_cli/main.go

[2022-09-05 14:06] meatballhat commented on #1268
@makeworld-the-better-one I agree and I would love too see an addition to the library API to help with this 🤘🏼 Is this something you're up for contributing?

[2022-09-05 14:14] meatballhat commented on #1094
@dearchap hey sorry, on it now!

[2022-09-05 14:16] meatballhat commented on #1094
Done? https://github.com/urfave/cli/releases/tag/v1.22.10

[2022-09-05 14:18] meatballhat commented on #1468
@dearchap hey I'm afraid I made the situation worse by not catching up on notifications before pushing a completely different tag 😐  I'm happy to try to clean this up, and I think I could also do a better job of describing the norms and process in `docs/RELEASING.md`.

[2022-09-05 14:34] meatballhat commented on #1468
The process I'm using goes like:

[code]

[2022-09-05 14:48] meatballhat commented on #1468
I'm done backfilling annotated tags that match what's in the go package cache and creating github-level releases 👍🏼 Thanks your your patience, @xoxys!

[2022-09-05 18:59] meatballhat commented on #1470
This sounds like unexpected behavior to me 🤔 Are you able to provide any example code?

[2022-09-05 21:49] Stoica-Mihai commented on #1470
Thanks for your replay @meatballhat
Here is the example code:
`package main

import (
	"fmt"
	"os"

	"github.com/urfave/cli/v2"
)

func main() {
	region, expiration := flags()

	fmt.Println("Region", region)
	fmt.Println("Expiration", expiration)
}

func flags() (string, int) {
	var region string
	var expiration int
	app := &cli.App{
		Flags: []cli.Flag{
			&cli.StringFlag{
				Name:        "regio

[2022-09-06 11:50] yirez-tc opened #1481 "How to put generic arguments before flags in v2"
I've been trying to place generic arguments first when running a cli command, like this:
`testrun aaa -lang spanish`

Following along the spanish example in the tutorial [here](https://cli.urfave.org/v2/#full-api-example)

What I get back is everything has become an argument. If I do it the other way round, with the argument at the back everything works fine. Is there a flag I'm missing to set for

[2022-09-06 12:45] dearchap commented on #1470
@Stoica-Mihai The default action for App is to show the help . If you'd like to disable that you can have a simple action as follows

[code]

This is expected behaiour. You can actually move your prints to within the action

[code]
which is what you should normally use.

[2022-09-06 18:56] Stoica-Mihai commented on #1470
@dearchap thank you for the explanation. This is the result I was trying to achieve.

[2022-09-06 20:32] abousselmi commented on #1481
Hi @yirez-tc

Why would you put flags/options at the end ? The usual way of running a cli would be the other way around, flags/options first and then arguments.

I can think about few examples from the linux world:

[code]

or

[code]

or

[code]

I'm not saying that it should not be possible, but the standard way is options first, then args.

[2022-09-07 12:13] yirez-tc commented on #1481
We can make do with putting it at the end but there was a specific requirement for a cli  tool we were building. It had several flags and one of the flags was to be the first argument implicitly since it will be used the most often.

something like below where `this,that` argument could be used without explicitly typing `-oftenUsedFlag` instead.
`find this,that  -oftenUsedFlag value -otherflag val

[2022-09-07 13:45] makeworld-the-better-one commented on #1268
Not right at the moment, but maybe some time in the next couple weeks. I'll comment here if I take it on, so if anyone else wants to before then feel free.

[2022-09-07 13:59] dearchap commented on #1268
@makeworld-the-better-one couldnt you just use context.Value('globalFlagName') ?

[2022-09-07 21:39] abousselmi commented on #1481
Hey @yirez-tc ,

The CLI help is pretty clear about the order of flags and args. You cannot have args before global options or command options.
A dummy `find` cli would print the following:

[code]

To achieve what you are looking for, you can do something like :

[code]

Then you can create an alias and execute it like this:

[code]

[2022-09-08 08:33] xoxys commented on #1468
Feel free to close the issue. Everything clarified from my side.

[2022-09-08 10:36] abousselmi commented on #1280
Hi @meatballhat, the stale.yml file doesn't exist anymore in main (only in v3-alt-src branch which is stale for 3 years). Can I close this issue or modify the file in v3-alt-src just in case of a quick copy/paste ?

[2022-09-08 11:38] #1468 closed

[2022-09-08 11:39] dearchap commented on #1280
@abousselmi Can you check the v3-dev-main branch to see if it is still there ?

[2022-09-08 12:10] abousselmi commented on #1280
@dearchap no it's not there. We need to include it ?

[2022-09-08 12:33] dearchap commented on #1280
No try your code using the v3-dev-branch and see if the error persists. If it doesnt or the file isnt present then there's nothing to be done.

[2022-09-08 12:41] abousselmi commented on #1280
Ok, I close this issue then.

[2022-09-08 22:45] abousselmi commented on #1465
Hi @autarch

You can try this

[code]

This result will be the following:

[code]

Still it doesn't work quite will with Flags since the template doesn't handle flag usage wrapping.
To fix it you can use the following template:

[code]

Cheers,

[2022-09-10 15:40] meatballhat commented on #1268
@makeworld-the-better-one after thinking about this a bit more, I'm recalling the `Global{Type}` functions that used to be available on `*cli.Context` in v1. The example code you provide in the description is doing a similar dance to what's in the v1 code:

https://github.com/urfave/cli/blob/c24c9f398d5d925f8c3d990509e8c7b3ae942646/context.go#L245-L255

It seems to me now that dropping the `Global

[2022-09-11 00:27] #1441 closed

[2022-09-11 19:30] dearchap commented on #1276
@Delgus When you set the destination you have to set its value as well. So for example

[code]

[2022-09-12 00:36] dearchap commented on #1334
Fixed in release v2.16.0

[2022-09-12 00:36] #1334 closed

[2022-09-12 00:37] dearchap commented on #1329
Interface cannot be update to include these functions at this point. Please consider using v3x

[2022-09-12 00:37] #1329 closed

[2022-09-12 00:43] dearchap commented on #991
There are many linked issues similar to this.

#734
#585
#427
#1205

It is a parser issue that we are planning to fix(eventually). As such the code works as expected

[2022-09-12 00:43] #991 closed

[2022-09-12 00:46] dearchap commented on #1050
This has been fixed as part of multiple PRs over past couple of months. Works fine now.

[2022-09-12 00:46] #1050 closed

[2022-09-12 09:46] dearchap commented on #1076
Problem is in a release that is very very old. Cant reproduce on latest release. Closing.

[2022-09-12 09:46] #1076 closed

[2022-09-12 12:59] dearchap commented on #1143
See PR#1495

[2022-09-12 14:09] tschaub commented on #1481
Both
[code]
and
[code]
work equally well.

[2022-09-12 20:52] dearchap commented on #998
Verified that this works as expected in release v2.16.3. Closing.

[2022-09-12 20:52] #998 closed

[2022-09-13 00:51] dearchap commented on #1072
@meatballhat This is actually expected behaviour. The normal yaml load can only load vanilla data types, int, float, string, intslice etc . For other complex types like Generic the default yaml loader doesnt know that it needs to deserialize, for example the pants: eleven to a &Pants{v:"eleven"}. It is the responsibility of the user to write a custom input source context(backed by map input source

[2022-09-13 03:51] meatballhat commented on #1072
@dearchap I'm glad you know how this is supposed to work! :joy: :shrug: Is it obvious that I don't use altsrc?

[2022-09-15 17:42] #1470 closed

[2022-09-15 17:46] dearchap commented on #1395
@klueska Are you able to test with latest code ? There have been lots of fixes in that area since this issue was raised.

[2022-09-15 17:48] dearchap commented on #1344
@wayan We will fix this as part of #1465 . There will be an update to the code and docs to show how this needs to be done. For now I'm closing this issue. Feel free to comment in #1465  for further requirements

[2022-09-15 17:48] #1344 closed

[2022-09-15 18:09] dearchap commented on #1324
@jurisbu That is actually the error in a standard format returned by the golang flag library. The name of the flag is conf so it returns the error like that.

[2022-09-15 18:10] dearchap commented on #1310
@liuwangchen Yes you can. Look at the App.BashCompleteFunc and Command.BashCompleteFunc vars which allow you to do just that

[2022-09-15 18:13] dearchap commented on #1305
@flowchartsman This a a good idea. Would you like to submit a PR for this ?

[2022-09-16 10:10] jtagcat commented on #833
Did i miss the boat and am bikeshedding?

With encapsulation, you have to be explicit every time. (The current) `Required` as a bool (struct embedding) is just fine. Defaults to false. With flag reuse, you can also copy flag definitions, and modify only that.

[2022-09-16 12:23] dearchap commented on #833
@jtagcat All of these interfaces arose out of the original design as a way of extending the base interface and then we have hacks in the code depending on this interface and that. The current way of thinking is to encapsulates(as far as is currently known) all flag attributes into a single interface. We hope to use Generics to simplify new flags.

[2022-09-19 02:35] flowchartsman commented on #1305
Sure, but I wouldn't mind a little buy-in before I do an implementation. I think probably the most "correct" way to do it would be to use errors.As and then define different error wrappers for error behaviors like I mention [above](https://github.com/urfave/cli/issues/1305#issuecomment-930547926). Can I get a show of thumbs-up thumbs-down on that proposal?

[2022-09-20 08:30] #1094 closed

[2022-09-20 08:31] dearchap commented on #1072
Works as designed.

[2022-09-20 08:35] Torwang1 opened #1496 "Context.Set parent context flag, return error: no such flag"
## My urfave/cli version is

- branch master
- last commitID 880a802dc8314470ab998f5b5d5728001fd71af6

v2.16.3 has the same issue.

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [x]

[2022-09-20 11:47] dearchap commented on #1145
HideHelp and HideHelpCommand options are available to remove help processing.

[2022-09-20 11:47] #1145 closed

[2022-09-20 11:48] dearchap commented on #1143
Fixed in latest release.

[2022-09-20 11:48] #1143 closed

[2022-09-20 14:38] 26tanishabanik commented on #554
@jszwedko , can I work on this?

[2022-09-20 14:41] 26tanishabanik commented on #1007
@coilysiren , what tasks are remaining for this issue?

[2022-09-20 14:43] 26tanishabanik commented on #1005
/assign

[2022-09-20 14:43] 26tanishabanik commented on #1005
@coilysiren , can I work on this?

[2022-09-20 16:48] dearchap commented on #1005
@26tanishabanik Please go ahead.

[2022-09-20 19:21] 26tanishabanik commented on #1005
@dearchap , the examples should be listed where?

[2022-09-21 00:04] jszwedko commented on #554
@26tanishabanik looks like @dearchap opened a PR for it, but yeah that seems fine by me! I defer to the current maintainers though. cc/ @urfave/cli

[2022-09-21 00:16] #1496 closed

[2022-09-21 14:19] icholy commented on #554
Embedding `Command` would be backwards incompatible.

[2022-09-22 11:43] #1219 closed

[2022-09-23 04:20] lorensr commented on #1277
@valorl's suggestion isn't working for me with a `BoolFlag`:

[code]

<img width="397" alt="image" src="https://user-images.githubusercontent.com/251288/191891024-38e3575a-80d6-4db8-b1d8-fc3d1dbf8153.png">

[2022-09-23 12:15] #557 closed

[2022-09-26 16:23] mvisonneau commented on #526
Indeed, thanks for the guidance! FWIW, here is a snippet which seems to do the work:

[code]

[2022-09-29 07:38] rprtr258 opened #1500 "String slice parsed twice while UseShortOptionHandling is used"
## My urfave/cli version is

v2.16.3

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
link not valid, but checking [docs](https://cli.urfave.org/v2/examples/combining-short-options/) sa

[2022-09-29 12:01] dearchap commented on #1500
@rprtr258 Yes this is definitely a bug. Its probably been there for a very long time but surprisingly no one has run into it till now. Let me send out a PR for this. Thanks for reporting.

[2022-09-29 17:38] toddnguyen47 opened #1505 "Subcommand help does not have a newline for flags"
## My urfave/cli version is

2.17.1

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [ ] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [ ] Did you perform a search about this problem? Here's the [Github guide](https://help.github.com

[2022-09-29 19:03] rongcuid commented on #1505
Same bug here:

[code]

Output:

[code]

[2022-10-01 13:15] meatballhat opened #1509 "Port changes from main to v3-dev-main circa 2022-10-01"
(which I'd meant to be doing more regularly)

[2022-10-02 14:56] yogeshlonkar commented on #1505
The issue seems to be in [CommandHelpTemplate](https://github.com/urfave/cli/blob/main/template.go#L57-L60) and [SubcommandHelpTemplate][SubcommandHelpTemplate]

You can revert to `v2.16.3` or use below CustomHelpTemplate which adds newline and tab before `{{.}}`

[code]

Sadly this only works for leaf commands (without subcommands) because [RunAsSubcommand](https://github.com/urfave/cli/blob/main

[2022-10-04 11:02] evgnomon opened #1514 "sub command options are printed in single line in help text"
## My urfave/cli version is

_**2.17.1**_

## Checklist
- My project is using go modules.
- My project is automatically downloading the latest version.

## Describe the bug

Here is the printed text for option helps:
https://go.dev/play/p/US17m1KeEib
[code]
While it should be in multiple lines i.e.
[code]

## To reproduce

https://go.dev/play/p/US17m1KeEib

[code]

## Observed behavior

options pr

[2022-10-06 15:20] #1500 closed

[2022-10-07 14:16] aimichal commented on #1514
This is fixed for me in the main branch: https://github.com/urfave/cli/pull/1515#issuecomment-1271655185 👍

[2022-10-07 21:37] feedmeapples commented on #1134
commas are normal especially when passing JSON as a value, ex
[code]

I would like to send a PR adding `CommaSeparated` to
 - Slice flags. Default `false` to keep the current behavior working
 - App struct as an option to disable comma separation altogether so that the behavior is consistent throughout the app. Default `true` to keep the current behavior working

 Any objections?

[2022-10-08 08:54] dearchap commented on #1134
Not a problem at all. Go ahead . Thanks a lot

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ruslan ***@***.***>
Sent: Friday, October 7, 2022 4:37:20 PM
To: urfave/cli ***@***.***>
Cc: dearchap ***@***.***>; Comment ***@***.***>
Subject: Re: [urfave/cli] v2 feature: Comma separated slice flags (#1134)

Actually, this PR #1241<https://github.com/urfave/cli/pull/

[2022-10-08 13:32] dearchap commented on #833
@jtagcat I've been thinking about this a bit more and I think you have a point. Yes its best to keep the Flag interface to minimum and have extra functionality via extended interfaces.  I can revert my changes for this.

[2022-10-08 15:20] dearchap commented on #833
PR #1517

[2022-10-09 13:05] zhujintao commented on #1481
use gopkg.in/alecthomas/kingpin.v2

[2022-10-09 13:26] #1509 closed

[2022-10-09 13:32] meatballhat opened #1524 "Port changes from `main` to `v3-dev-main` circa 2022-10-09"
- [x] #1513
- [x] #1508
- [x] #1504
- [x] #1442
- [x] #1506
- [x] #1502

[2022-10-09 21:39] #1420 closed

[2022-10-10 00:59] #1514 closed

[2022-10-10 01:00] dearchap commented on #1411
Fixed in release v2.19.2

[2022-10-10 01:00] #1411 closed

[2022-10-10 01:09] dearchap commented on #1206
@urfave/cli What do you all think ? We should change this to have defval instead of val from env for default ?

[2022-10-10 01:11] dearchap commented on #1197
Fixed. Please use latest release

[2022-10-10 01:11] #1197 closed

[2022-10-10 01:24] dearchap commented on #813
Unable to reproduce. We have unit tests for this and the template engine supports UsageText from App & Command as well.

[2022-10-10 01:24] #813 closed

[2022-10-10 01:27] dearchap commented on #1181
Unable to reproduce.

[2022-10-10 01:27] #1181 closed

[2022-10-10 01:29] dearchap commented on #1242
Fix is in application level and not at cli library level. Closing

[2022-10-10 01:29] #1242 closed

[2022-10-10 07:33] abitrolly commented on #1206
If there was the option, I would use it right away. :D

I think this
[code]
Should give this
[code]

[2022-10-10 09:15] julian7 commented on #1206
I’m a bit ambivalent here. First, I LOVE it. However, it still hurts how I found this “feature”:

I was presenting to my coworkers what a tool could achieve, which, apparently used urfave/cli. I’ve put my secrets into variables, just to make sure they’ll be kept hidden… and they were, until someone asked for a feature I vaguely remember about, and I had to look it up by looking at the subcommand’s

[2022-10-10 09:51] abitrolly commented on #1206
@julian7 users who can run `--help` can as well read secret from environment variable. However, if one is doing live coding, this can be rather sensitive indeed. I would still leave a possibility to toggle env variable output for not so critical variables, and leave out showing the value by default.

[2022-10-11 06:42] str1ngs-bytes opened #1529 "Pass Arguments Directly"
Commands: []*urfave.Command{
			{
				Name:    "clear",
				Aliases: []string{"cls"},
                         --> Arguments: []string{"oneline","all"},
				Action: func(ctx *urfave.Context) error {
					clearTerminal()
					return nil
				},
			},
                   }

## Also availability to make it required or optional.
## In Action have availability to check if arg present like isSet func isAr

[2022-10-11 08:47] dearchap commented on #1344
Yeah I'm not sure what the rules are. Let me check.

On Mon, Apr 25, 2022 at 4:50 AM wayan ***@***.***> wrote:

[2022-10-12 02:56] Dokiys commented on #1206
I think it's not necessary to output env variable. For example when run `rm -rf $(SOMEFILES) `, we should explicitly know what `SOMEFILES` is.
Even I think that `EnvVars`should not be used. Should let the caller pass in explicitly. `--myflag=$(MYFLAG)`

[2022-10-12 09:08] str1ngs-bytes opened #1530 "Capital letter is not recognized as flag Aliases"
&urfave.StringFlag{Name: "pen", Aliases: []string{"p"}},
&urfave.StringFlag{Name: "program", Aliases: []string{"P"}},

note : problem happens on subcommand !

### i have set two flag and Aliases one with lowercase p another with capital P in commandline -p is recognized but -P is not.

### passed command :
-p blue -P notepad

### error :
Incorrect Usage: invalid "notepad" for flag -p: parse error

[2022-10-12 11:26] #1530 closed, assigned to nobody

[2022-10-13 10:08] Dokiys opened #1531 "Minimize top-level API surface area for both usability clarity and maintenance reduction"
- [x] #1586
- [x] #1600
- [x] #1587
- [x] #1759
- [x] #1780
- [x] #1791

[2022-10-14 06:46] #554 closed

[2022-10-15 21:58] #1206 closed

[2022-10-16 00:16] dearchap commented on #1217
@nicerobot The latest release which optimizes the app/cmd code actually fixed this. Can you test ?

[2022-10-16 00:21] dearchap commented on #1088
@urfave/admins Any thoughts on this ?

[2022-10-16 23:40] dearchap commented on #1150
Question has been answered by @rliebz . Closing this issue

[2022-10-16 23:40] #1150 closed

[2022-10-16 23:46] dearchap commented on #1220
Not enough context. Works as it should if golang tools are setup correctly

[2022-10-16 23:46] #1220 closed

[2022-10-16 23:47] dearchap commented on #1252
Comment by @rliebz is the proper way to go

[2022-10-16 23:47] #1252 closed

[2022-10-17 10:19] #1033 closed

[2022-10-17 10:19] dearchap commented on #1033
Documentation has been corrected to reflect actual behavior

[2022-10-17 10:25] dearchap commented on #424
Can we close this?

[2022-10-17 10:35] dearchap commented on #914
The way I see it urfave/cli gives you the basic building blocks. User could use reflection and tags and build the necessary flag slice for commands. I like this feature but I'd rather not have the cli library do it directly

[2022-10-17 10:38] dearchap commented on #1005
The examples.md in docs/v2 directory

[2022-10-17 10:40] dearchap commented on #1055
@meatballhat i believe we have builds which doesn't include docs

[2022-10-17 10:43] dearchap commented on #1068
One could override the app help template to achieve this no ?

[2022-10-17 10:59] dearchap commented on #1166
@kneal  do you have any examples that utilize this behavior? Since this is a breaking change I would likely target for v3

[2022-10-17 11:04] dearchap commented on #1243
@dsotirakis do you want to only print global options in help for command or to be able to use specify them on cmdline after command ? For the former case you could override command help template to achieve it

[2022-10-17 11:08] #1324 closed

[2022-10-18 23:59] dearchap commented on #1277
@lorensr Can you check if this problem exists with latest release as well ? We've made some changes to default handling

[2022-10-19 03:35] Archwizard commented on #1250
Here's an simple example on v2.20.2:

main.go
[code]

example.yml
[code]

`Aliases` attributes are used to specify mapping between flag and config file structure.

[2022-10-19 13:32] #1276 closed

[2022-10-19 15:27] dearchap commented on #1250
@Archwizard The code you have posted works

[code]

[2022-10-19 15:29] dearchap commented on #1250
@sshaw Do you have a complete example to share ?

[2022-10-19 15:46] dearchap commented on #1196
@lburgazzoli I added two lines to your code

[code]

and updated your .kamel/config.yaml as follows

[code]

This is what I get when I run the code

[code]

[2022-10-19 20:29] dearchap commented on #948
Will fix as part of #269

[2022-10-19 20:29] #948 closed

[2022-10-20 07:21] lburgazzoli commented on #1196
@dearchap thanks for looking into this, two notes:

1. dogin `flags = append(flags, runFlags...)` seems counter intuitive as the `runFlags` do not belong to the root command
2. adding `run.dependencies` as an alias has  a side effect right ? so one can do things like `kamrl run --run.dependencies=foo`

[2022-10-20 14:58] lburgazzoli commented on #1196
I think what I see here is good enough,
As a suggestion, it would be nice if `NewYamlSourceFromFlagFunc` would accept also some sort of `root node`, like:

[code]

[2022-10-20 15:29] dearchap commented on #1196
The flag is searched up the context chain so it is not strictly necessary to specify the root node, unless you want the search to stop at current level

[2022-10-20 19:42] #1196 closed

[2022-10-21 08:11] FGYFFFF opened #1541 "StringSliceFlag be truncated by ",""
StringSliceFlag can distinguish different parameters by ",". But if the parameter I want comes with ",", then the string will be truncated.
In some tools, "," is recognized as part of the string, for example, protoc's --go_opt="module=***,paths=***"
So is there a way to remove the truncation for "," or is there a better way to pass a string parameter with ",".

[2022-10-21 09:59] FGYFFFF commented on #1541
like https://github.com/urfave/cli/issues/1267
I hope my string don't truncatedby ","

[2022-10-21 13:28] dearchap commented on #1541
@FGYFFFF The initial design was to have slice flags as follows  ```--foo "val1" --foo "val2" --foo "val3"``` and so on. Some people wanted a more compact form like ```--foo="val1,val2,val3"```  and for the most part it works except for the case of string slices when the string itself contains a ```,"```. Would you like to submit a PR to have a custom separator for string slices ?

[2022-10-21 13:34] #914 closed

[2022-10-21 13:36] dearchap commented on #1055
Will consider for v3 release

[2022-10-21 13:38] dearchap commented on #1071
Will consider for v3

[2022-10-21 18:47] dearchap commented on #287
@mostynb Are you up to making a PR for this ?

[2022-10-21 18:57] dearchap commented on #287
Duplicate of #674

[2022-10-21 18:57] #287 closed

[2022-10-21 18:59] mostynb commented on #287
I added line-wrapping support in #287, but the terminal's width detection is not automatic (to avoid adding new dependencies/adding binary size). Here's an example of how client code can specify the line-wrap length: https://github.com/urfave/cli/pull/1119/files#diff-4d3f36d62cad94424544bb84fc93b33b73ffe3491a4ddca81a7f825539afc19cR1161-R1169

[2022-10-21 18:59] mostynb commented on #674
I added line-wrapping support in #287, but the terminal's width detection is not automatic (to avoid adding new dependencies/adding binary size). Here's an example of how client code can specify the line-wrap length: https://github.com/urfave/cli/pull/1119/files#diff-4d3f36d62cad94424544bb84fc93b33b73ffe3491a4ddca81a7f825539afc19cR1161-R1169

So I think we can close this now.

[2022-10-21 18:59] #674 closed

[2022-10-21 19:01] dearchap commented on #1136
I think its best left to the user to handle the reflection and create the corresponding flags dynamically instead of cli library imposing the pattern

[2022-10-21 19:01] #1136 closed

[2022-10-21 19:06] dearchap commented on #1481
Dulicate of #1113

[2022-10-21 19:06] #1481 closed

[2022-10-21 19:06] dearchap commented on #1431
Duplicate of #1113

[2022-10-21 19:06] #1431 closed

[2022-10-21 19:07] dearchap commented on #1391
Duplicate of #1113

[2022-10-21 19:07] #1391 closed

[2022-10-21 19:09] dearchap commented on #1243
No way to do it right now. Nothing is planned for it yet

[2022-10-21 19:09] #1243 closed

[2022-10-21 19:09] dearchap commented on #1205
Duplicate of #1113

[2022-10-21 19:09] #1205 closed

[2022-10-21 19:13] dearchap commented on #602
Duplicate of #786 . Enum is a special case of flag validation in that the input is restricted to a certain set of strings.

[2022-10-21 19:13] #602 closed

[2022-10-21 21:49] dearchap commented on #783
I verified that this has been fixed in v2 using following code

https://github.com/coilysiren/testing-cli/blob/urfave/cli/issues/783-v2-repro/main.go

[code]

App.Name is never modified. Help template uses App.HelpName or Command.HelpName which is modified based on the context.

Given that I'm going to close this

Given that I'm going to close this

[2022-10-21 21:49] #783 closed

[2022-10-21 21:55] dearchap commented on #1154
This is a duplicate of #786 .

[2022-10-21 21:55] #1154 closed

[2022-10-21 21:57] #1217 closed

[2022-10-21 21:58] dearchap commented on #1291
Not enough information. Closing.

[2022-10-21 21:58] #1291 closed

[2022-10-21 22:04] dearchap commented on #1331
3 is a duplicate of #1113 and will be discussed there.

[2022-10-21 22:04] #1331 closed

[2022-10-21 22:10] dearchap commented on #585
This behaviour is not present in v2

[code]

[code]

Since there are workaround for v1 I am closing this issue

[2022-10-21 22:10] #585 closed

[2022-10-22 00:32] #1310 closed

[2022-10-22 03:52] sshaw commented on #1250
Thanks @Archwizard. The `Aliases` matching the log file structure are key, though a bit ugly considering they're now also command-line options.

Is [this](https://github.com/urfave/cli/issues/1250#issue-823735985) not a compete example?

[2022-10-22 19:49] #1263 closed

[2022-10-22 19:51] #1288 closed

[2022-10-23 20:22] dearchap commented on #786
So the flag validator can be performed via the Flag Action handler. I've added an example in the documentation. That should suffice for most use cases. For v3 we can look into convenience functions like LT, GT etc for basic types

[2022-10-23 23:12] dearchap commented on #1249
In general we cant have it both ways, if SkipFlagParsing is false the  behaviour is as expected. If SkipFlagParsing is set to true then output is

[code]

[2022-10-23 23:15] dearchap commented on #1185
Duplicate of #424

[2022-10-23 23:15] #1185 closed

[2022-10-23 23:40] dearchap commented on #1395
Not present in latest releases.

[2022-10-23 23:40] #1395 closed

[2022-10-24 02:44] FGYFFFF commented on #1541
ok~~~

[2022-10-25 03:59] smalnote opened #1548 "App execute wrong command when default command is set."
## My urfave/cli version is

_**( Put the version of urfave/cli that you are using here )**_

## Checklist

- [✅] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [✅] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [✅] Did you perform a search about this p

[2022-10-25 11:50] #786 closed

[2022-10-25 11:59] #1548 closed

[2022-10-27 12:28] dearchap commented on #1529
@str1ngs-bytes the one flag required out of 2 or more is covered by issue #1222 . Also I really fail to see the value of providing Args. Cant the Action check if len(ctx.Args()) == 0 and then use a preset value.

[2022-10-27 12:29] dearchap commented on #1465
Documentation added for this.

[2022-10-27 12:29] #1465 closed

[2022-10-27 12:36] dearchap commented on #1341
@AnuragThePathak I tried to reproduce this and I couldnt. I compiled a test app, set PROG to test app name and sourced the zsh_autocomplete file provided in this repo and it worked.

[2022-10-27 12:38] dearchap commented on #1332
@varun06 There was a bug in earlier versions which might have caused this. Can you try with latest release ?

[2022-10-27 12:40] dearchap commented on #1305
@flowchartsman PR #1545 might help. Can you let me know if it is what you are looking for ? We cant change the interface{} to error but breaking some clients so we'd rather not

[2022-10-27 12:41] dearchap commented on #1303
@ddouglas Can you check if latest release solves this issue for you ?

[2022-10-27 12:44] ina-stoyanova commented on #1134
I am hitting an issue, where I want to pass in `json` to a StringSliceFlag, and seeing that `urfave` actually interprets that as separate flag values by default.

Example:
- I want to be able to pass in
[code]
- and I want to be able to get back (I'm using printing to `stdout` here)
[code]
- Right now, I get:
[code]

Seems like @feedmeapples was hitting the exact same issue here. @feedmeapples did

[2022-10-27 12:45] #1165 closed

[2022-10-27 12:47] dearchap commented on #1134
@ina-stoyanova PR #1546 has a fix for this. You can set the string slice separator to something else

[2022-10-27 13:00] ina-stoyanova commented on #1134
Oh, that's great to see @dearchap! I'll keep an eye out for the latest release in the next few days (I'm pretty sure I can use the branch name until then!)

That's great timing :) Thanks for everyone's effort that has gone into it before I jumped in here 🙏🙏🙏

[2022-10-27 14:13] AnuragThePathak commented on #1341
Thanks for the info @dearchap. As of now, the project that needed it is archived, so anyways I am no longer concerned about it.

[2022-10-27 14:13] #1341 closed

[2022-10-27 15:32] dearchap commented on #852
Duplicate of #427

[2022-10-27 15:32] #852 closed

[2022-10-28 10:25] Edelweiss-Snow opened #1550 "Int64Slice not support by read toml file"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [x] Did you perform a search about this feature? Here's the [GitHub guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-10-28 13:15] #1090 closed

[2022-10-29 13:54] kameshsampath opened #1552 "How to escape "," in StringSliceValue"
I am trying to see if the `,` can be used as such when present in a flag value .

e.g.

[code]

when run `go run main.go --cache-from='type=registry,registry=example/foo'` I see the following output,

[code]
Ideally I don't expect the value to be split by `,`.

Is this bug or there is way to configure it ?

This causing another lib that uses CLI to fail https://github.com/thegeeklab/drone-docker-b

[2022-10-29 17:03] dearchap commented on #1552
@kameshsampath PR #1546 has a fix for this. It allows you to set the separator to something else. The PR has been merged but release has not been tagged yet. It should be out any day now.

[2022-10-30 07:15] kameshsampath commented on #1552
super thanks @dearchap , looking forward to it :)

[2022-10-30 07:15] #1552 closed

[2022-10-30 15:51] #1134 closed

[2022-10-30 19:07] #1524 closed

[2022-10-31 20:47] dearchap commented on #427
Okay this feature is confirmed for v3. I'd like more feedback on this. Say we define a flag for top level command

[code]
./app cmd1 --foo subcmd1
./app cmd1 subcmd1 --foo
[code]
./app --foo cmd1 subcmd1
[code]
./app cmd1 subcmd1 --f2
./app cmd1 --f2 subcmd1
./app --f2 cmd1 subcmd1
[code]
./app cmd1 subcmd1 --f1
./app cmd1 --f1 subcmd1
[code]

[2022-11-01 12:54] ricardokirkner commented on #269
This is breaking code that already defined flags that external packages are also defining. How can this behaviour be made optional? I think this behaviour should be configurable and opt-in, instead of opt-out.

[2022-11-01 15:29] hagen1778 opened #1560 "panic: flag redefined"
## My urfave/cli version is

_**v2.23.0**_

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [x] Did you perform a search about this problem? Here's the [GitHub guide](https://help.git

[2022-11-01 16:12] dearchap commented on #1560
@hagen1778 Can you set App.HideVersion to true so that the cli library doesnt append version flag ?

[2022-11-01 17:52] hagen1778 commented on #1560
Thanks for quick response @dearchap! App.HideVersion  helped.

[2022-11-01 17:52] #1560 closed

[2022-11-01 21:58] dearchap commented on #1114
@krostar so the "easiest" way to fix is to allow SkipFlagParsing at the level at which the args shouldnt be parsed and this will allow you to capture all the args

[2022-11-02 10:08] johejo commented on #1560
For example, it confuses many users to panic just by importing github.com/golang/glog.

https://go.dev/play/p/WAxoXS_BHib

[2022-11-02 18:47] #1114 closed

[2022-11-02 18:56] #1332 closed

[2022-11-03 00:51] #1249 closed

[2022-11-03 00:52] #1157 closed

[2022-11-03 01:01] dearchap commented on #1195
Verified that this issue doesnt exist in v2

[2022-11-04 10:28] y1rn opened #1566 "how to build command without sub command"
this is  [official demo with required flag](https://go.dev/play/p/3XapqAxcQOr)

## output
[code]
## expect
<pre><code>
NAME:
   play - A new cli application

USAGE:
  play  <del>command</del> [<del>command</del> options] [arguments...]

<del>COMMANDS:</del>
 <del>  help, h  Shows a list of commands or help for one command</del>

OPTIONS:
   --lang value  language for the greeting (default: "englis

[2022-11-04 12:06] dearchap commented on #1566
@y1rn Yes this is by design. Would you like to submit a PR to fix this ?

[2022-11-06 19:38] dearchap commented on #1550
PR #1551

[2022-11-06 19:38] #1550 closed

[2022-11-06 19:44] dearchap commented on #600
Duplicate of #424

[2022-11-06 19:44] #600 closed

[2022-11-06 20:17] dearchap commented on #833
I think have the Required interface for Flag creates more problems than it solves. I am considering removing it from v3. Any thoughts ?

[2022-11-06 22:23] jtagcat commented on #833
Could you elaborate? If you mean removing the option to require cli end-user in explicitly setting an option, then I'm against it. I use it in most of my apps.

[2022-11-07 15:49] dearchap commented on #833
@jtagcat Thanks for the quick feedback. Lets leave it as is then,

[2022-11-08 02:55] remiposo opened #1570 "Nested help command has a incorrect HelpName"
## My urfave/cli version is

v2.23.4

## Checklist

- [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
- [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md)
- [x] Did you perform a search about this problem? Here's the [GitHub guide](https://help.github.co

[2022-11-08 15:00] meatballhat commented on #833
@jtagcat feedback also very much appreciated over at #1559 💖

[2022-11-08 15:45] meatballhat commented on #833
Interesting! What do you have in mind? Dropping it without replacement? Moving to a separate project? Other?

[2022-11-08 16:54] dearchap commented on #833
Move it to a separate project. I dont mind dropping it as well. Its too much work for us to maintain this. The base urfave/cli should work well and allow flexible extensions to do altsrc stuff. In terms of maintenance altsrc is a can of worms, people want all sorts of features, subtrees, short paths etc etc. cli apps needs to focus on basic cli features and not nice file formats, json, yaml otherw

[2022-11-08 17:16] dearchap commented on #1570
@remiposo Yes that would be good. Can you submit a PR ? Also dont forget to add unit tests for it. TIA

[2022-11-08 17:46] meatballhat commented on #833
@dearchap Understood! I'm happy to create github.com/urfave/cli-altsrc. Sound OK?

[2022-11-08 22:32] jpreese opened #1577 "v2 branch renamed?"
When depending on a project that references `github.com/urfave/cli/v2` -- an error comes back stating that this particular version cannot be found, e.g.

[code]

I see some recent changes within the past couple hours that discusses branch strategy, so I'm wondering if `v2-maint` used to be `v2`?

[2022-11-08 23:25] meatballhat commented on #1577
@jpreese We didn't have a `v2` branch before, but the `main` branch contained a `go.mod` that declared `github.com/urfave/cli/v2` 🤔 What version of go is this project using?

[2022-11-08 23:26] #1424 closed

[2022-11-08 23:27] jpreese commented on #1577
That would be it then! This project is 1.19

[2022-11-08 23:30] meatballhat commented on #1577
Huh! This project is using go 1.19 but `github.com/urfave/cli/v2` wasn't resolving to a tag? Can you share (parts of?) your `go.mod` and `go.sum`?

[2022-11-08 23:33] meatballhat commented on #1577
For example, in an example project that depends on `github.com/urfave/cli/v2` I'm seeing:

[code]

[2022-11-08 23:37] meatballhat commented on #1577
fwiw it looks like the `go.mod` and `go.sum` in https://github.com/oxequa/realize are fine 👍🏼 I never got very comfy with `GO111MODULE` behavior, but could this be causing a fetch of https://github.com/oxequa/realize without considering it's `go.mod` and `go.sum`?

[2022-11-08 23:43] meatballhat commented on #1577
Switching to `go install github.com/oxequa/realize@latest` at least _changes_ the error, bringing some other weirdness to light:

[code]

It looks like github.com/oxequa/realize is using an invalid import 😬

[2022-11-08 23:47] meatballhat commented on #1577
oh no, it's _something else_ even, because that `gopkg.in/urfave/cli.v2` usage is in the most recent _release_, but not in that project's `master` branch

[2022-11-08 23:50] meatballhat commented on #1577
@jpreese Can you switch to installing via this command? It seems to work 🤞🏼

[code]

[2022-11-08 23:57] jpreese commented on #1577
@meatballhat tried that and it works 🎉

We'll go ahead and update our workflow to use `go install` as its the more modern way anyway. Thanks for your help!

[2022-11-09 15:07] avorima opened #1580 "Add StringMap flag"
## Checklist

* [x] Are you running the latest v2 release? The list of releases is [here](https://github.com/urfave/cli/releases).
* [x] Did you check the manual for your release? The v2 manual is [here](https://github.com/urfave/cli/blob/main/docs/v2/manual.md).
* [x] Did you perform a search about this feature? Here's the [GitHub guide](https://help.github.com/en/github/managing-your-work-on-git

[2022-11-09 15:35] dearchap commented on #1580
@avorima We are not adding any new features to v2. Would you like to submit a PR for this for v3 ?

[2022-11-09 16:27] dearchap commented on #1580
yes please use main.

[2022-11-10 01:39] #753 closed

[2022-11-11 02:16] feedmeapples commented on #1134
@ina-stoyanova @dearchap added one more PR https://github.com/urfave/cli/pull/1582 to actually allow disabling separator completely

[2022-11-11 12:34] #1570 closed

[2022-11-11 15:07] meatballhat opened #1583 "Use a core flag parser other than stdlib `flag` to unlock wider range of arg types"
tl;dr - By switching away from stdlib `flag`, we will be able to support a wider range of capabilities with significantly less workaround code.

Much of the code around here is arguably _working around_ stdlib `flag`, for example:

- concept of commands
    - nesting of commands
    - commands with aliases
- persistent flags (in progress)
- flags with aliases
- flags of types not already supported

[2022-11-13 22:06] jtagcat commented on #833
cc @dearchap @meatballhat

Hm, so... https://github.com/jtagcat/harg is now functional (and fully GNU-compatible!). I can add the remaining tests within (or at the end of) next week.

I didn't really intend to, but this is a bit working against / competing with @dearchap's work, are you fine with it?

About `harg`:
1. It takes in `map[string]*Definition`: string being the key/argument/option name,

[2022-11-13 22:32] meatballhat commented on #833
@jtagcat Are you planning to propose harg for #1583 and if so are you planning to open a pr?

[2022-11-13 22:33] jtagcat commented on #833
@meatballhat yes.

[2022-11-13 22:36] jtagcat commented on #1583
(https://github.com/urfave/cli/issues/833#issuecomment-1312834335)

[2022-11-13 22:54] jtagcat commented on #1583
This is reasonable imo, I haven't seen any use for not starting (non-argument) flags without `-`. It also majorly simplifies parsing.

[2022-11-14 00:45] meatballhat commented on #1583
@jtagcat it's a unix-y-centric way of working, imho. For example, in Windows there's strong precedent for `/` as prefix and `:` as assignment like `/{flag}:{value}`, although this also conflicts with the idea of "compound short flags" 🤷🏼  I'd like to provide a flexible way to allow for different argument styles if possible, e.g. [how argparse does it](https://docs.python.org/3/library/argparse.htm

[2022-11-14 06:47] #1566 closed

[2022-11-14 09:16] jtagcat commented on #1583
Ok, fair point.

I'd say multiple prefixes at once gets unreasonably complex. Yet swapping out (not adding to) the prefix and/or the non-space delimiter (=) is doable. Multiple parse calls with different delimiters gets you any result you could want.
For arguments without a key (eg. `@file.txt`), the caller (or a library wrapping harg) can just do a for range against (parsed) args with `strings.Ha

[2022-11-14 13:05] meatballhat commented on #1583
@jtagcat I appreciate the points you're making.

I'd love to see what an integration of [harg](https://github.com/jtagcat/harg/) for the purpose of addressing this issue looks like, if you're up for doing that work.

I'm personally interested in exploring [this approach](https://github.com/urfave/cli/pull/1584), if only to better understand how the urfave/cli layer can change.

[2022-11-15 02:29] dearchap commented on #1583
@meatballhat @jtagcat Both of you make good points. I think as software devs we'd like to make software perfect - covers all use cases, very performant, infintely extensible and so on. While a complete new parser is good, we need to see how much we can stretch stdlib flag to the max to cover most of the use cases. We cannot satisfy every user's use cases so its better to list what features beyond